<exec-epp-page-title></exec-epp-page-title>
<div nz-row>
  <div nz-col nzSpan="4">
    <exec-epp-side-bar> </exec-epp-side-bar>
  </div>
 <div nz-col nzSpan="20" class="inner-content">
<div class="page-title">
    
</div>
    <form nz-form id="familyForm" [formGroup]="validateForm" [nzLayout]="'vertical'">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="maritalStatus"
          >Marital-Status</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is required!"
        >
          <nz-select
            formControlName="maritalStatus"
            nzShowSearch
            nzAllowClear
            (ngModelChange)="onSelectMaritalStatus()"
          >
            <nz-option nzValue="Married" nzLabel="Married"></nz-option>
            <nz-option nzValue="Not Married" nzLabel="Not Married"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="relationship"
          [nzRequired]="isRelationShipRequired"
          >Relationship</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          [nzValidateStatus]="validateForm.controls['remark']"
          nzErrorTip="Please privide your relationship!"
        >
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select
                formControlName="relationship"
                class="relation-select"
                nzShowSearch="true"
              >
                <ng-container *ngFor="let rel of relationships">
                  <nz-option
                    nzValue="{{ rel.Guid }}"
                    nzLabel="{{ rel.Name }}"
                  ></nz-option>
                </ng-container>
              </nz-select>
            </ng-template>
            <input
              formControlName="remark"
              id="'remark'"
              nzPlaceHolder="provide others"
              nz-input
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="fullName"
          [nzRequired]="isFullNameRequired"
          >Full-Name</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please provide a valid full name!"
        >
          <input nz-input formControlName="fullName" id="fullName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="gender"
          [nzRequired]="isGenderRequired"
          >Gender</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is required!"
        >
          <nz-select formControlName="gender" nzShowSearch nzAllowClear>
            <nz-option nzValue="Male" nzLabel="Male"></nz-option>
            <nz-option nzValue="Female" nzLabel="Female"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="dateofBirth"
          [nzRequired]="isDoBRequired"
          >Date Of Birth</nz-form-label
        >
        <nz-date-picker
          nzErrorTip="Please input dateofBirth!"
          nzFormat="yyyy-MM-dd"
          id="dateofBirth"
          formControlName="dateofBirth"
          nzPlaceHolder="dd/mm/yy"
          [nzDisabledDate]="disabledDate"
        ></nz-date-picker>
      </nz-form-item>
    </form>
  </div>
</div>

