


::ng-deep .ant-form-item{
  margin: 0 0 15px;
}

::ng-deep .ant-form-item-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
}

.container_homepage{
  padding: 0px 1.6% ;
}


.btn-cancel{
  border: 1px solid #00A551;
  color:#00A551;
  padding: 5px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: white;
 border-radius: 2px;
}

.btn-cancel:hover{
  border: 1px solid #006E36;
  color:#006E36;
}
.btn-cancel:active{
  border: 1px solid #006E36;
  color:#006E36;
}

.btn {
  border: #00a551;
  color: #FFFFFF !important;
  padding: 5px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: #00A551;
 border-radius: 4px;
 height: 37px;
}
.btn:hover{
  background-color: #006E36;
}


.btn:active{
  background: #005228;
}

.bnt:focus{
  background-color: #00A551;
  color: #FFFFFF;
}

.btn:disabled{

  background-color:  #BFBFBF;
  border-color:#F5F5F5; 
}



.redAstrics {
  color: #f52121;
  margin-bottom: 5px;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
display: flex;
align-items: center;
color: #262626;
}


.tab-title{
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;
display: flex;
align-items: center;
color: #262626;
}

.page-edit{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

*{
  font-family: -apple-system, system-ui, BlinkMacSystemFont;

 }


.error-block
{
  color: red;
}
.btn:disabled:hover{

  background-color:  #BFBFBF !important;
  border-color:#F5F5F5 !important; 
}


.ant-btn:not([disabled]):hover {

  background: #00a551 !important;
  color: white;
}

.site-page-header
 {
   height: 77px;
 }



   
hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; }

  

  ::ng-deep .conform-modal{
    margin-bottom: 23%;
   }
   
   ::ng-deep .conform-modal .ant-modal-content {
   border: 0.5px solid #00a551;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
     width: 410px;
   height: 147px !important;
   padding-top: 0px !important;
   background: #ffffff;
   align-self: center;
   justify-self: center;
   }
   
   ::ng-deep .conform-modal .ant-modal-header {
     font-size: 16px;
     padding-bottom: 3px;
     margin-top: 2px;
     color: rgba(0,0,0,.85);
     background: #fff;
     border-bottom: none;
   }
::ng-deep .conform-modal .ant-modal-body {
padding-top: 0px;
font-weight: 485;
height: 70%;
width: auto;
font-size: 16px;
line-height: 24px;
}

::ng-deep .conform-modal  .anticon svg {
font-size: 20px;
margin-bottom: 40%;
}




.header {
  position: fixed; 
  top:3.30rem;
  width: 100%;
 }
.pageEdit{
 height: 82%;
 margin-top: 8.60rem;
 overflow-y:auto;
 width: 100%;
 margin-bottom: 1rem
}

.pageAdd{
  height: 80vh;
  overflow-y:auto;
  width: 100%;
  margin-bottom: 1rem;
 }

 .tab-content {
  padding:0px 20px 0px;
}

