
<header *ngIf="isOnEditstate" class="container_homepage mt-3">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/projectmanagement']">Projects</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="isOnEditstate"> Edit Project</nz-breadcrumb-item>
  </nz-breadcrumb>

  <div *ngIf="isOnEditstate" class="flex flex-row justify-between" nz-row>
    <div><span class="page-title"> Edit Project </span></div>
    <div >
      <button   nz-button class="btn"  [nzLoading]="saveUpdateload"   (click)="saveProjectUpdate()" [disabled]="!enableUpdateButton || validateForm.invalid">
        Update
      </button>
      <button (click)="showDeleteConfirm()" class="btn-cancel ml-4" >Cancel</button>
    
    </div>
  </div>
  <hr *ngIf="isOnEditstate" />
</header>

<nz-spin [nzSpinning]="isSpinning"  [ngClass]="isOnEditstate ? 'pageEdit  ' : 'pageAdd '">
   <div   [ngClass]="isOnEditstate ? 'page-edit mt-1 ' : 'mt-2 tab-content  '">
<div  *ngIf="!isOnEditstate" nz-row class="tab-title mb-1">Project Details</div>
    <form class="w-full max-w-4xl mb-2" nz-form [nzLayout]="'vertical'" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label class="" [nzSm]="6" [nzXs]="24" nzFor="projectName">Project Name &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
            class="bi bi-asterisk redAstrics" viewBox="0 0 16 16">
            <path
              d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
            </svg></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="20">
          <input nz-input formControlName="projectName" id="projectName" />

          <span *ngIf="formErrors.projectName" class="error-block">
           {{formErrors.projectName}}
          </span>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="projectType">Project Type &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
            class="bi bi-asterisk redAstrics" viewBox="0 0 16 16">
            <path
              d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
            </svg></nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select id="projectType" formControlName="projectType" nzPlaceHolder="Select Project Type">
            <nz-option nzValue="External" nzLabel="External"></nz-option>
            <nz-option nzValue="Internal" nzLabel="Internal"></nz-option>
          </nz-select>
          <div class="error-block" *ngIf="formErrors.projectType">
            {{ formErrors.projectType}}
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="projectType.value === 'External'">
        <nz-form-label [nzSm]="6" nzFor="clientName">Client Name &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
            class="bi bi-asterisk redAstrics" viewBox="0 0 16 16">
            <path
              d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
            </svg></nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select nzShowSearch nzAllowClear id="clientName" formControlName="client"
            nzPlaceHolder="Select client Name">
            <ng-container *ngFor="let client of clients">
              <nz-option *ngIf="client.ClientName !== 'Internal' && client.ClientName !== 'Leave' " nzLabel="{{ client.ClientName | titlecase }}"
                [nzValue]="client.Guid"></nz-option>
            </ng-container>
          </nz-select>
          <div class="error-block" *ngIf="formErrors.client">
           {{formErrors.client}}
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isOnEditstate">
        <nz-form-label nzFor="status">Status &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
            class="bi bi-asterisk redAstrics" viewBox="0 0 16 16">
            <path
              d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
            </svg></nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select nzShowSearch nzAllowClear id="clientName" formControlName="status"
            nzPlaceHolder="Select project status">
            <ng-container *ngFor="let status of projectStatuses">
              <nz-option nzLabel="{{ status.StatusName }}" [nzValue]="status.Guid"></nz-option>
            </ng-container>
          </nz-select>
          <div class="error-block" *ngIf="formErrors.status">
            {{formErrors.status}}
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="supervisor">Supervisor &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
            class="bi bi-asterisk redAstrics" viewBox="0 0 16 16">
            <path
              d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
            </svg></nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select nzShowSearch nzAllowClear id="supervisor" formControlName="supervisor"
            nzPlaceHolder="Select Supervisor Name">
            <nz-option *ngFor="let employee of employees" nzLabel="{{ employee.Name | titlecase }}-{{ employee.Role | titlecase }}"
              [nzValue]="employee.Guid"></nz-option>
          </nz-select>
          <div class="error-block" *ngIf="formErrors.supervisor">
          {{formErrors.supervisor}}
          </div>
        </nz-form-control>
      </nz-form-item>

      <div nz-row [nzGutter]="12">
        <nz-col nzXs="24" nzSm="18" nzMd="12" nzLg="7">
          <nz-form-item>
            <nz-form-label nzFor="startValue">Start Date &nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                class="bi bi-asterisk redAstrics" viewBox="0 0 16 16">
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                </svg></nz-form-label>

            <nz-form-control [nzXs]="24">
              <nz-date-picker style="display: block" #startDatePicker (ngModelChange)="onProjectDateSelected()"
                [nzDisabledDate]="disabledStartDate" nzFormat="dd-MM-yyyy" formControlName="startValue"
                nzPlaceHolder="Start Date" ></nz-date-picker>
            </nz-form-control>
            <div class="error-block" *ngIf="formErrors.startValue">
             {{formErrors.startValue}}
            </div>
          </nz-form-item>
        </nz-col>

        <nz-col nzXs="24" nzSm="18" nzMd="15" nzLg="7">
          <nz-form-item>
            <nz-form-label [nzSm]="14">End Date</nz-form-label>

            <nz-form-control [nzXs]="24">
              <nz-date-picker [nzShowToday]="false" style="display: block" #endDatePicker [nzDisabled]="disabled"
                [nzDisabledDate]="disabledEndDate" nzFormat="dd-MM-yyyy" formControlName="endValue" nzPlaceHolder="End Date"
               ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </div>
      <nz-form-item nz-col nzSpan="14">
        <nz-form-label>Description</nz-form-label>
        <div class="form-control">
          <textarea formControlName="description" nz-input rows="3" placeholder="Description"></textarea>
        </div>
      </nz-form-item>
    </form>
  </div>
 
</nz-spin>

<nz-modal (nzOnCancel)="confirmCancel()" [(nzVisible)]="cancelModal"  nzTitle="Cancel" [nzFooter]="null"
  [nzCentered]="true" [nzClosable]="true" nzClassName="conform-modal">

  <ng-container *nzModalContent>
    <p *ngIf="isOnEditstate">Are you sure to cancel before updating project ?</p>
    <span class="flex justify-end">
      <button class="btn mr-8" (click)="confimeresredirect()"> Yes </button>
      <button class="btn-cancel" (click)="rediretCancel()"> No </button>
    </span>
  </ng-container>
</nz-modal>
