::ng-deep .ant-tabs-nav {
  width: 266px !important;

  font-size: 26px !important;
}

::ng-deep .ant-tabs-tab-btn {
  color: #8c8c8c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

::ng-deep .ant-form-item-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.createButton {
  background: #00a551;
  border-color: #00a551;
  border-radius: 5%;
  color: white;
}





.createButton :hover{

  background-color:rgb(red, green, blue);


}

::ng-deep .ant-btn-primary  {
  background: #00a551;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFF;
}




.redAstrics {
  color: #f52121;
  margin-bottom: 5px;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;

  /* Body Text/ Shade 1 */

  color: #262626;

}

.tab-content {
  padding:0px 20px 25px;
  height: 109vh;
  margin-bottom: 5rem;
}
*{
  font-family: -apple-system, system-ui, BlinkMacSystemFont;

 }
nz-tab {
  font-weight: 500;
  font-size: 16px;
}

.error-block
{
  color: red;
}






  ::ng-deep .ant-tabs-tab {
    color: #363636 !important;

  }



::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {

 box-shadow: inset -2px 0px 0px #DADADA !important;

  }

  ::ng-deep .ant-tabs-nav-scroll {
    display: flex !important;
    justify-content: center !important;
  }


  ::ng-deep .ant-tabs-tab:hover {
    color: #595959 !important;
  }

  ::ng-deep ant-tabs-tab.ant-tabs-tab-active {
    background: #DCFFDC !important;
  }



 ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {

  font-size: 16px !important;
  font-weight: 500 !important;;

  display: flex !important;;
  align-items: center !important;;

  color: #595959 !important;
}










::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {


  box-shadow: inset 0px -1px 0px #DADADA !important ;

  }


::ng-deep .ant-tabs-ink-bar {
  color:#595959 !important;
  background-color:#000000 !important;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color:#595959 !important;
  font-size: 16px !important;

}
::ng-deep .ant-tabs-tab:hover {
  color: #262626 ;
}

::ng-deep .ant-btn:active, .ant-btn:focus, .ant-btn:hover {

  background:none !important;

}
.ant-btn:not([disabled]):hover {

  background: #00a551 !important;
  color: white;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;

  text-shadow: 0 0 .25px currentColor;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active {
  background: #DCFFDC;
}


.site-page-header
 {
   height: 77px;
 }

 header { 
  padding: 0px 1.6%;
}

   
hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; }

  
  ::ng-deep .delete-conform-modal {
    width: 328px !important;
}

::ng-deep .delete-conform-modal .ant-modal-content {
  border: 0.5px solid #00a551;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 328px;
  height: 220px;
  background: #ffffff;
  align-self: center;
  justify-self: center;
}

::ng-deep .delete-conform-modal .ant-modal-body {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

::ng-deep .delete-conform-modal .yes-delete-btn {
  background-color: #00a551 !important;
  border: #00a551;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  position: static;
  width: 109px;
  height: 38px;
  left: 74px;
  top: 0px;
  color: #ffffff !important;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

::ng-deep .delete-conform-modal .cancel {
  border: 0.5px solid #00a551;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  position: static;
  width: auto;
  height: 38px;
  left: 74px;
  top: 0px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00a551;
}
