.card-view {
  margin: 20px auto;
  border-radius: 10px;
  width:fit-content;
  min-width: 30%;
  border-width: 0.75px;
  border-color: #DADADA;
  max-width: 300px;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.info{
    padding-top:20px;
    text-align: center;
}
a {
  color: #1890ff;
}