<div class="page-header" style="background: white">
  <nz-page-header style="padding: 0px 24px; box-shadow: 0px 1px 1px rgba(84, 84, 84, 0.25);">
    <nz-page-header-title class="flex flex-row">
      <img style="height: 22px" src="assets/images/icon_nav.png" />
     <a [href]="redirectUrl">
      <img style="height: 22.48px; padding-left: 12px" src="assets/images/Union.png"/>
     </a>
      <a [href]="redirectUrl">
        <img style="height: 30.15px; padding-left: 6.37px" src="assets/Enterprise_Project_portfolio.png" />
      </a>
      
    </nz-page-header-title>
    <nz-page-header-extra class="flex flex-row">
   
      <button nz-button nzType="text" style="background-color: #fff; display: none;">
        <nz-badge [nzCount]="12" >
          <i nz-icon [nzType]="'bell'" [nzTheme]="'outline'" style="size: 20%;"></i>
        </nz-badge>
      </button>
 
      <button nz-button class="userIcon" nz-primary nzDanger nzShape="circle"> </button>
    
    </nz-page-header-extra>
  </nz-page-header>
</div>
