
<br/>
<!--nzSelected ---->
<ul nz-menu nzMode="inline" >
  <li nz-menu-item  nzSelected routerLink="/employee/add-employee/personal-info">
    <i class="nz-icon" nz-icon [nzType]="'unordered-list'" [nzTheme]="'outline'"></i>
    Personal details
  </li>
  <li nz-menu-item  routerLink="/employee/add-employee/address-view">
    <i
      class="nz-icon"
      nz-icon
      [nzType]="'environment'"
      [nzTheme]="'outline'"
    ></i
    >Personal Address
  </li>
  <li nz-menu-item routerLink="/employee/add-employee/family-detail-view">
    <i class="nz-icon" nz-icon [nzType]="'file-text'" [nzTheme]="'outline'"></i>
    Family Detail
  </li>
  <li nz-menu-item routerLink="/employee/add-employee/emergencycontacts-view">
    <i class="nz-icon" nz-icon [nzType]="'contacts'" [nzTheme]="'outline'"></i>
    Emergency Contact
  </li>
  <li nz-menu-item routerLink="/employee/add-employee/Organization-Detail">
    <i class="nz-icon" nz-icon [nzType]="'apartment'" [nzTheme]="'outline'"></i>
    Organization details
  </li>
</ul>
