nz-content {
  padding: 0 120px;
  width: 100%;
}

.inner-content-menu {
  background: #fff;
  height: auto;
  padding: 0px 24px;

}


.inner-content {

  background: #fff;
  height: auto;
  float: left;
  padding: 0;

  margin: 10px -117px;

}

.Input-caption-messag-3{
  position:relative;

  margin-left:0px;
  margin-right:0px;
  flex-grow:1;
  margin-top:0px;
  margin-bottom:0px;
  min-height:20px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(140, 140, 140, 1);
  font-style:normal;
  font-family:SF Pro Display;
  font-weight:400;
  font-size:12px;
  line-height:20px;
}
.phone-select {
  width: 70px;
}

.Entry-Employee-area {
  margin-top: 0px;
  border: 0px dashed #e9e9e9;
  border-radius: 6px;
  min-height: 200px;
  text-align: center;
  padding-top: 10px;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
.search-area {
  text-align: right;
  margin-left: 8px;
}

#rightbox{
  float:top;
  background:blue;
  width:25%;
  height:280px;
}

.User-avatar{
  position:relative;

  margin-left:162px;
  width:26px;
  min-width:26px;
  height:26px;
  margin-top:-28px;
  margin-bottom:2px;
  min-height:26px;
}
.User-avatar-outer{

  position:relative;
  display:flex;
}
.Avatar{
  position:relative;

  margin-left:593px;
  width:159px;
  min-width:159px;
  height:166px;
  margin-top:-594px;
  margin-bottom:428px;
  min-height:166px;
}
.Avatar-outer{

  position:relative;
  display:flex;
}
.Avatar-1{
  position:relative;

  margin-left:0px;
  width:38px;
  min-width:38px;
  margin-top:0px;
  margin-bottom:144px;
  min-height:22px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(38, 38, 38, 1);
  font-style:normal;
  font-family:SF Pro Display;
  font-weight:400;
  font-size:14px;
  line-height:22px;
}
.Avatar-1-outer{

  position:relative;
  display:flex;
}
.avatar-ellipse-custo{
  position:relative;
  margin-left:0px;
  width:80px;
  min-width:80px;
  height:80px;
  margin-top:-136px;
  margin-bottom:56px;
  min-height:80px;
}
.avatar-ellipse-custo-outer{

  position:relative;
  display:flex;
}
.master-avatar-ellips{
  position:relative;

  margin-left:0px;
  width:80px;
  min-width:80px;
  height:80px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:80px;
}
.master-avatar-ellips-outer{

  position:relative;

}
.master-plate-avatar-{
  position:relative;

  margin-left:0px;
  width:80px;
  min-width:80px;
  height:80px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:80px;
}
.master-plate-avatar--outer{

  position:relative;

}
.file-input {
  display: none;
}

.Ellipse{
  position:relative;

  pointer-events:none;
  margin-left:55%;

  margin-top:250%;

}
.Ellipse-outer{

  position:absolute;

  width:100%;
  height:100%;
  left:0;
  top:0;
}

.Upload-new-avatar{
  position:relative;

  margin-left:0px;
  margin-right:50px;
  height:22px;
  margin-top:450px;
  text-align:center;

  justify-content:center;
  color:rgba(89, 89, 89, 1);
  font-style:normal;
  font-family:SF Pro Display;
  font-weight:400;
  font-size:14px;
  line-height:22px;
}
.Upload-new-avatar-outer{
  pointer-events:none;

  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
  align-items:center;
}

