<exec-epp-page-title></exec-epp-page-title>
<div nz-row>
  <div nz-col nzSpan="4">
    <exec-epp-side-bar> </exec-epp-side-bar>
  </div>
  <div nz-col nzSpan="20" class="inner-content">
    <div class="page-title">
     
    </div>
    <form nz-form id="myForm" [formGroup]="validateForm" [nzLayout]="'vertical'">
      <div nz-row>
        <i nz-icon nzType="user" nzTheme="outline"></i> &nbsp;
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
            <button nz-button class="btn">
              <i nz-icon nzType="upload"></i>
              Upload
            </button>
          </nz-upload>
        </nz-form-item>
      </div>
&nbsp; &nbsp;
        <div nz-col nzSpan="4">
          <button nz-button>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
            Delete
          </button>
        </div>

      </div>
      <br />

     
     
      <nz-form-item>
        <nz-form-label [nzSm]="12" [nzXs]="24" nzFor="employeeNumber" nzRequired>Employee Identification Number
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
      <nz-input-group nzCompact>
        <nz-select class="id-select" [ngModel]="'Option1'">
          <nz-option [nzLabel]="'ETS'" [nzValue]="'ETS'"></nz-option>
          <nz-option [nzLabel]="'ETS-PT'" [nzValue]="'ETS-PT'"></nz-option>
        </nz-select>  &nbsp; 
        <input formControlName="employeeNumber" id="'employeeNumber'" nz-input [ngModel]="'000097'" style="width:43%;" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>





      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input id="firstName" formControlName="firstName" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName">Middle Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input id="firstName" formControlName="firstName" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">Last Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input id="firstName" formControlName="firstName" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender" nzRequired>Gender</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select your gender!">
          <nz-select id="gender" formControlName="gender" nzPlaceHolder="Gneder">
            <nz-option nzValue="male" nzLabel="male"></nz-option>
            <nz-option nzValue="female" nzLabel="female"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateofBirth" nzRequired>Date Of Birth</nz-form-label>
        <nz-form-control [nzErrorTip]="errordateofBirth" [nzSm]="14" [nzXs]="24"
          nzErrorTip="Please input date of birth!">
          <nz-date-picker class="date" nzFormat="dd.MM.yyyy" id="dateofBirth" formControlName="dateofBirth"
            placeholder="dateofBirth" [(ngModel)]="dateofBirth">
          </nz-date-picker>
          <ng-template #errordateofBirth let-control>
            <ng-container *ngIf="control.hasError('required')">Please pick employee's date of Birth</ng-container>
            <ng-container *ngIf="control.errors?.isFutureDate">You picked a futrue date. Please pick a valid date
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4"> E-mail </nz-form-label>
        <nz-form-control [nzSm]="23" [nzXs]="24" nzErrorTip="Please input Employee's E-mail or delete this field.">
          <input  formControlName="personalEmail" class="passenger-input" nz-input placeholder="placeholder" />
          <i i nz-icon nzType="plus-circle" class="add-button"></i>
          <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
        </nz-form-control>
      </nz-form-item>

      

      <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4">Nationality </nz-form-label>
        <nz-form-control [nzSm]="23" [nzXs]="24" nzErrorTip="Please input Employee's E-mail or delete this field.">
          <input  formControlName="nationality" class="passenger-input" nz-input placeholder="placeholder" />
          <i i nz-icon nzType="plus-circle" class="add-button"></i>
          <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
        </nz-form-control>
      </nz-form-item>



      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
        <nz-form-control [nzSm]="21" [nzXs]="24">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                <nz-option nzLabel="✚251" nzValue="✚251"></nz-option>
                <nz-option nzLabel="✚226" nzValue="✚226"></nz-option>
              </nz-select>
            </ng-template>
            <input class="passenger-input" formControlName="phoneNumber" id="'phoneNumber'" nz-input />
            <i i nz-icon nzType="plus-circle" class="add-button"></i> &nbsp;
            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
    </form>
  </div>
</div>