<nz-layout >
    <nz-content>
      <nz-divider nzType="horizontal"></nz-divider>
      <div style="margin-top: -40px;" class="inner-content">
        <div nz-row>       
            <div nz-col nzSpan="14" >
              <h2 class="PageHeader">
                Users
              </h2>
            </div>
            <div nz-col nzSpan="2"  nzOffset="8">
              <button nz-button nzType="primary" class="adduser">
                Add User
            </button>
            </div>
        </div>
        
        <div [formGroup]="userDashboardForm" nz-row>
          <div nz-col class="gutter-row" [nzSpan]="8">
            <nz-input-group [nzPrefix]="suffixIconButton">
              <input type="text" #searchInput formControlName="userName" nz-input placeholder="Search here" (change)="SearchUsersByUserName()" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="default" style="border-width: 0px;" (click)="SearchUsersByUserName()">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </div>
        </div>
        <div  nz-row nzJustify="end" *ngIf="userList.length > 0">
          <p>Showing {{beginingRow}} - {{lastRow}} of  {{totalRecord}} entries</p>
          <nz-pagination [nzDisabled]="loading" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="totalRecord"
            nzSimple (nzPageIndexChange)="PageIndexChange($event)"></nz-pagination>
        </div>
        <br/>
        <div nz-row style="margin-top:-10px">
          <div nz-col class="gutter-row" nzSpan="24">
              <nz-table [nzLoading]="loading" nzSize="middle" #rowSelectionTable [nzFrontPagination]="false" [nzData]="userList"
                nzTableLayout="auto">
                <thead>
                  <tr>
                    <th class="table_heading" *ngFor="let column of listOfColumnsFullName"
                      [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                      [nzSortDirections]="column.sortDirections">{{column.name}}</th>
  
                    <th class="table_heading" *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder"
                      [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
                      [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter"
                      [nzFilterFn]="column.filterFn">{{ column.name }}</th>
                    <th class="table_heading">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of rowSelectionTable.data; let indexOfelement=index;" [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'">
                    <td>{{user.FullName }} </td>
                    <td>{{user.LastActivityDate | date:'MMM d, y' }}</td>
                    <td>{{user.Department }}</td>
                    <td>{{user.JobTitle }}</td>
                    <td>
                        <button nz-button [nzSize]="size"  disabled class = "userstatus">
                          {{user.Status}}
                        </button>
                    </td>
                    <td>
                      <button nz-button nzType="default" style="border:0px" nzType="link" [nzSize]="size"  nz-popover nzPopoverTitle=""
                        [nzPopoverContent]="contentTemplate"
                        nzPopoverPlacement="bottom"><span>...</span>
                        </button>
                    </td>
                    <ng-template #contentTemplate>
                      <div>
                        <nz-space nzDirection="vertical">
                        <button class="actionButtons" *nzSpaceItem [nzSize]="size" nzType="link"  nz-button nzType="default" (click)="ShowDetail(user.UserId)">
                          Show Detail
                        </button>
                        <button class="actionButtons" *nzSpaceItem [nzSize]="size" nzType="link"  nz-button nzType="default" (click)="AddToGroup(user.UserId)">
                            Add to group
                        </button>
                        <button class="actionButtons" *nzSpaceItem [nzSize]="size" nzType="link" nz-button nzType="default" (click)="Remove(user.UserId)">
                         Remove
                        </button>
                        </nz-space>
                      </div>
                    </ng-template>
                  </tr>
                </tbody>
              </nz-table>
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
  