.table_heading
{
  background-color: #fafafa !important;
  font-weight: 550;
  font-size:small;
}

.table_evenrow_heading
{
background-color: none !important;
}

.table_oddrow_heading
{
background-color: none !important;
}

.inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
}

tr:nth-child(even) {background: white}

a {
  padding-right: 0.6vw;
  color: #262626;
}

nz-table.table-container.ant-table-wrapper {
  padding-top: 1%;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active {
  background:none !important;
}

tr.ant-table-row.ng-star-inserted {
  height: 56px !important;
  padding:16px !important;
}
.main_container_homepage {
  padding: 0px 2%;
}

::ng-deep .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  content:none !important;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color:#00A551 !important;
  font-size: 16px !important;
}
::ng-deep .ant-tabs-tab:hover {
  color: #262626 !important;
}
::ng-deep .ant-tabs-ink-bar {

  background:#00A551 !important;

}
::ng-deep .ant-tabs-content-holder {

  font-family: SF Pro Display !important;

}
::ng-deep .ant-table-content {
  font-size: 16px !important;
}

.ant-table-column-sorter:active {
  color: #bfbfbf;

  transition: color .3s;
}

::ng-deep .ant-table {
  border: 1px solid #ddd !important;
}

tr.ant-table-row.ng-star-inserted {
  height: 56px !important;
  padding:16px !important;
}

::ng-deep .ant-table-content {
  font-size: 16px !important;
}

.ant-table-column-sorter:active {
  color: #bfbfbf;

  transition: color .3s;
}

::ng-deep .ant-table {
  border: 1px solid #ddd !important;
}


::ng-deep .ant-table-pagination.ant-pagination {
   display: none !important;
}
.ant-pagination {
  float: right;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.userstatus {
  background-color: #deeede;
  border-color: black;
  color: #00a551;
  text-align: center;
  width: 90px;
}

button.userstatus:hover {
  border-color: #e3fae3;
  background-color: #e3fae3;
  color: #00a551;
}

button.namebutton button.namebutton:hover button.namebutton:active {
  border:0px solid;
  color: black;
}

.userstatus {
  border-color: #DCFFDC;
  background-color: #DCFFDC;
  color: #00a551;
  text-align: center;
  width: 90px;
}

::ng-deep .adduser .ant-btn-primary[disabled],.ant-btn-primary[disabled]:active,.primary[disabled]:hover
.ant-btn-primary[disabled]:focus .ant-btn-primary[disabled]:focus .ant-btn-primary[disabled]:hover {
  color: rgba(0,0,0,.25) !important;
  border-color: #d9d9d9 !important;
  background: #f5f5f5 !important;
  text-shadow: none;
  box-shadow: none;
}

button span {
  display: list-item;
  text-orientation: sideways;
  transform: rotate(-90deg);
  font-weight: 900;
  color: gray;
}

button.actionButtons, button.actionButtons:hover, button.actionButtons:active {
  border:0px;
  color:black;
}

.PageHeader {
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #262626;
}

.label {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0,0,0,.85);
  margin-bottom: 2px;
  font-weight: 500;
  --antd-wave-shadow-color: #18ffba;
}
.required::after {
  content: ' *';
  color: red ;
}
.muted {
  color: #777;
  font-style: italic;

}
.right-footer{
  text-align: left;
  align-items: left;
  margin-left: 0px;
}
::ng-deep .ant-btn-primary {
  color: #fff;
  background-color: #00a551;
  border-color: #00a551;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);

}





.modal-footer-btn {
  height: 38px;
  min-width: 61px;
  border: solid 1px #00a551;
}
.clear-btn:hover{
  color: #00a551;
}
.ant-btn-default{
  background-color: white;
  color: #00a551;
}
.def{
  color: #00A551;
}

.ant-btn-link,.ant-btn-link:focus, .ant-btn-link:hover {
  color: black !important
}

::ng-deep .ant-table-column-sorters {
      float: left !important;
  }


::ng-deep .ant-table-filter-column {
  display: inline-flex !important;

}
::ng-deep .ant-table-filter-trigger.active{
  color:#595959;
}
.l-btn{
  margin-right: 10px !important;
}


::ng-deep.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00A551 !important;
  border-color: #00A551 !important;
  color: black !important;
}

::ng-deep.ant-dropdown-menu-item-selected,
         .ant-dropdown-menu-submenu-title-selected {
  color: black;
}

::ng-deep .ant-table-filter-open{
  color:#595959 !important;
 }

::ng-deep .ant-table-column-sorter {
  margin-left: 5px !important;
}

::ng-deep .defaultcolor .ant-btn .ant-btn-primary .ant-btn-sm .ant-btn-primary:focus
          .ant-btn-primary:hover
{
  background-color: #00A551 !important;
  border-color: #00A551 !important;
  color: black !important;
}

::ng-deep .defaultcolor .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00A551 !important;
  border-color: #00A551 !important;
  color: black !important;
}

::ng-deep .defaultcolor .ant-checkbox-inner {
  border-color: black !important;
}
::ng-deep .defaultcolor .ant-input-affix-wrapper {
  padding: 1px 5px !important;
}
::ng-deep .defaultcolor .ant-checkbox-inner {
  border-color: black !important;
}

::ng-deep .defaultcolor .ant-input-affix-wrapper {
  padding: 1px 5px !important;
}

::ng-deep .defaultcolor .ant-btn-link .ant-btn-link:active
          .ant-btn-link:hover .ant-btn-link:focus {
  background-color: white !important;
  border-color: white !important;
  color: #00A551 !important;
  font-weight: unset !important;
}

::ng-deep .actionbuttons .ant-btn-link, .ant-btn-link:active, 
          .ant-btn-link:hover, .ant-btn-link:focus {
  background-color: white !important;
  border-color: white !important;
  color: black !important;
}



::ng-deep .actionButtons .ant-btn .ant-btn:active
          .ant-btn:hover .ant-btn:focus {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}

::ng-deep .ant-btn-primary, .ant-btn-primary:hover,
          .ant-btn-primary:active, .ant-btn-primary:focus{
  background-color: #00A551 !important;
  border-color: #00A551 !important;
  color: white !important;
}

/* ::ng-deep .right-footer .ant-btn-primary:hover {
  background-color: #00A551 !important;
  border-color: #00A551 !important;
  color: white !important;
} */

::ng-deep .defaultcolor .ant-icon {
  color: #595959;
}

.disableAddUserButton {
    color: rgba(0,0,0,.25) !important;
    border-color: #d9d9d9 !important;
    background: #f5f5f5 !important;
    text-shadow: none;
    box-shadow: none;
}

.addUserActions {
  text-align: right;
}



::ng-deep  .ant-btn-primary
 {
  color: white;
  border-color: #00a551;
  background-color: #00a551;
  text-shadow: none;
  box-shadow: none;
}
::ng-deep .ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: #2fad6c;
  border-color: #00a551;
}
::ng-deep  .ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  color: rgba(0,0,0,.25) !important;
  border-color: #d9d9d9 !important;
  background-color: #f5f5f5 !important;
  text-shadow: none;
  box-shadow: none;
}

::ng-deep .addUserActions .ant-btn
.ant-btn:hover
.ant-btn:focus
.ant-btn:active {
  color: rgba(0,0,0,.25) !important;
  border-color: #d9d9d9 !important;
  background-color: #f5f5f5 !important;
  text-shadow: none;
  box-shadow: none;
}

::ng-deep .addUserActions.nz-button {
  margin-right: 8px;
  margin-bottom: 12px;
}

.tdstyle{
  font-size: small;
}

::ng-deep .ant-spin-dot-item  {
  background-color: #00A551;
}

::ng-deep .defaultcolor .ant-table-filter-open {
  color: #595959;
}

::ng-deep .defaultcolor .ant-table-filter-dropdown .ant-table-filter-dropdown-btns 
.ant-btn-sm {
  border-color: white !important;
  background-color: white !important;
  color: #00a551;
}

.pagination {
  margin-top:10px;
}

section{
  height: 79vh;
  overflow-y:auto;
  background: white;
 }