<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<form >

  <img [src]="imageUrl" width="50" height="50" alt="" >

  <input  nzPopover Title="Maximum of 2Mb" style="background:inherit;"  type="file"  (change)="onFileSelected($event)">
  <button nz-button nzType="primary" type="submit" (click)="submit()">Upload</button>

</form>-->

   <angular-file-uploader style="bottom: 2px;right: 2px; position:absolute; width: 10px; height: 10px;" [config]="afuConfig">
      </angular-file-uploader>
