.date-column-with-highlight {
    @media screen and (min-width: 1024px) {
        .date-column-timesheet {
            min-height: 65vh;
            height: auto;
        }
    }

    &:hover {
        border-width: 2px;
        border-color: #00A551;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    }
  
    &:hover .date-column-highlight {
        opacity: 1;
    }
}

.date-column-with-no-highlight {
    @media screen and (min-width: 1024px) {
        .date-column-timesheet {
            min-height: 65vh;
            height: auto;
        }
    }
}

.more-txt{
    margin: left 0px !important;
    align-self:start !important;
}
  
  