<h5 class="day mr-2 sm:mt-6 font-sans text-lg font-medium lg:text-center">{{item}}</h5>
<div class="{{ dateColumnHighlightClass }} flex justify-center items-center rounded-md border border-gray-300 mr-2 mt-2 sm:mb-10 h-100" (click)="showFormDrawer()">
  <svg class="date-column-highlight opacity-0   absolute w-20 h-8  hidden  lg:block "  viewBox="0 0 40 40" fill="none">
    <path
      d="M18.8281 5.9375H21.1719C21.3802 5.9375 21.4844 6.04167 21.4844 6.25V33.75C21.4844 33.9583 21.3802 34.0625 21.1719 34.0625H18.8281C18.6198 34.0625 18.5156 33.9583 18.5156 33.75V6.25C18.5156 6.04167 18.6198 5.9375 18.8281 5.9375Z"
      fill="#00A551"/>
    <path
      d="M6.875 18.5156H33.125C33.3333 18.5156 33.4375 18.6198 33.4375 18.8281V21.1719C33.4375 21.3802 33.3333 21.4844 33.125 21.4844H6.875C6.66667 21.4844 6.5625 21.3802 6.5625 21.1719V18.8281C6.5625 18.6198 6.66667 18.5156 6.875 18.5156Z"
      fill="#00A551"/>
  </svg>
  <div class="date-column-timesheet  w-full">
    <div #col class="flex justify-between">
      <h1 class="date mt-2 ml-2 font-sans text-xl font-normal text-gray-500"> {{dates1}} </h1>
      <h3 class="hour mt-2 mr-2 font-sans text-base font-normal text-gray-500">{{ totalHours }} Hrs</h3>
    </div>
    <div #entries *ngFor="let timeEntry of timeEntrys;let i=index" class="w-full">
      <app-project-name-palet [timeEntry]="timeEntry"
          [timesheetApproval]="timesheetApprovalForaProject(timeEntry.ProjectId)"
          (projectNamePaletClicked)="onProjectNamePaletClicked($event)"
          (paletEllipsisClicked)="onPaletEllipsisClicked($event)" (editClicked)="onEditButtonClicked($event)">
        </app-project-name-palet>
    </div>

    <div class="w-full grid justify-end lg:hidden" (click)="showFormDrawer()">
      <svg class="stroke-current text-green-600 text-xl mb-4 mt-4 mr-4" viewBox="64 64 896 896" focusable="false"
        fill="currentColor" width="1em" height="1em" data-icon="plus-circle" aria-hidden="true">
        <path
          d="M696 480H544V328c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v152H328c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h152v152c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V544h152c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8z">
        </path>
        <path
          d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
        </path>
      </svg>
    </div>
    
    <div *ngIf="checkOverflow(col) && moreEntries.length >0" #btn
      class="more-btn w-full flex flex-col items-end pt-2 mt-0 mb-2 pb-2 w-full justify-between h-10 pt-2  text-left "
      style="width:inherit; background-color: #DCFFDC;margin-top:0px;" nzVisible="overflow" (click)="onClick()">
      <h2 class="more-txt font-sans font-normal text-base ml-2 ">More</h2>
      <a nz-popover [(nzPopoverVisible)]="morePopover" nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="right" (click)="onClick()" class="mr-0  " style="position:absolute;"></a>
    </div>

    <ng-template #contentTemplate>
      <div *ngFor="let timeEntry of moreEntries ;let i = index;">
        <ng-container>
          <app-project-name-palet [timeEntry]="timeEntry" (projectNamePaletClicked)="onProjectNamePaletClicked($event)"
            (paletEllipsisClicked)="onPaletEllipsisClicked($event)" (editClicked)="onEditButtonClicked($event)">
          </app-project-name-palet>
        </ng-container>
      </div>
    </ng-template>
    <div #pt style="margin-bottom:0;"></div>
  </div>
</div>

<!-- <i nz-icon nzType="plus-circle" nzTheme="outline"></i> -->


