
.date-column {
    
    .date-column-highlight {
        position: absolute;
        margin-top: 271px;
        margin-left: 76px;

        opacity: 0;
    }

    /*
    .app-project-name-palet{
        width: 100%;
    }
    */
@media screen and (min-width: 1024px) {
    .date-column-timesheet {
                height: 36rem;
            }
          }
        

        .date-and-hour {
            display: flex;
            justify-content: space-between;
    
            .date {
                width: 55px;
                height: 28px;
                margin-top: 6px;
                margin-left: 8px;
            
                color: #595959;
                font-family: sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 20px;
                line-height: 28px;
            }
    
            .hour {
                width: 76px;
                height: 28px;
                margin-top: 8px;
                margin-right: 8px;
            
                color: #595959;
                font-family: sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: right;
            }
        }
    

    &:hover {
        border-width: 2px;
        border-color: #00A551;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    }

    &:hover .date-column-highlight {
        opacity: 1;
    }
}

