
.main_container_homepage {
  padding: 0px 1.6%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

}


.page-title {


  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;

  /* Body Text/ Shade 1 */

  color: #262626;


}



hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}



.tab-content {

  height: 100vh;

}

::ng-deep .ant-btn:active,
.ant-btn:focus,
.ant-btn:hover {

  background: none !important;

}

.ant-btn:not([disabled]):hover {

  background: #00a551 !important;
  color: white;
}

.addButton {
  background-color: #00A551;
  color: white;
  height: 40px;

}