<exec-epp-page-title></exec-epp-page-title>
<div nz-row>
    <div nz-col nzSpan="4">
        <exec-epp-side-bar> </exec-epp-side-bar>
    </div>
    <div nz-col nzSpan="20" class="inner-content">
        <div nz-row>
    <div nz-col nzSpan="20" >
            <div nz-col nzSpan="20">
                <h1>Addresses</h1>
            </div>

            <div nz-col nzSpan="4" *ngIf="rowSelectionTable.data.length >0">
                <button class="addButton" nz-button nzType="primary" (click)="addaddress()">
                    <span>Add Address</span>
                </button>
            </div>
        </div>
        <br />
        <br />

        <nz-table class= "table" #rowSelectionTable  nzShowSizeChanger [nzData]="listOfData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">

            <thead >
                <tr class ="tr">

                    <th>Country</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let data of rowSelectionTable.data">


                    <td>{{ data.name }}</td>
                    <td>{{ data.age }}</td>

                    <td>
                        <div nz-row>

                            <div nz-col nzSpan="2" class="editable-cell" [hidden]="editId === data.id"
                                (click)="startEdit(data.id)">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </div>
                           &nbsp;    &nbsp;
                            <div nz-col nzSpan="2">
                                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                                    (nzOnConfirm)="deleteRow(data.id)"><i nz-icon nzType="delete"
                                        nzTheme="outline"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </nz-table>
        <button *ngIf="rowSelectionTable.data.length === 0" class="addButtonwhenNodata" nz-button
            (click)="addaddress()">
            <span>Add Addresses</span>

        </button>
    </div>

</div>
