<div class="p-3 pl-16 border-b-2 header-title"> 

<nz-layout class="inner-layout">

  <nz-sider [style.box-shadow]="{'box-shadow': 'inset -2px 0px 0px #DADADA'}" nzWidth="228px" nzHight="715px" class="inner-side-bar" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li  nz-menu-item [nzSelected]='activePath("/application/personal-information")'>
        <span class="numberCircle {{userSubmitCheck===true?'done':'notdone'}}">
          <span>{{userSubmitCheck===true?'✓':1}}</span>
        </span> 
        
        <a [routerLink]="['/application/personal-information']" >User</a>  
      </li>
      <li nz-menu-item [nzSelected]='activePath("/application/area-of-interest")'>
        <span class="numberCircle {{groupSubmitCheck===true?'done':'notdone'}}">
          <span>{{groupSubmitCheck===true?'✓':2}}</span>
        </span> 
        <a [routerLink]="['/application/area-of-interest']" >Groups</a>  
      </li>
      
    </ul>
  </nz-sider>

  <nz-content class="inner-content" nzWidth="978px" nzHeight="715px">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
