<div class="main-content" style="margin: 0px 24px;padding-bottom: 58px;">
  <h1 class="tab-title" >Job Titles</h1>
  <div nz-row>
    <div nz-col nzSpan="18">
    <nz-form-item>
      <nz-form-control class="search"  style="height: 40px !important; "   [nzSm]="8" [nzXs]="10" nzErrorTip="Please input search!">
        <nz-input-group nzSearch [nzSuffix]="suffixIconSearch" >
          <input (keyup)="onSearchChange($event)" type="text" nz-input placeholder="Search by job title" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <button nz-button nzType="primary" style="float: right" *ngIf="authorize('Create_Job_Title')" (click)="showAddModal()">
        <span>Add Job Title</span>
      </button>
    <nz-modal
      [(nzVisible)]="isAddModalVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="null"
      [nzMaskClosable]=false
      (nzOnCancel)="handleCancel()"
       [nzWidth]="'410px'"
    >
      <ng-template #modalTitle>{{ idForEdit !== null ? 'Edit' : 'Add '}} Job Title</ng-template>
      <ng-template #modalContent>
        <exec-epp-add-edit-role [id]="idForEdit" (update)="update($event)" (closeModal)="closeModal($event)"></exec-epp-add-edit-role>
      </ng-template>
    </nz-modal>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-table nzSize="small" #basicTable [nzData]="listOfRoles" [nzShowPagination]="false" [nzFrontPagination]=false>
        <thead>
          <tr>
            <th [nzSortFn]="true" (nzSortOrderChange)="nameSortOrderChange($event)">Job Title Name</th>
            <th>Department</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="authorize('View_Job_Title')">
          <tr *ngFor="let data of listOfRoles">
            <td>{{ data.Name }}</td>
            <td>{{ data.DepartmentName }}</td>
            <td>
              <i nz-icon nzType="edit" style="cursor: pointer;" nzTheme="outline" (click)="showEditModal(data.Guid)" *ngIf="authorize('Update_Job_Title')"></i>
              <i style="padding-left: 15px; cursor: pointer;" nz-icon nzType="delete" nzTheme="outline" *ngIf="authorize('Delete_Job_Title')"
                (click)="showDeleteConfirm(data.Guid, data.Name)"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="pagination" style="float: right; display: inline-flex; margin-top: 16px;" *ngIf="this.pagination && authorize('View_Job_Title')">
        Showing {{ this.pagination.PageSize * (this.pagination.PageIndex -1) + 1 }}-
        {{ this.pagination.PageSize * (this.pagination.PageIndex) > this.pagination.TotalRecord ? this.pagination.TotalRecord : this.pagination.PageSize * (this.pagination.PageIndex) }} of
        {{this.pagination.TotalRecord}} entries
        <nz-pagination [nzPageSize]="this.pagination.PageSize" [nzPageIndex]="1"
          [nzTotal]="this.pagination.TotalRecord"
          nzSimple
         (nzPageIndexChange)="pageIndexChange($event)"
         ></nz-pagination>
      </div>
    </div>
  </div>
</div>
