.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  
  .info{
      padding-top:20px;
      text-align: center;
  }
  .nz-divider {
    color: #333;
    font-weight: normal;
  }
  .ngStyle{ 
    width: '100%' }
    .nz-avatar {
      margin-top: 16px;
      margin-right: 16px;
    }
