<nz-layout>
  <nz-content>
    <nz-divider nzType="horizontal"></nz-divider>
    <div style="margin-top: -40px;" class="inner-content">
      <div nz-row>
        <div nz-col class="gutter-row" [nzSpan]="6">
          <nz-input-group nzSearch  [nzAddOnAfter]="suffixIconButton">
            <input type="text" #searchInput nz-input placeholder="Search" [(ngModel)]="fullname" (change)="searchEmployees()" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzSearch (click)="searchEmployees()"><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>
      </div>
      <div  nz-row nzJustify="end" *ngIf="employeeViewModel.length > 0">
        <p>Showing {{beginingRow}} - {{lastRow}} of  {{totalRecord}} entries</p>
        <nz-pagination [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="totalRecord"
          nzSimple (nzPageIndexChange)="PageIndexChange($event)"></nz-pagination>
      </div>
      <br/>
      <div nz-row style="margin-top:-10px">
        <div nz-col class="gutter-row" [nzSpan]="24">
            <nz-table [nzLoading]="loading"  nzSize="middle" #rowSelectionTable [nzFrontPagination]="false" [nzData]="employeeViewModel"
              nzTableLayout="auto" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
              <div *ngIf="employeeViewModel.length > 0; else normalHeader">
                <thead>
                  <tr>
                    <th style="width:30px" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="onAllChecked($event)" ></th>
                    <th *ngFor="let column of listOfColumnsFullName"
                      [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                      [nzSortDirections]="column.sortDirections">{{column.name}}</th>
                    <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder"
                      [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
                      [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter"
                      [nzFilterFn]="column.filterFn">{{ column.name }}</th>
                    <th *ngIf="authorize('Delete Employee') || authorize('Employee_Admin')|| authorize('Update_Employee')">Actions</th>
                  </tr>
                </thead>
              </div>
              <ng-template #normalHeader>
                <thead>
                  <tr>
                    <th style="width:30px" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="onAllChecked($event)"></th>
                      <th>Employee</th>
                      <th>Joining Date</th>
                      <th>Location</th>
                      <th>Job <Title></Title></th>
                      <th>Status</th>
                      <th *ngIf="authorize('Delete Employee') || authorize('Employee_Admin')|| authorize('Update_Employee')">Actions</th>
                  </tr>
                </thead>
              </ng-template>
              <tbody>
                <tr *ngFor="let employeeView of rowSelectionTable.data;">
                  <td [nzChecked]="setOfCheckedId.has(employeeView.EmployeeGUid)" (nzCheckedChange)="onItemChecked(employeeView.EmployeeGUid, $event)"></td>
                  <td>{{employeeView.FullName }} </td>
                  <td>{{employeeView.JoiningDate | date:'M/dd/yyyy' }}</td>
                  <td>{{employeeView.JobTitle }}</td>
                  <td>{{employeeView.Location }}</td>
                  <td>{{employeeView.Status }}</td>
                  <td *ngIf="(authorize('Delete_Employee') || authorize('Employee_Admin')|| authorize('Update_Employee'))">

                    <span (click)="Edit(employeeView.EmployeeGUid)" *ngIf="(authorize('Employee_Admin') || authorize('Update_Employee'))">
                      <i nz-icon nzType="edit" style="color:black;"></i>
                    </span>
                    &nbsp; &nbsp;
                    <span (click)="Delete(employeeView.EmployeeGUid)" *ngIf="(authorize('Delete Employee') || authorize('Employee_Admin'))">
                      <i nz-icon nzType="delete" style="color:black;"></i>
                    </span>

                    <!-- <nz-modal [(nzVisible)]="isVisible" nzWidth="700px" (nzOnCancel)="handleCancel()"
                      (nzOnOk)="handleOk()">
                      <ng-container *nzModalContent>
                        <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar> {{employeeView.FullName}} Edit
                        <nz-tabset>
                          <nz-tab nzTitle="Personal Info">
                            <exec-epp-personal-info-edit></exec-epp-personal-info-edit>
                          </nz-tab>
                          <nz-tab nzTitle="Address">
                            <exec-epp-address-edit></exec-epp-address-edit>
                          </nz-tab>
                          <nz-tab nzTitle="Family Details">
                            <exec-epp-family-detail-edit></exec-epp-family-detail-edit>
                          </nz-tab>
                          <nz-tab nzTitle="Emergency Contacts">
                            <exec-epp-emergencycontact-edit></exec-epp-emergencycontact-edit>
                          </nz-tab>
                          <nz-tab nzTitle="Organization Detail">
                            <exec-epp-organization-detail-edit></exec-epp-organization-detail-edit>
                          </nz-tab>
                        </nz-tabset>
                      </ng-container>
                    </nz-modal> -->
                  </td>
                </tr>
              </tbody>
            </nz-table>
        </div>
      </div>
      
    </div>
  </nz-content>
</nz-layout>
