  
 
    <div class="mb-3" nz-row>       
   <div   nz-col nzSpan="10" nzOffset="1"  class="page-title"    > Resource     </div>
        <button   nz-col nz-col nzSpan="3" nzOffset="10" nz-button   >  Create Project</button> 
      </div>

      <span class="mb-3" nz-row class="p-3 "  nz-col nzSpan="10" nzOffset="1" (click)="showModal()"> <i nz-icon nzType="plus" nzTheme="outline"></i><span
        style="color: #00A551"  class=" text-lg font-semibold ">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.2969 3.5625H12.7031C12.8281 3.5625 12.8906 3.625 12.8906 3.75V20.25C12.8906 20.375 12.8281 20.4375 12.7031 20.4375H11.2969C11.1719 20.4375 11.1094 20.375 11.1094 20.25V3.75C11.1094 3.625 11.1719 3.5625 11.2969 3.5625Z" fill="#00A551"/>
          <path d="M4.125 11.1094H19.875C20 11.1094 20.0625 11.1719 20.0625 11.2969V12.7031C20.0625 12.8281 20 12.8906 19.875 12.8906H4.125C4 12.8906 3.9375 12.8281 3.9375 12.7031V11.2969C3.9375 11.1719 4 11.1094 4.125 11.1094Z" fill="#00A551"/>
          </svg>
                 Assing Resources </span></span>


    <div *ngIf="projectResources.length<1" >
    
            <div class=" center"    >
                <svg    width="135" height="102" viewBox="0 0 135 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M133.625 37.2664L104.455 4.44366C103.055 2.20639 101.011 0.85376 98.8576 0.85376H36.1424C33.989 0.85376 31.9449 2.20639 30.5447 4.44081L1.375 37.2693V63.6343H133.625V37.2664Z" stroke="#D9D9D9"/>
                    <path d="M95.1374 46.3155C95.1374 41.7354 97.9951 37.9543 101.54 37.9514H133.625V89.7082C133.625 95.7665 129.83 100.732 125.144 100.732H9.85625C5.17 100.732 1.375 95.7637 1.375 89.7082V37.9514H33.46C37.0049 37.9514 39.8626 41.7268 39.8626 46.3069V46.3697C39.8626 50.9498 42.752 54.6482 46.294 54.6482H88.706C92.248 54.6482 95.1374 50.9156 95.1374 46.3355V46.3155Z" fill="#FAFAFA" stroke="#D9D9D9"/>
                    </svg>
           
            </div>
        
            <span class=" mt-20  center text-lg">
                Click Add Resource link to add Resources for project   
            </span>  
    
    </div>
   
    <nz-table  *ngIf="projectResources.length>0"    [nzData]=" projectResources" nzTableLayout="fixed">
        <thead>
          <tr>
            <th *ngFor="let columnName of listOfColumn" >
              {{ columnName}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resource of  projectResources">
            <td>  {{resource.employee.name  }} - {{resource.employee.postion}}  </td>
            <td >{{ resource.assignedDate| date:'shortDate'}}</td>           
            <td>{{ resource.assignedTo}}</td>
            <td>
                 <a  (click)="editResource(resource.employee.id)"   >Edit </a>
                  <a (click)="removeResource(resource.employee.id)" > <i nz-icon nzType="delete" nzTheme="outline"></i>  Delete</a> </td> 
          </tr>
        </tbody>
      </nz-table>

    <nz-modal [(nzVisible)]="isAddResourseModalVisible" nzTitle="Assing Resources" (nzOnCancel)="handleCancel()"   [nzFooter]="null"  >
      <ng-container *nzModalContent>    
        <form [formGroup]="addResorceForm"  nz-form [nzLayout]="'vertical'"  (ngSubmit)="addResource()">
            <nz-form-item>
                <nz-form-label nz-row  nzFor="website" nzRequired>Resource</nz-form-label>
                <nz-form-control nz-row  nzErrorTip="Please select Resource">
                    <nz-select *ngIf="employees"   formControlName="resource" nz-col nzSpan="24"  nzShowSearch nzAllowClear nzPlaceHolder="Select a Resource" >
                        <nz-option *ngFor="let employee of employees"  nzLabel={{employee.name}}-{{employee.postion}}  [nzValue]="employee"></nz-option>        
                      </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label   nzFor="assignDate" nzRequired >Assigned Date</nz-form-label>
                <nz-form-control  >
                    <nz-date-picker    [nzAllowClear]  nzFormat="dd/MM/yyyy"      formControlName="assignDate"   nz-col nzSpan="12"  ></nz-date-picker>       
                </nz-form-control> 
              </nz-form-item>
                        
              <nz-form-item>             
                <nz-form-control  nz-row  >
                    <nz-radio-group formControlName="assignTo"  >
                        <label nz-radio   nz-col nzSpan="12" nzValue="Project">Excluisive to project</label>
                        <label nz-radio  nz-col nzSpan="12"  nzValue="Client">Excluisive to client</label>
                      </nz-radio-group>                 
                </nz-form-control>
              </nz-form-item>   
              <div nz-row >
                <button type="submit"  style="background: #FFFFFF;border-radius: 4px;"   [disabled]="!addResorceForm.valid"    nz-button [nzType]="'primary'" style="margin-right: 16px;" >Add</button>         
                <button  class="lear-button"  (click)="resetForm()">Clear</button>         
              </div> 
        </form> 
    </ng-container>
    </nz-modal>



    <nz-modal [(nzVisible)]="isEditModalVisible" nzTitle="Edit Assigned Resource" (nzOnCancel)="handleEditModalCancel()"   [nzFooter]="null"  >
        <ng-container *nzModalContent>                          
         <h3>   {{ asignedResourseToEdit.employee.name}} -  {{asignedResourseToEdit.employee.postion}} </h3>
            <form [formGroup]="editResorceForm"  nz-form [nzLayout]="'vertical'"  (ngSubmit)="submitEditdValue()">
                <nz-form-item>
                    <nz-form-label   nzFor="assignDate" nzRequired >Assigned Date</nz-form-label>
                    <nz-form-control  >
                        <nz-date-picker    [nzAllowClear]  nzFormat="dd/MM/yyyy"      formControlName="assignDate"   nz-col nzSpan="12"  ></nz-date-picker>       
                    </nz-form-control> 
                  </nz-form-item>                      
                  <nz-form-item>             
                    <nz-form-control  nz-row>
                        <nz-radio-group formControlName="assignTo"  >
                            <label nz-radio   nz-col nzSpan="12" nzValue="Project">Excluisive to project</label>
                            <label nz-radio  nz-col nzSpan="12"  nzValue="Client">Excluisive to client</label>
                          </nz-radio-group>                 
                    </nz-form-control>
                  </nz-form-item>   
                  <div nz-row >
                    <button type="submit" style="background: #FFFFFF;border-radius: 4px;"    [disabled]="!editResorceForm.valid"    nz-button [nzType]="'primary'" style="margin-right: 16px;" >Edit</button>         
                    <button class="lear-button"   (click)="resetEditForm()">Clear</button>         
                  </div> 
               </form>   
        </ng-container>   
    </nz-modal>   



