<form nz-form class="form-group personal-detail-form-group"
[nzLayout]="'vertical'">

    <div>
        <h2>
            Personal Details
        </h2>
    </div>
  <exec-epp-custom-employee-id-number [prefixControl]="getControl('employeeIdNumberPrefix')"
    [myControl]="getControl('employeeIdNumber')">
  </exec-epp-custom-employee-id-number>

  <exec-epp-custom-full-name [firstNameControl]="getControl('firstName')" [middleNameControl]="getControl('middleName')"
    [lastNameControl]="getControl('lastName')">
  </exec-epp-custom-full-name>
  <exec-epp-custom-gender [myControl]="getControl('gender')">
  </exec-epp-custom-gender>
  <exec-epp-custom-employee-date-of-birth [myControl]="getControl('dateofBirth')">
  </exec-epp-custom-employee-date-of-birth>

  <exec-epp-custom-email-multiple [myControls]="getFormArray('emailAddresses')" (reply)="showData()">
  </exec-epp-custom-email-multiple>

  <exec-epp-custom-phone-multiple [myControls]="getFormArray('phoneNumbers')" (reply)="showData()">
  </exec-epp-custom-phone-multiple>
  <exec-epp-custom-nationality></exec-epp-custom-nationality>
</form>
