.label {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0,0,0,.85);
    margin-bottom: 2px;
    font-weight: 500;
    --antd-wave-shadow-color: #18ffba;  
  }
.right-footer{
    text-align: left;
    align-items: left;
    margin-left: 0px;
}
.ant-btn-primary {
    color: #fff;
    background-color: #00a551;
    border-color: #00a551;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
  }
  