[nz-icon] {
    margin-right: 6px;
    font-size: 24px;
}

[nz-button] {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 24px;
  font-size: 13px; 
}

.page-header {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
  .ant-badge {
    margin-top: 4px;
  }
  .ant-icon {
    font-size: 21px;
  }
  .ant-scroll-number {
    margin-top: 2px;
  }
   .ant-page-header-heading-extra {
    margin: 3px 0;
   }
   [nz-icon] {
     font-size: 21px;
   }
}

::ng-deep.userIcon,.userIcon:focus, .userIcon:hover {
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: white !important;
}

.logout,.logout:active,.logout:hover {
  background-color: unset !important;
  border-color:unset !important;
  color: #ff4d4f !important;
}

.header {
  display: flex;
  width: 100%;
  height:3.125rem;
  background-color: #FFFFFF;
  border-style: inset;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  .nav-image {
    width: 2.125rem;
    height: 2.125rem;

    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 24px;
    padding: 6px;
  }

  .logo-container {
    width: 174px;
    height: 2.125rem;

    margin-top: 8px;
    margin-bottom: 8px;

    .logo {
      width: 65px;
      height: 22px;

      margin-top: 6px;
      margin-bottom: 6px;
    }

    .logo-desc {
      width: 103px;
      height: 2.125rem;

      margin-left: 6px;
    }
  }
}

.navbar {
  overflow: hidden;
  border-bottom: 1px solid rgba(84, 84, 84, 0.25);
  position: fixed; 
  top: 0; 
  width: 100%; 
}



.main {
  margin-top: 1.563rem; 
}


