<ul nz-menu nzMode="inline" style="width: 100%;">

        <li nz-menu-item nzSelected routerLink="/personal-info"><i nz-icon [nzType]="'user'" [nzTheme]="'outline'"></i> Personal details</li>
        <li nz-menu-item routerLink="/Organization-Detail"><i nz-icon [nzType]="'profile'" [nzTheme]="'outline'"></i> Organization details</li>
        <li nz-menu-item><i nz-icon [nzType]="'environment'" [nzTheme]="'outline'"></i> Contact details</li>
        <li nz-menu-item><i nz-icon [nzType]="'mail'" [nzTheme]="'outline'"></i> Project assignment</li>
        <li nz-menu-item><i nz-icon [nzType]="'wallet'" [nzTheme]="'outline'"></i> Salary information</li>
        <li nz-menu-item><i nz-icon [nzType]="'database'" [nzTheme]="'outline'"></i> Extra information</li>
</ul>


