<exec-epp-page-title></exec-epp-page-title>
<ul nz-menu nzMode="inline" style="width: 100%">
 
  <li nz-menu-item nzSelected routerLink="/personal-info">
    <i
      class="nz-icon"
      nz-icon
      [nzType]="'unordered-list'"
      [nzTheme]="'outline'"
    ></i>
    Personal details
  </li>

  <li nz-menu-item routerLink="/personal-address">
    <i
      class="nz-icon"
      nz-icon
      [nzType]="'environment'"
      [nzTheme]="'outline'"
    ></i
    >Personal Address
  </li>
  <li nz-menu-item routerLink="/family-detail">
    <i class="nz-icon" nz-icon [nzType]="'file-text'" [nzTheme]="'outline'"></i>
    Family Detail
  </li>
  <li nz-menu-item routerLink="/emergency-contact">
    <i class="nz-icon" nz-icon [nzType]="'contacts'" [nzTheme]="'outline'"></i>
    Emergency Contact
  </li>
  <li nz-menu-item routerLink="/Organization-Detail">
    <i class="nz-icon" nz-icon [nzType]="'apartment'" [nzTheme]="'outline'"></i>
    Organization details
  </li>
</ul>
