<nz-tabset  class="side-nav p-2" [nzTabPosition]="position">
  <nz-tab nzSelected nzTitle='Project Details'>
    <div class="tab-content">
    <div class="justify-between" nz-row>          
      <div    class="page-title " > Project Details   </div>
      <div  >  
        <button [disabled]="!validateForm.valid" (click)="onSubmit()"    class="text-white bg-green-500 hover:bg-green-400 font-bold py-1 px-3 border border-green-500 rounded mr-4 ">
          Create Project
        </button>
         <button  (click)="onReset()"   class="bg-transparent hover:bg-green-500 hover:bg-green-70  font-semibold hover:text-white py-1 px-3 border hover:bg-green-70 hover:border-transparent rounded">
          Cancel
        </button>
      </div>
    </div>

  
<form
class="w-full max-w-4xl"
nz-form
[nzLayout]="'vertical'"
[formGroup]="validateForm"
(ngSubmit)="submitForm()"
>
<nz-form-item>
 <nz-form-label
   class=""
   [nzSm]="6"
   [nzXs]="24"
   nzRequired
   nzFor="projectName"
   >Project Name</nz-form-label
 >
 <nz-form-control
   [nzSm]="14"
   [nzXs]="24"
 >
   <input
     nz-input
     (input)="onInputProjectName($event)"
     formControlName="projectName"
     id="projectName"
   />

   <span *ngIf="!projectName.valid && (projectName.touched || userSubmitted ) ||  projectNameExits" class="error-block">
     <span *ngIf="projectName.hasError('required')">
       Please provide Project name
     </span>
     <span *ngIf="projectName.errors?.maxlength">
       Project name should not be more than 20 character
     </span>
     <span *ngIf="projectName.errors?.minlength">
       Project name should not be lesser than 2 character
     </span>
     <span *ngIf="projectNameExits">
       Project Name alredy exits , Please input another
    </span>
   </span>
   </nz-form-control>
</nz-form-item>

<nz-form-item>
 <nz-form-label [nzSm]="6" nzFor="projectType" nzRequired
   >Project Type</nz-form-label
 >
 <nz-form-control [nzSm]="14">
   <nz-select
     id="projectType"
     formControlName="projectType"
     nzPlaceHolder="Select Project Type"
   >
     <nz-option nzValue="internal" nzLabel="Internal"></nz-option>
     <nz-option nzValue="external" nzLabel="External"></nz-option>
   </nz-select>
   <div class="error-block"
   *ngIf="projectType.invalid && projectType.touched">
     Please select Project Type
   </div>
 </nz-form-control>
</nz-form-item>

<nz-form-item *ngIf="projectType.value === 'external'">
 <nz-form-label [nzSm]="6" nzFor="clientName" nzRequired
   >Client Name</nz-form-label
 >
 <nz-form-control [nzSm]="14" nzErrorTip="Please select Client Name!">
   <nz-select
     id="clientName"
     formControlName="client"
     nzPlaceHolder="Select client Name">
     <nz-option *ngFor="let  client of  clients"  nzLabel={{client.clientName}}  [nzValue]="client.guid"></nz-option>        
   </nz-select>
   <div class="error-block"
   *ngIf="clientName.invalid && clientName.touched">
     Please select Project status
   </div>
 </nz-form-control>
</nz-form-item>



<nz-form-item>
 <nz-form-label  nzFor="status" nzRequired>Status</nz-form-label>
 <nz-form-control [nzSm]="14" nzErrorTip="Please select Project Status!">
   <nz-select
     id="status"
     formControlName="status"
     nzPlaceHolder="Select project status"
   >
   <nz-option *ngFor="let status of projectStatuses"  nzLabel={{status.statusName}}  [nzValue]="status.guid"></nz-option>   
   </nz-select>
   <div class="error-block"
   *ngIf="status.invalid && status.touched">
     Please select Project status
   </div>
 </nz-form-control>
</nz-form-item>

<nz-form-item>
 <nz-form-label [nzSm]="6" nzFor="supervisor" nzRequired
   >Supervisor</nz-form-label
 >
 <nz-form-control [nzSm]="14" nzErrorTip="Please select Supervisor Name!">
   <nz-select   nzShowSearch nzAllowClearv
     id="supervisor"
     formControlName="supervisor"
     nzPlaceHolder="Select Supervisor Name"
   >
   <nz-option *ngFor="let employee of employees"  nzLabel={{employee.name}}-{{employee.role}}  [nzValue]="employee.guid"></nz-option>        
   </nz-select>
   <div class="error-block"
   *ngIf="supervisor.invalid && supervisor.touched">
     Please select Project supervisor
   </div>
 </nz-form-control>
</nz-form-item>

 <div nz-row  [nzGutter]="12">

 <nz-col nzXs="24" nzSm="18" nzMd="12" nzLg="7">



 <nz-form-item >

   <nz-form-label nzFor="startValue" nzRequired >Start Date</nz-form-label>

   <nz-form-control [nzXs]="24">



   <nz-date-picker style="display: block;" #startDatePicker

     [nzDisabledDate]="disabledStartDate"

     nzFormat="dd-MM-yyyy"

     formControlName="startValue"

     nzPlaceHolder="Start Date"

     (nzOnOpenChange)="handleStartOpenChange($event)"

   ></nz-date-picker>

   </nz-form-control>
 </nz-form-item>

</nz-col>

<nz-col nzXs="24" nzSm="18" nzMd="15" nzLg="7">

<nz-form-item  >

 <nz-form-label [nzSm]="14" >End Date</nz-form-label>

 <nz-form-control [nzXs]="24">

   <nz-date-picker style="display:block"

   #endDatePicker

   [nzDisabledDate]="disabledEndDate"

   nzFormat="dd-MM-yyyy"

   formControlName="endValue"

   nzPlaceHolder="End"

   (nzOnOpenChange)="handleEndOpenChange($event)"

 ></nz-date-picker>

 </nz-form-control>



</nz-form-item>

</nz-col>

</div>
 <nz-form-item nz-col nzSpan="14">

   <nz-form-label>Description</nz-form-label>
  <div class="form-control" >
   <textarea  formControlName="description"  nz-input rows="4"

     placeholder="Description"

   ></textarea>
  </div> 
 </nz-form-item>
</form>
    </div>
  </nz-tab>

  <nz-tab nzTitle='Resources'>
  <div class="tab-content">
    <div class="justify-between" nz-row>          
      <div    class="page-title " > Resource  </div>
      <div  >  
        <button [disabled]="!validateForm.valid" (click)="onSubmit()"    class="text-white bg-green-500 hover:bg-green-00 font-bold py-1 px-3 border border-green-700 rounded mr-4 ">
          Create Project
        </button>
         <button  (click)="onReset()"   class="bg-transparent hover:bg-green-500 hover:bg-green-70  font-semibold hover:text-white py-1 px-3 border hover:bg-green-70 hover:border-transparent rounded">
          Cancel
        </button>
      </div>
    </div>
    <exec-epp-addresource [projectStartdDate]="projectStartdDate"  (addProjectResourceEvent)="updateProjectResourseList($event)" >  </exec-epp-addresource>   </div>  
  </nz-tab>
</nz-tabset>
