::ng-deep .ant-tabs-nav {
  width: 266px !important;
  min-height: 700px;
  font-size: 16px;
}

.createButton {
  background: #00A551;
  border-color: #00A551;
}

.cancelButton {
  color: #00A551;
  border-color: #00A551;
}
.redAstrics {
  color: #F52121;
  margin-bottom: 5px;
}

.page-title{

  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #262626;

}

.clear-button{
  font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

border-color:#00A551;

color: #00A551;
}

.tab-content{
  padding: 0 25px;
 }

 *{
  font-family: -apple-system, system-ui, BlinkMacSystemFont;

 }
