.main_container_homepage {
  padding: 0px 2%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  height: 95vh;
}




.invalisForm {
  position: relative;
  padding: .5rem;
  border: 1.5px solid red !important;
  outline-color: red !important;

}



.page-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;
}
*{
  font-family: -apple-system, system-ui, BlinkMacSystemFont;

 }
.tab-content {
  padding: 0px 20px 25px;
  height: 85vh;

}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;

}
c::ng-deep ant-btn:hover, .ant-btn:focus, .ant-btn:active

::ng-deep .ant-tabs-tab:hover {
  color: #262626;
}

header {
  padding: 0px 1.15%;
  margin-bottom: 0.75% !important;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active {
  background: #DCFFDC;
}

::ng-deep .ant-tabs-nav {
  font-size: 26px;
}

::ng-deep .ant-tabs-tab-btn {
  color: #262626;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  box-shadow: inset -2px 0px 0px #DADADA;
}

::ng-deep .ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}


::ng-deep .ant-tabs-tab:hover {
  color: #262626;
}

::ng-deep ant-tabs-tab.ant-tabs-tab-active {
  background: #DCFFDC;
}


::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  box-shadow: inset -3px 0px 0px #EAEAEA;

}

::ng-deep .ant-tabs-ink-bar {
  box-shadow: inset -3px 0px 0px #EAEAEA;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #262626;


}





::ng-deep .ant-table-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cancel-button{
  background: white;
  color: #00A551;
  border: 0.5px solid #00a551;
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.7vw;

}

.action-buttons{
  background: #00A551;
  color:white;
  font-size: 1rem;
  font-style: normal;
}


.client-detail-wrapper{
  display: flex;
}
.contact-detail-wrapper{
  display: flex;
}
.location-wrapper {
  display: flex;
}
::ng-deep th.table_heading.ant-table-cell {
  background-color: #fafafa !important;
}

span.ng-star-inserted.invalisForm {

  position: fixed !important;
  padding: 3.2px !important;

}
::ng-deep button.add-btn-wrapper.ant-btn
{
  background: #00A551 !important;
    color: white !important;
}



