<header>
  <nz-breadcrumb nz-page-header-breadcrumb class="mt-4">
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/clientmanagement']">Clients </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{updateClientState.breadCrumb}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div nz-row>
    <div class="page-title"> {{updateClientState.titlePage}} </div>
  </div>
</header>
<exec-epp-header-line> </exec-epp-header-line>
<header>
  <div class="justify-between" nz-row>
    <div nz-col nzSpan="21" class="page-title"> {{updateClientState.formTitle}} </div>
    <div nz-col nzSpan="3">
      <button nz-button class="clear-btn" (click)="cancelAddClientPage()"  >   Cancel</button>
      <button type="submit" (click)="addClient()" nz-button> {{updateClientState.save}} </button>
    </div>
  </div>
</header>
<hr>
<nz-tabset  [nzTabPosition]="position" [(nzSelectedIndex)]="activeTabIndex">
  <div>
    <nz-tab [nzTitle]="detailsTitleTemplate" nzSelected>
      <ng-template #detailsTitleTemplate>
        <span [ngClass]="addButtonClicked && !validateAddClientFormState?.clientDetailsForm ? 'invalisForm':''">
          <i nz-icon nzType="profile" nzTheme="outline"></i>
          Client Details
        </span>
      </ng-template>
      <div class="tab-content">
        <exec-epp-details-form> </exec-epp-details-form>
      </div>
    </nz-tab>
  </div>
  <nz-tab [nzTitle]="ClientTitleTmeplate" (nzClick)="ClientContacTab()" nzSelected>

    <ng-template #ClientTitleTmeplate>

      <span (Click)="ClientContacTab()"
        [ngClass]="addButtonClicked && ( !validateAddClientFormState?.clientContactsForm  ||
       !validateAddClientFormState?.CompanyContactsForm ) ? 'invalisForm':''">
    
       <i nz-icon nzType="team" nzTheme="outline"></i>
        Contact Details

        <i *ngIf="!contactDetailsTabEnabled" class="ml-8" nz-icon nzType="down"></i>
        <i *ngIf="contactDetailsTabEnabled" class="ml-8" nz-icon nzType="up"></i>
      </span>
    </ng-template>
    <div class="tab-content">

    </div>

  </nz-tab>

  <nz-tab [nzTitle]="ClientContactsTitle" *ngIf="contactDetailsTabEnabled" nzSelected>
    <ng-template #ClientContactsTitle>

      <span class="ml-10"> Client Contacts</span>
    </ng-template>
    <div class="tab-content">
      <exec-epp-contacts-form> </exec-epp-contacts-form>
    </div>
  </nz-tab>


  <nz-tab [nzTitle]='ComapnyConatactsTitle' *ngIf="contactDetailsTabEnabled" nzSelected>
    <div class="tab-content">
      <exec-epp-company-contacts-form> </exec-epp-company-contacts-form>
    </div>

    <ng-template #ComapnyConatactsTitle let-visible="visible">

      <span class="ml-10"> Comapny Conatacts </span>

    </ng-template>

  </nz-tab>
  <nz-tab class="error" [nzTitle]="ClientLocationTmeplate"   (nzClick)="LocationTab()">
    <ng-template #ClientLocationTmeplate>
      <span (nzClick)="LocationTab()" [ngClass]="addButtonClicked && !validateAddClientFormState?.clientLocationForm ? 'invalisForm':''">
        <i nz-icon nzType="environment" nzTheme="outline"></i>
        Location
        <i *ngIf="!locationTabEnabled" class="ml-20" nz-icon nzType="down"></i>
        <i *ngIf="locationTabEnabled" class="ml-20" nz-icon nzType="up"></i>
      </span>
    </ng-template>
    <div class="tab-content">

    </div>
  </nz-tab>

  <nz-tab [nzTitle]="OperatingAddressTitle" *ngIf="locationTabEnabled" nzSelected>
    <ng-template #OperatingAddressTitle>
      <span class="ml-10">Operating Address</span>
    </ng-template>
    <div class="tab-content">
      <exec-epp-operating-address-form> </exec-epp-operating-address-form>
    </div>
  </nz-tab>

  <nz-tab [nzTitle]="BillingAddressTitle" *ngIf="locationTabEnabled" nzSelected>
    <ng-template #BillingAddressTitle>
      <span class="ml-10">Billing Address</span>
    </ng-template>
    <div class="tab-content">
      <exec-epp-billing-address-form> </exec-epp-billing-address-form>
    </div>
  </nz-tab>



</nz-tabset>
