
<nz-layout>
    <nz-content>
      <div class="inner-content">
          <div nz-row >
            <div nz-col class="gutter-row" [nzSpan]="8">
          
                  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" >
                    <input type="text" nz-input placeholder="Search" [(ngModel)]="fullname"/>
                  </nz-input-group>
                  <ng-template #suffixIconButton>
                    <button nz-button  nzSearch (click)="searchEmployees()"><i nz-icon nzType="search"></i></button>
          
                  </ng-template>
            </div>
          </div>
          <br/>
          <div nz-row>
            <div nz-col class="gutter-row" [nzSpan]="24">
              <ng-container *ngIf="(employeeViewModels$ | async) as employeeList; else emptyEmployeeViewModels">
                <nz-table
                  #rowSelectionTable
                  nzShowPagination
                  nzShowSizeChanger
                  [nzData]="employeeList"
                  nzTableLayout="fixed"
                  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                  <thead>
                    <tr>
                      <th class="table_heading" style="width:30px" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
                      <th class="table_heading" *ngFor="let column of listOfColumnsFullName"
                      [nzSortOrder]="column.sortOrder"
                      [nzSortFn]="column.sortFn"
                      [nzSortDirections]="column.sortDirections"
                      >Employee</th>
            
                      <th class="table_heading" *ngFor="let column of listOfColumns"
                      [nzSortOrder]="column.sortOrder"
                      [nzSortFn]="column.sortFn"
                      [nzSortDirections]="column.sortDirections"
                      [nzFilterMultiple]="column.filterMultiple"
                      [nzFilters]="column.listOfFilter"
                      [nzFilterFn]="column.filterFn">{{ column.name }}</th>
                      <th class="table_heading">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
            
                        <tr *ngFor="let employeeView of rowSelectionTable.data; let indexOfelement=index;">
                          <td [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'" [nzChecked]="setOfCheckedId.has(employeeView.EmployeeGuid)"
                            (nzCheckedChange)="onItemChecked(employeeView.EmployeeGuid, $event)"></td>
                          <td [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'">{{ employeeView.FullName }} </td>
                          <td [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'">{{ employeeView.JobTitle }}</td>
                          <td [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'">{{ employeeView.JoiningDate | date:'M/d/yyyy' }}</td>
                          <td [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'">{{ employeeView.Location }}</td>
                          <td [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'">{{ employeeView.Status }}</td>
                          <td [ngClass]="indexOfelement % 2  !== 0 ? 'table_evenrow_heading' : 'table_oddrow_heading'">
                              <a (click)="Edit(employeeView.EmployeeGuid)">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                              </a>
                              &nbsp; &nbsp;
                              <a (click)="Delete(employeeView.EmployeeGuid)">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                              </a>
                          </td>
                        </tr>
                    </tbody>
                </nz-table>
              </ng-container>
              <ng-template  #emptyEmployeeViewModels>
                <nz-table
                  #rowSelectionTable
                  nzShowPagination
                  nzShowSizeChanger
                  [nzData]="[]"
                  nzTableLayout="fixed"
                  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                  <thead>
                    <tr>
                      <th class="table_heading" style="width:30px"></th>
                      <th class="table_heading">Employee</th>
                      <th class="table_heading">Job Title</th>
                      <th class="table_heading">Joining Date</th>
                      <th class="table_heading">Location</th>
                      <th class="table_heading">Status</th>

                      <th class="table_heading">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <nz-empty style="width: 100%;" nzNotFoundImage="simple"></nz-empty> -->
                  </tbody>
                  </nz-table>
              </ng-template>
            </div>
          </div>
      </div>
    </nz-content>
  </nz-layout>
  
