.table_heading
{
background-color: #b8fab8 !important;
font-weight: 700;
}

.table_evenrow_heading
{
background-color: #E8FFE8 !important;
}

.table_oddrow_heading
{
background-color: white !important;
}
.inner-content {
    padding: 10px;
    background: #fff;
    height: 100%;
}
