<form nz-form class="form-group personal-detail-form-group"
[nzLayout]="'vertical'">

  <exec-epp-custom-full-name [formGroup]="getFormGroup('fullName')" >
  </exec-epp-custom-full-name>

  <exec-epp-custom-select
    [label]="'Relationship'"
    [myControl]="getControl('relationship')"
    [required]="true"
    [list$]="relationships$">
  </exec-epp-custom-select>

  <exec-epp-custom-email-multiple
    [formArray]="getFormArray('emailAddresses')"
    [maxAmount]="maxEmailQty"
    (reply)="showData()">
  </exec-epp-custom-email-multiple>

  <exec-epp-custom-phone-multiple
    [formArray]="getFormArray('phoneNumbers')"
    [maxAmount]="maxPhoneQty"
    (reply)="showData()">
  </exec-epp-custom-phone-multiple>
</form>
