
 
::ng-deep.ml-1{
  padding-left: 9px;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
}

header {
  padding: 0px 2%;
}

.main_container_homepage {
  padding: 0px 2%;
 
  
}
p{
  font-weight: bold;
  font-size: 20px;
}
.space-align-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.space-align-block {
  margin: 8px 4px;
  border: 1px solid #40a9ff;
  padding: 4px;
  flex: none;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}
.nz-date-picker {
        margin: 0 8px 12px 0;
      }
      .nz-divider {
        color: #333;
        font-weight: normal;
      }
      .inner-box {
        background: hsl(210, 50%, 99%);
        padding: 4px 0;
      }










