
 
::ng-deep.ml-1{
  padding-left: 9px;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
}

header {
  padding: 0px 2%;
}

.main_container_homepage {
  padding: 0px 2%;
 
  
}
p{
  font-weight: bold;
  font-size: 20px;
}











