$primary-color:  #00A551;

.form-organizational-details {
  min-width: 800px;
  max-width: 800px;
}

.form-item-organizational-details {
  width: 100%;

}

.form-label-organizational-details {
  width: 100%;
}

.prefix-input-control-organizational-details-phoneNumber {
  min-width: 95px;
  max-width: 96px;
}

.form-control-organizational-details {
  width: 100%;
}

.entry-control-organizational-details {
  width: 100%;
}

.input-control-organizational-details {
  width: 100%;
}