<app-timesheet-header class="md:flex lg:flex xl:flex ml-8" [isApproved]=true>
</app-timesheet-header>
<hr class="mb-4">


<div routerLink="/timesheet" class="back">
  <div class="back-navigator">

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left mt-1"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>


  </div>
  <span class="ml-1 back-navigator">Back</span>
</div>

<div nz-row class="controllers">

    <div *ngIf="currentNameSubject$ | async" nz-col>
        <button nz-button nzType="default"
        [disabled]="qtyofItemsSelected <= 0" (click)="onApprove()"
        >Bulk Approval</button>

        <br>
    </div>

    <div nz-col nzSpan="6" class="ml-1">
      <nz-input-group [nzSuffix]="suffixIconSearch" >
        <input  type="text" nz-input placeholder="Search" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>

    </div>

  <br>
  <div nz-col class="ml-1">
    <nz-date-picker nzMode="week" [(ngModel)]="date"></nz-date-picker>

  </div>
</div>
<div class="tab">


  <div class="mb-4">
    <nz-tabset nzRight [nzSelectedIndex]=1 (nzSelectedIndexChange)="onTabSelected($event)">
      <nz-tab nzRight nzTitle="All" (nzClick)="timesheetApprovalPaginationAll(1,10)">,

        <div nzRight class="content">
          <exec-epp-table [status]= true [rowData]="timeSheetApprovalAll" (sorter)="sorter($event)"></exec-epp-table>
        <span nz-row class="pagination  flex justify-end">
          Showing {{pageIndexReview}} - {{ totalReview/pageSizeReview}} of {{totalReview}} entries
          <nz-pagination [nzPageIndex]="pageIndexReview" [nzTotal]="totalReview" (nzPageIndexChange)="PageIndexChange($event)"
            nzSimple>
          </nz-pagination>
        </span>

        </div>
      </nz-tab>
      <nz-tab nzTitle="Awaiting Approval" (nzClick)="timesheetSubmissionPaginationAwaiting(1,10)">
        <exec-epp-table [bulkCheck]= true [rowData]="employees" (sorter)="sorter($event)"></exec-epp-table>
        <span nz-row class="pagination  flex justify-end">
          Showing {{pageIndexReview}} - {{ totalReview/pageSizeReview}} of {{totalReview}} entries
          <nz-pagination [nzPageIndex]="pageIndexReview" [nzTotal]="totalReview" (nzPageIndexChange)="PageIndexChange($event)"
            nzSimple>
          </nz-pagination>
        </span>
      </nz-tab>
      <nz-tab nzTitle="Approved" (nzClick)="timesheetSubmissionPaginationApproved(1,10)">
        <exec-epp-table [rowData]="timeSheetApprovalApproved" (sorter)="sorter($event)"></exec-epp-table>
        <span nz-row class="pagination  flex justify-end">
          Showing {{pageIndexReview}} - {{ totalReview/pageSizeReview}} of {{totalReview}} entries
          <nz-pagination [nzPageIndex]="pageIndexReview" [nzTotal]="totalReview" (nzPageIndexChange)="PageIndexChange($event)"
            nzSimple>
          </nz-pagination>
        </span>
      </nz-tab>

      <nz-tab nzTitle="Request for review" (nzClick)="timesheetSubmissionPaginationReview(1,10)">
        <exec-epp-table [rowData]="timeSheetApprovalReview" (sorter)="sorter($event)"></exec-epp-table>
        <span nz-row class="pagination  flex justify-end">
          Showing {{pageIndexReview}} - {{ totalReview/pageSizeReview}} of {{totalReview}} entries
          <nz-pagination [nzPageIndex]="pageIndexReview" [nzTotal]="totalReview" (nzPageIndexChange)="PageIndexChange($event)"
            nzSimple>
          </nz-pagination>
        </span>
      </nz-tab>
    </nz-tabset>
  </div>

