.back {
  display: flex;
  margin-left: 24px;
  margin-bottom: 1rem;

}
.back-navigator
{
  cursor: pointer;
}
.controllers {
  margin-left: 24px;
}
.tab {
//     margin-top: -10px;
}

::ng-deep .ant-tabs-nav-list {
  margin-left: auto;
  margin-right: 24px;
  //margin-bottom: 1rem;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}

.manager-table {
  border: 1px solid #ffe58f;
}

::ng-deep ::before {
  border-bottom: none !important;
}

::ng-deep .nz-table-content {
  border:1px solid #FFE58F;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00A551;
}
::ng-deep .ant-tabs-ink-bar {
  background-color: #00A551 !important;
}

.clickable {
  cursor: pointer;
}

.pagination {
  margin-right: 2rem;
}

button.is-blue {
  color: grey;
}
button.is-yellow {
  color: #00A551;
  border-color: #00A551;

}
.approveButton{


}

@media screen and (min-width: 1050px) {
  .tab {
    margin-top: -10px;
  }
  .controllers {
    z-index: 987;
    position: absolute;
    width: 745px;
  }
}
::ng-deep .ant-btn {
  background-color: #00A551;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}
button.is-yellow {

  color: #00A551;

  border-color: #00A551;

  background-color: white;;



}

