.back {
  display: flex;
  padding-left: 35px;
  margin-bottom: 1rem;

}
.back-navigator
{
  cursor: pointer;
}
.controllers {
  padding-left: 35px;
}
.tab {
//     margin-top: -10px;

    padding-right: 35px;
}

::ng-deep .ant-tabs-nav-list {
  margin-left: auto;
  margin-right: 3.5rem;
  //margin-bottom: 1rem;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}

.manager-table {
  border: 1px solid #ffe58f;
}

::ng-deep ::before {
  border-bottom: none !important;
}
//table css
/*approved*/
div.is-blue {
  background: #E6F7FF;
  color: #1890FF;
  border:1px solid #91D5FF;
  text-align: center;
}
div.is-yellow {
  background: #FFFBE6;
  color: #FAAD14;
  border:1px solid #FFE58F;
  text-align: center;
}

div.is-green {
  background: #F6FFED;
  color: #52C41A;
  border:1px solid #B7EB8F;
  text-align: center;
}
::ng-deep .nz-table-content {
  border:1px solid #FFE58F;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00A551;
}
::ng-deep .ant-tabs-ink-bar {
  background-color: #00A551 !important;
}

.clickable {
  cursor: pointer;
}

.manager-table {
  border:1px solid #e6e5e3;
  border-radius: 5px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
}
.pagination {
  margin-right: 2rem;
}
.approveButton{
  
  
}

@media screen and (min-width: 1050px) {
  .tab {
    margin-top: -10px;
  }
  .controllers {
    z-index: 987;
    position: absolute;
    width: 1025px;
  }
}
