.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  ::ng-deep .ant-table-thead>tr>th{
  background-color:#E8FFE8;
  }

  ::ng-deep .ant-btn
  {
    background: #00A551;
    border-radius: 2px;
    font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #E8FFE8;
  }


.clear-button{
  font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

border-color:#00A551;

color: #00A551;
}



.page-title{
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #262626;

}
