<div class="main_container_homepage ">
<nz-breadcrumb nz-page-header-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Clients
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="justify-between" nz-row>
     <div class="page-title"> Clients </div>
  <button  (click)="addClientPage()"   class="  font-semibold py-1 px-3 border mr-4  bg-green-500  hover:bg-green-400 text-white">
    Add Client
  </button>
</div>
<exec-epp-header-line> </exec-epp-header-line>

   Search  and view Client Here!

</div>
