.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
}

header{
    padding: 0px 2%;
  }

.main_container_homepage {
  padding: 0px 2%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  height: 95vh;
}

::ng-deep .ant-btn {
    background: #00a551;
    border-radius: 2px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #e8ffe8;
  }
