
.table_heading
{
background-color: #E8FFE8 !important;
}
tr:nth-child(even) {background: #F9FFF9}
.page-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
}

header {
  padding: 0px 2%;
}

.main_container_homepage {
  padding: 0px 2%;
  padding-bottom: 2rem;
  margin-bottom: 2.3rem;
  margin-top: 1.2rem;
  height: 85vh;
}



.page-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
}

header {
  padding: 0px 2%;
}

.main_container_homepage {
  padding: 0px 2%;
  padding-bottom: 2rem;
  margin-bottom: 2.3rem;
  margin-top: 1.2rem;
  height: 85vh;
}

::ng-deep .ant-btn {
  background-color: #00A551;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}



::ng-deep .ant-btn:not([disabled]):hover {
  background: #03da6b !important;
  color: white;
}
.ant-pagination {

  float: right;

  padding: 15px 0px 15px 15px;



}
::ng-deep .ant-table {

  padding-right: 25px;

  padding-left: 25px;

}
