<header>
  <nz-breadcrumb nz-page-header-breadcrumb class="mt-4">
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Clients
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="justify-between" nz-row>
    <div class="page-title"> Clients </div>

   <div > <button  (click)="addClientPage()"  nz-button> Add Client </button> </div>
  </div>
 </header>
<exec-epp-header-line> </exec-epp-header-line>

<div class="main_container_homepage ">

Search and view Clients  here ! 

</div>
