.label {
  font-size: 16px;
  line-height: 24px;

}
.label::after {
 content: '*';
 color: red;
 font-weight: bold;
 padding-left: 7px;

}
.form-item-container {
  flex-direction: column;
  gap:10px;
}
.error-display {
  color: red;
  display: block;
  font-size: 16px;
  line-height: 24px;
}
