<div>
  <h3>Emergency Contact</h3>
</div>
<form nz-form id="myForm" [formGroup]="EForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="FirstName"
      >FirstName</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is required!"
    >
      <input nz-input formControlName="FirstName" id="FirstName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="FatherName"
      >Father</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is required!"
    >
      <input nz-input formControlName="FatherName" id="FatherName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Relationship"
      >Relationship</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is required!"
    >
      <input nz-input formControlName="Relationship" id="Relationship" />
    </nz-form-control>
  </nz-form-item>

  <ng-container
    formArrayName="Address"
    *ngFor="let t of Addresses.controls; let i = index"
  >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="country"
        >Country</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is required!"
      >
        <nz-select
          formControlName="country"
          id="{{ 'country' + i }}"
          nzShowSearch
          nzAllowClear
          (ngModelChange)="onSelectCountry()"
        >
          <ng-container *ngFor="let country of coutries">
            <nz-option
              nzValue="{{ country }}"
              nzLabel="{{ country }}"
            ></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="state">
        <ng-container *ngIf="isEthiopia; else state">Region</ng-container>
        <ng-template #state>State</ng-template>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is required!"
      >
        <nz-select
          formControlName="state"
          id="{{ 'state' + i }}"
          nzMode="tags"
          nzPlaceHolder="Input the state/region/province"
          [nzMaxMultipleCount]="1"
          nzPlaceHolder="Tag Mode"
        >
          <ng-container *ngFor="let state of listOfStates">
            <nz-option nzValue="{{ state }}" nzLabel="{{ state }}"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="city"
        >City</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is required!"
      >
        <input nz-input formControlName="city" id="{{ 'city' + i }}" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="subCityZone">
        <ng-container *ngIf="isEthiopia; else addressLine1"
          >Sub-City/Zone</ng-container
        >
        <ng-template #addressLine1>Address Line 1</ng-template>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is required!"
      >
        <input
          nz-input
          formControlName="subCityZone"
          id="{{ 'subCityZone' + i }}"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="woreda">
        <ng-container *ngIf="isEthiopia; else addressLine2"
          >Woreda</ng-container
        >
        <ng-template #addressLine2>Address Line 2</ng-template>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="woreda" id="{{ 'woreda' + i }}" />
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="isEthiopia">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="houseNumber"
          >House Number</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="houseNumber"
            id="{{ 'houseNumber' + i }}"
          />
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="postalCode">
        <ng-container *ngIf="isEthiopia; else zipcode"
          >Postal Code</ng-container
        >
        <ng-template #zipcode>Postal/Zip Code</ng-template>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          formControlName="postalCode"
          id="{{ 'postalCode' + i }}"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="6"
        [nzXs]="24"
        nzRequired
        nzFor="residencialPhoneNumber"
        >phoneNumber</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is required!"
      >
        <input
          nz-input
          formControlName="residencialPhoneNumber"
          id="residencialPhoneNumber"
        />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" (click)="addAddress()">
      Add Address
    </button>
  </ng-container>
</form>
