.total-hours-completed {

  button {

      height:38px;
      radius:2px;
      padding:8px, 16px, 8px, 16px;
      font:SF Pro Display;
     

  }

}
.submitted-class{

  width:113px;
  color:rgb(36, 207, 36);
  background-color: white;
  border-width: 0px;
  border-color: #F5F5F5;
  font-size:20px;
  line-height:21.48px;
  font-weight:500;
}
.submitted-class:hover{
text-decoration:underline;
  }
.not-submitted-class{
  width:177px;
  height:38px;
  top:-1px;
  background-color:green;
  color:white;
  font-weight:500;
  font-size:20px;
  line-height:21.48px;
  font-weight:700;
}

