<!--
<div class="breadcrumbOld w-screen">
    <nz-breadcrumb [nzSeparator]="null">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-separator>/</nz-breadcrumb-separator>
        <nz-breadcrumb-item>Timesheet</nz-breadcrumb-item>
        <br>
        <nz-breadcrumb-item><b class="text-xl">Manage my Timesheet</b></nz-breadcrumb-item>
    </nz-breadcrumb>
</div>

<div class="total-hours-completed flex center h-10 mt-2 mr-8">
    <h5 class="mt-2 w-80">Total Hours Completed: {{ weeklyTotalHours }}</h5>
    <button nz-button>Request for Approval</button>
</div>
-->

<div class="flex space-x-4 lg:w-full ml-8 mr-8">
    <div class="flex-2 " style="width: 30%">
        <nz-breadcrumb [nzSeparator]="null">
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-separator>/</nz-breadcrumb-separator>
            <nz-breadcrumb-item>Timesheet</nz-breadcrumb-item>
            <br>
            <nz-breadcrumb-item>
                <b class="lg:text-xl">Manage my Timesheet</b>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    

    <div class="flex flex-row justify-end gap-2" style="width: 70%">
        <div class="">
            <h5 class="mt-2 font-sans font-medium  lg:text-lg lg:text-gray-600 lg:font-semibold h-full align-middle">Total Hours Completed: {{ weeklyTotalHours }}</h5>
        </div>
        <div class="total-hours-completed">
            <button class="w-52 h-10 rounded" nz-button>Request for Approval</button> 
        </div>
      </div>
    
  </div>

