<div #col style="height:31rem; ">

      <div class="date-and-hour">
        <h1 class="date"> {{dates1}} </h1>
        <h3 class="hour">{{ totalHours }} Hrs</h3>
      </div>
      <div #entries *ngFor="let timeEntry of timeEntrys;let i=index">
        <app-project-name-palet  [timeEntry]="timeEntry" (projectNamePaletClicked)="onProjectNamePaletClicked($event)"
          (paletEllipsisClicked)="onPaletEllipsisClicked($event)" (editClicked)="onEditButtonClicked($event)">
        </app-project-name-palet>
      </div> 
    </div>
      <div *ngIf="checkOverflow(col) && moreEntries.length >0" #btn class="more-btn w-full flex flex-col items-end pt-2 mt-0 mb-2 pb-2 w-full justify-between h-10 pt-2  text-left"
      style="width:inherit; background-color: #DCFFDC;margin-top:0px;" nzVisible="overflow"
      (click)="onClick()">
      <h2 class="more-txt font-sans font-normal text-base ml-2 ">More</h2>
      <a nz-popover [(nzPopoverVisible)]="morePopover" nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="right" (click)="onClick()" class="mr-0 flex-row " style="position:absolute;"></a>
     </div>

<ng-template #contentTemplate>
  <div *ngFor="let timeEntry of moreEntries ;let i = index;">
    <ng-container>
      <app-project-name-palet [timeEntry]="timeEntry" (projectNamePaletClicked)="onProjectNamePaletClicked($event)"
      (paletEllipsisClicked)="onPaletEllipsisClicked($event)" (editClicked)="onEditButtonClicked($event)"></app-project-name-palet>
    </ng-container>
  </div>
</ng-template>
  <div #pt style="margin-bottom:500px;" ></div>
  </div></div>

<!-- <i nz-icon nzType="plus-circle" nzTheme="outline"></i> -->

<div class="w-full grid justify-center lg:hidden">
  <svg class="stroke-current text-green-600 text-xl mb-4 mt-4 mr-4" viewBox="64 64 896 896" focusable="false"
    fill="currentColor" width="1em" height="1em" data-icon="plus-circle" aria-hidden="true">
    <path
      d="M696 480H544V328c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v152H328c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h152v152c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V544h152c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8z">
    </path>
    <path
      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
    </path>
  </svg>
</div>
