<div class="header-title">
  <div *ngIf="isLogin" class="flex-2 sm:w-2/4 lg:w-1/4 ml-4 sm:mt-3 sm:mb-3 sm:ml-0">
    <nz-breadcrumb [nzAutoGenerate]="true" class="flex sm:contents">
      <nz-breadcrumb-item [routerLink]="['/']"><a>Home</a></nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="['/usermanagement']"><a>Users</a></nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="w-auto h-7">
      <h3 class="w-auto h-full font-semibold text-xl not-italic">Manage Users</h3>
    </div>
  </div>
</div>

  <nz-layout class="inner-layout">

    <nz-sider *ngIf="isLogin" [style.box-shadow]="{'box-shadow': 'inset -2px 0px 0px #DADADA'}" nzWidth="228px"
      nzHight="715px" class="inner-side-bar" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item [nzSelected]='activePath("/usermanagement")'>
          <i nz-icon nzType="user" nzTheme="outline"></i> <a [routerLink]="['/usermanagement']">Users</a>
        </li>
        <li nz-menu-item [nzSelected]='activePath("/usermanagement/groups")'>
          <i nz-icon nzType="group" nzTheme="outline"></i> <a [routerLink]="['/usermanagement/group']">Groups</a>
        </li>
        
      </ul>
    </nz-sider>

    <nz-content class="inner-content" nzWidth="978px" nzHeight="715px">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
