/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import "~ng-zorro-antd/ng-zorro-antd.min.css";

/* Container */
.container {
    ///display: flex;
    ///flex-direction: column;
   /// align-items: center;
   /// width: 100%;
    ///min-width: 1440px;
    ///height: 100%;
    //background-color: #E5E5E5;
   /// background-color: #f11e1e;
    ///align-self: center;
}


.ant-drawer-content-wrapper {
    //margin-top: 127px;
    margin-top: 8rem;
    ///min-height: 900px;
    border-top-left-radius: 15px; 
    background-color: #FFFFFF;

    .ant-drawer-body {
        margin: 0;
        padding: 0;
    }
}

.ant-drawer-content{
  border-top-left-radius: 15px;
}

.ant-popover-inner-content {
    padding: 0;
}

#edit:hover {
    background-color: #DCFFDC;
    border-radius: 2px 2px 0 0;
}

#delete:hover {
    background-color: #DCFFDC;
    border-radius: 0 0 2px 2px;
}

/*.ant-modal-body {

  width: 0px;
  height:0px

}*/

/*.ant-modal-content {
  position: relative;
 !*
 background-color: #ccc;
 *!
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  pointer-events: auto;
}
.ant-mention-dropdown, .ant-message-notice-content, .ant-modal-content, .ant-notification-notice, .ant-popover-inner, .ant-select-dropdown {
  !* box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%); *!
}*/
