
.leftSide
{
  margin-left: 0px;
  width: auto;
  height: 90px;
}
.rightSide
{
  margin-left: 800px;
  margin-top: -90px;
}

.epp-logo
{
  width:150px;
  height:48px;
  margin-top: 50px;
  margin-bottom:159px;
  margin-left: 150px;
}

.excellerent-logo
{ 
   margin-top:-212px;
   margin-bottom:159px;
   margin-left: 250px;
   margin-right: 0px;
}
.login-welcome-text{
  width:500px;
  height:64px;
  margin-top:-140px;
  margin-bottom:39px;
  margin-left: 170px;
  font:SF Pro Display Semibold;
  font-style:normal;
  font-weight:600;
  font-size:24px;
  line-height:32px;
  color:#1a202c
}

.btn-group{

  margin-left: 170px;
  margin-top: 0px;
  background:#2d3748;
  width:347px;
  height:50px;
  border-radius:5px;
  
}
.ms-logo
{
  margin-right: 0px;
  margin-left: 100px;
}

.onhover :hover{
  cursor:pointer
}

.signin-ms
{
  width:347px;
  height:50px;
  background:#2d3748;
  border-radius:5px;
}

.container{

  width:fit-content;
}

.flex-1 {
  flex: 1 1 0%;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
.signin-ms{
  height:19px;
  margin-left:0px;
  font:Roboto;
  font-style:normal;
  font-weight:700;
  font-size:16px;
  line-height:19px;
  color:#fff
}

.btn-div{
  width: 100px;
}
.excellernt-main-logo
{
  margin-top: 300px;
  margin-left: 240px;
}

.sidebar-iframe
{
  
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}