
.leftSide
{
  margin-left: 0px;
  width: auto;
  height: 90px;
}
.rightSide
{
  margin-left: 800px;
  margin-top: -90px;
}

.epp-logo
{
  width:150px;
  height:48px;
  margin-top: 80px;
  margin-bottom:159px;
  margin-left: 200px;
}

.excellerent-logo
{ 
   margin-top:-218px;
   margin-bottom:159px;
   margin-left: 335px;
   margin-right: 0px;
}
.login-welcome-text{
  width:500px;
  height:64px;
  margin-top:-150px;
  margin-bottom:159px;
  margin-left: 230px;
  font:SF Pro Display Semibold;
  font-style:normal;
  font-weight:600;
  font-size:24px;
  line-height:32px;
  color:#1a202c
}

.btn-group{

  margin-left: 170px;
  margin-top: 0px;
  background:#2d3748;
  width:347px;
  height:50px;
  border-radius:5px;
  
}
.ms-logo
{
  margin-right: 0px;
  margin-left: 100px;
}

.onhover :hover{
  cursor:pointer
}

.signin-ms
{
  width:347px;
  height:50px;
  background:#2d3748;
  border-radius:5px;
}

.flex-1 {
  flex: 1 1 0%;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
.signin-ms{
  height:19px;
  margin-left:0px;
  font:Roboto;
  font-style:normal;
  font-weight:700;
  font-size:16px;
  line-height:19px;
  color:#fff
}

.btn-div{
  width: 100px;
}
.excellernt-main-logo
{
  margin-top: 220px;
  margin-left: 300px;
}

.img-fast-forward
{
  width: 50px;
}
