<div class="exec-epp-modal">
  <nz-modal
  [nzVisible]="visible">
    <div nz-row class="exec-epp-modal-header">
        <div nz-col class="exec-epp-modal-title">
            {{((address? 'Edit' : 'Add') + ' ' + title) | titlecase}}
        </div>
        <div nz-col class="exec-epp-modal-close">

        </div>
    </div>
    <div nz-row class="exec-epp-modal-body">
      <exec-epp-address-detail-group>
      </exec-epp-address-detail-group>
    </div>
    <div nz-row class="exec-epp-modal-footer">
      <div nz-col class="exec-epp-modal-button-container">
        <button nz-button class="exec-epp-button exec-epp-button-ok exec-epp-modal-button">
          {{address? 'Update' : 'Save'}}
        </button>
      </div>
      <div nz-col class="exec-epp-modal-button-container">
        <button nz-button class="exec-epp-button exec-epp-button-cancel exec-epp-modal-button">
          Cancel
        </button>
      </div>
    </div>
  </nz-modal>
</div>
