.addButton {
  background-color: #00a551;
  color: white;
  height: 40px;
  margin-left: 50px;
  width: 150px;
  justify-content: center;
}
.addButtonwhenNodata {
  background-color: #00a551;
  color: white;
  height: 40px;
  display: flex;
  margin-left: 530px;
  margin-top: -45px;
  width: 150px;
  justify-content: center;

}

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}
.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.table {
  width: 3000px;
  border: 1px solid #dadada;
  background: #ffffff;




}
.tr {
  border-top: 2px solid #dadada;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  width: 552.86px;
}

.inner-content {
  background: #fff;
  height: auto;
  float: left;
  padding: 24px;

  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.saveButton{
  background-color: #00A551;
  font-weight: 500;

  color: white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI',  Roboto,   Oxygen,   Ubuntu,    Cantarell,    'Open Sans',    'Helvetica Neue', sans-serif
}

.cancelButton {
  background-color: #fff;

  border: 1px solid #00A551;
  font-weight: 500;
  color: #00A551;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.overflow-scroll {
  max-height: 400px;
  overflow-y: scroll;
}

.layer {
  position: fixed;
  opacity: 0.7;
  left: 0 px;
  top: 0 px;
  width: 100% ;
  height: 100% ;
  z-index:999999;
  background-color:#BEBEBE;
  display: none;
  cursor: not-allowed;
}




nz-breadcrumb {
  margin: -1px;

}
.breadcrumb {
  // box-shadow: 0px -3px 0px 0px #EAEAEA inset;
  background-color: #fff;
  padding: 11px 22px;
  // margin: -1px -120px;
  border-bottom: 3px solid #D9D9D9;
  font-family:-apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif
}
.breadcrumb h3 {
  margin-bottom: 0px;
  font-weight: bold;
}

