

<div style="background: #f5f5f5; padding-left:6%; padding-right: 6%; position: absolute; padding-bottom: 0%;
 padding-top: 3%; height: 93%; width: 100%;">
  <div   style="margin-bottom: 10px;">

  <div   style="margin-bottom: 10px;">
   <h6> <p  class="employee-name" style="text-indent: 60px;">Welcome,  {{fullName}}</p></h6>
  </div>

  </div>

  <div nz-row  [nzGutter]="20" nzHoverable="true" class="flex flex-row">


    <div nz-col [nzSpan]="5" style="padding-top: 2%; " *ngIf="authorize('Employee_Module')">
      <nz-card nz-button  style="background-color: #fdfcfc; height: 110%;" nzHoverable="true"  nzSize="small">
        <nz-card-meta
        [nzTitle]="avatarTextTemplate"
        ></nz-card-meta>
      </nz-card>

      <!-- <ng-template #avatarTemplate>
        <i nz-icon [nzType]="'team'" [nzTheme]="'outline'" style="color:#00a551; font-size: '30px';"></i>
      </ng-template> -->
      <ng-template #avatarTextTemplate>
        <a  style="color: black;" (click)="routetoResourceManagement()" >
          <!-- <i nz-icon [nzType]="'team'" [nzTheme]="'outline'" style="color:#00a551; font-size: '30px';"></i> -->
          <p style="font-size:16px; font-weight: normal;"> <i nz-icon [nzType]="'team'" nzMode="inline" style="color:#00a551; font-size: '30px';"> <span> </span>  </i>  Employee Information</p>
        </a>
        </ng-template>
    </div>
    <div nz-col [nzSpan]="5" style="padding-top: 2%; width: 100px; " *ngIf="authorize('Client_Module')">
      <nz-card style="background-color: #fdfcfc; height: 110%;"  nzHoverable="true" nzSize="small">
        <nz-card-meta
        [nzTitle]="clientTextTemplate"
      ></nz-card-meta>
      </nz-card>
      <!-- <ng-template #clientTemplate>
        <i nz-icon [nzType]="'contacts'" nzTheme="outline" style="color: #00a551 ;  font-size: '30px';"></i>
      </ng-template> -->
      <ng-template #clientTextTemplate >
<a routerLink="clientmanagement" style="color: black;">
        <p style="font-size:16px; font-weight: normal;"> <i nz-icon [nzType]="'contacts'" nzTheme="outline" style="color: #00a551 ;  font-size: '30px';"> <span> </span>  </i>  Clients</p>
      </a>


      </ng-template>
    </div>
    <div nz-col [nzSpan]="5" style="padding-top: 2%; padding-right: 7%;" *ngIf="authorize('Timesheet_Module')">
      <nz-card style="background-color: #fdfcfc; height: 110%;  "  nzHoverable="true" nzSize="small" >
        <nz-card-meta
        [nzTitle]="timesheetTextTemplate"

      ></nz-card-meta>
      </nz-card>
      <!-- <ng-template #timesheetTemplate>
        <i nz-icon [nzType]="'calendar'" nzTheme="outline" style="color: #00a551;  font-size: '30px';"></i>
      </ng-template> -->
      <ng-template #timesheetTextTemplate>
        <a routerLink="timesheet" style="color: black;" >

          <p style="font-size:16px; font-weight: normal;">  <i nz-icon [nzType]="'calendar'" nzTheme="outline" style="color: #00a551;  font-size: '30px';" > <span> </span>  </i>  Timesheet</p>
         </a>


      </ng-template>
    </div>

    <div nz-col [nzSpan]="5" style="padding-top: 2%;" *ngIf="authorize('Project_Module')">
      <nz-card style="background-color: #fdfcfc; height: 110%;"  nzHoverable="true" nzSize="small">
        <nz-card-meta
        [nzTitle]="projectTextTemplate"
      ></nz-card-meta>
      </nz-card>
      <ng-template #projectTemplate>
        <i nz-icon [nzType]="'project'" nzTheme="outline" style="color: #00a551;  font-size: '30px';"></i>
      </ng-template>
      <ng-template #projectTextTemplate>
        <a routerLink="projectmanagement" style="color: black;" >
        <p style="font-size:16px; font-weight: normal;">  <i nz-icon [nzType]="'project'" nzTheme="outline" style="color: #00a551;  font-size: '30px';"> <span> </span> </i>  Project Management</p>
       </a>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="5" style="padding-top: 2%;" >
      <nz-card style="background-color: #fdfcfc; height: 110%;"  nzHoverable="true" nzSize="small">
        <nz-card-meta
        [nzTitle]="userTextTemplate"
      ></nz-card-meta>
      </nz-card>
      <ng-template #userTemplate>
        <i nz-icon [nzType]="'tool'" nzTheme="outline" style="color: #00a551; font-size: '30px';"></i>
      </ng-template>
      <ng-template #userTextTemplate>
        <a routerLink="usermanagement" style="color: black;" >
          <p style="font-size:16px; font-weight: normal;"> <i nz-icon [nzType]="'tool'" nzTheme="outline" style="color: #00a551; font-size: '30px';"> <span> </span>  </i>  User Management</p>
        </a>
      </ng-template>
    </div>

    <div nz-col [nzSpan]="5" style="padding-top: 2%;" *ngIf="authorize('Configuration_Module')">
      <nz-card style="background-color: #fdfcfc; height: 110%;"  nzHoverable="true" nzSize="small">
        <nz-card-meta
        [nzTitle]="confTextTemplate"
        [nzAvatar]="configurationTemplate"
      ></nz-card-meta>
      </nz-card>
      <ng-template #configurationTemplate>
        <!-- <i nz-icon [nzType]="'setting'" nzTheme="outline" style="color: #00a551;  font-size: '30px';"></i> -->
      </ng-template>
      <ng-template #confTextTemplate>
        <a routerLink="configurationmodule" style="color: black;" >
          <p style="font-size:16px; font-weight: normal;"> <i nz-icon [nzType]="'setting'" nzTheme="outline" style="color: #00a551;  font-size: '30px';"> <span> </span>  </i>  Configuration</p>
        </a>


      </ng-template>
    </div>

</div>
</div>
