
.employee-name
{
  position: relative;
  font-size: medium;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 20px;
}
.designation{
  font-size: medium;
  font-weight: bold;
  padding-left: 60%;
  padding-right: 24%;
  margin-top: -3%;
  text-align:right;
  
  
}

.current-time{
  font-size: medium;
  font-weight: normal;
  margin-left: 76.5%;
  margin-top: -1.76%;
  margin-right: 92px;
}
.card-container {
  flex-wrap: wrap;
}
.feature-card
{
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}
p {
  margin: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.flex {
  display: flex;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8
}

.nz-icon {
  margin-right: 10px;
}


