.table_heading
{
  background-color: #fafafa !important;
  font-weight: 550;
  font-size:small;
}

.table_evenrow_heading
{
background-color: none !important;
}

.table_oddrow_heading
{
background-color: none !important;
}

.inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
}

.table_heading
{
background-color: #F5F5F5 !important;
}
tr:nth-child(even) {background: none}

a {
  padding-right: 0.6vw;
  color: #262626;
}

nz-table.table-container.ant-table-wrapper {
  padding-top: 1%;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active {
  background:none !important;
}

tr.ant-table-row.ng-star-inserted {
  height: 56px !important;
  padding:16px !important;
}
.main_container_homepage {
  padding: 0px 2%;
}

::ng-deep .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  content:none !important;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color:#00A551 !important;
  font-size: 16px !important;
}
::ng-deep .ant-tabs-tab:hover {
  color: #262626 !important;
}
::ng-deep .ant-tabs-ink-bar {

  background:#00A551 !important;

}
::ng-deep .ant-tabs-content-holder {

  font-family: SF Pro Display !important;

}
::ng-deep .ant-table-content {
  font-size: 16px !important;
}

.ant-table-column-sorter:active {
  color: #bfbfbf;

  transition: color .3s;
}

::ng-deep .ant-table {
  border: 1px solid #ddd !important;
}

tr.ant-table-row.ng-star-inserted {
  height: 56px !important;
  padding:16px !important;
}

::ng-deep .ant-table-content {
  font-size: 16px !important;
}

.ant-table-column-sorter:active {
  color: #bfbfbf;

  transition: color .3s;
}

::ng-deep .ant-table {
  border: 1px solid #ddd !important;
}


::ng-deep .ant-table-pagination.ant-pagination {
   display: none !important;
}
.ant-pagination {
  float: right;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.removeButton {
  color: #00a551;
  text-align: center;
  font-size: small;
}

.defaultButton {
  background: #e8e8e8;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  color: #595959;
}

.PageHeader {
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #262626;
}

.permissionlist {
  border: 0.1px solid;
  margin-left: 20px;
  width: 320px;
  max-height: 490px;
}

.title-holder {
  margin-top: 24px;
  margin-left: 18.48px;
}

.TabTitleStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #262626;
}

.editPermissionButton {
  color: #00a551;
  padding: 0px !important;
}

.editGroup {
  color: #fff;
  background-color: #00a551 !important;
  border-color: #00a551 !important;
}

.disableSaveUser {
    color: rgba(0,0,0,.25) !important;
    border-color: #d9d9d9 !important;
    background: #f5f5f5 !important;
    text-shadow: none;
    box-shadow: none;
}
.assign-access{
  margin-top: 10px;
  margin-bottom: 10px;
}
.right-footer{
  text-align: right;
  align-items: right;
  margin-left: 0px;
}

.primary[disabled],.ant-btn-primary[disabled],.ant-btn-primary[disabled]:active, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:hover {
  color: rgba(0,0,0,.25);
  border-color: #d9d9d9;
  background-color: #f5f5f5;
  text-shadow: none;
  box-shadow: none;
}

.UserCountPerGroup {
  margin-top: 4px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.footerText {
  font-weight: 400;
  font-size: 12px;
  color: #8c8c8c;
  float: left;
  margin-left: 8px;
  margin-bottom: 6px;
}
::ng-deep .ant-checkbox-checked .ant-checkbox-inner{
  background-color:#00A551;
  border-color:#00A551;
}
::ng-deep .ant-table-filter-open{
  color:#595959 !important;
 }


::ng-deep .ant-btn-dangerous,.ant-btn-dangerous:hover,.ant-btn-dangerous:active {
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: white !important;
}


::ng-deep .ant-modal-footer > .ant-btn-primary:hover {
  background-color:#00A551 !important;
  border-color:#00A551 !important;
  color: white !important;
}

::ng-deep .ant-modal-footer > .ant-btn:hover {
  background-color: white;
  border-color:black;
  color: black;
}

::ng-deep .addUserActions .ant-btn-primary.primary[disabled]
          .ant-btn-primary.primary[disabled]:hover,
          .ant-btn-primary.primary[disabled]:active
          .ant-btn-primary.primary[disabled]:focus {
    color: rgba(0,0,0,.25);
    border-color: #d9d9d9;
    background-color: #f5f5f5;
    text-shadow: none;
    box-shadow: none;

}

.addUserActions {
  text-align: right;
}

::ng-deep .editDescriptionActions .ant-btn-primary.primary[disabled]
.ant-btn-primary.primary[disabled]:hover,
.ant-btn-primary.primary[disabled]:active,
.ant-btn-primary.primary[disabled]:focus {
    color: rgba(0,0,0,.25);
    border-color: #d9d9d9;
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
    text-shadow: none;
    box-shadow: none;

}

.editDescriptionActions {
  text-align: right;
}

.tdstyle{
  font-size: small;
}

::ng-deep .defaultcolor .ant-table-filter-open {
  color: #595959;
}

.pagination {
  margin-top:10px;
}

.addMembers {
  margin-top: -20px;
}


.text-danger-error{
  color: #ff4d4f;
  display: block;
  font-size: 14px;
}

.box {
  inline-size: 600px;
  overflow-wrap: break-word;
}
section{
  height: 79vh;
  overflow-y:auto;
  background: #fff;
 }