.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error-block
{
  color: red;
}


.tab-title{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #262626;
  }


.clear-button {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  border-color: #00a551;

  color: #00a551;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
display: flex;
align-items: center;
color: #262626;
}
ssgin-link {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  color: #00a551;
}

::ng-deep .ant-radio-checked .ant-radio-inner {
  border-color: #00a551 !important ;
}

::ng-deep .ant-radio-checked .ant-radio-inner:after {
  background-color: #00a551;
}

::ng-deep .ant-radio:hover .ant-radio-inner {
  border-color: #00a551;
}
::ng-deep .ant-table-tbody > tr > td {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}


*{
  font-family: -apple-system, system-ui, BlinkMacSystemFont;

 }


 .redAstrics {
  color: red;
  margin-top: 8px;
  font-size: 1.3rem;
  margin-left: 10px;
}


::ng-deep .ant-modal-content  {
  height: 24.5rem;
}

::ng-deep .ant-form-item-label>label {
  margin: 0;
  font-size: medium;
  font-weight: 500;
}
::ng-deep .ant-spin-dot-item  {
  background-color: #00A551;
}

form {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.createButton {
  background: #00a551;
  border-color: #00a551;
}

.cancelButton {
  color: #00a551;
  border-color: #00a551;
}



  ::ng-deep .popover-edit-delete .ant-popover-inner-content {
    padding: 0;
  }

  ::ng-deep .popover-edit-delete .ant-popover-inner-content #edit:hover {
    background-color: #dcffdc;
    border-color: #dcffdc;
    border-radius: 2px 2px 0 0;
  }

  ::ng-deep .popover-edit-delete .ant-popover-inner-content #delete:hover {
    background-color: #dcffdc;
    border-color: #dcffdc;
    border-radius: 0 0 2px 2px;
  }


  .btn {
    border: #00a551;
    color: #FFFFFF;
    padding: 5px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: #00A551;
   border-radius: 2px;
  }
  .btn:hover{
    background-color: #006E36;
  }

  .btn:active{
    background: #005228;
  }

  .bnt:focus{
    background-color: #00A551;
  }

  .btn:disabled{
    background-color:  #BFBFBF;
    border-color:#F5F5F5;
  }

  .btn-cancel{
    border: 1px solid #00A551;
    color:#00A551;
    padding: 5px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: white;
   border-radius: 2px;
  }

::ng-deep .ant-btn-primary  {
  background-color: #00a551;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFF;

}

::ng-deep .ant-btn-primary:hover{
  background-color: #006E36;
}


::ng-deep .ant-btn-primary:active{
  background: #005228;
}
::ng-deep .ant-btn-primary::focus{
  background-color: #00A551;
}

::ng-deep:disabled{
  background-color:  #BFBFBF;
  border-color:#F5F5F5;
}



::ng-deep .conform-modal .ant-modal-content {
border: 0.5px solid #00a551;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 350px;
height: 147px !important;
padding-top: 0px !important;
background: #ffffff;
align-self: center;
justify-self: center;
}

::ng-deep .conform-modal .ant-modal-header {
  font-size: 16px;
  padding-bottom: 3px;
  color: rgba(0,0,0,.85);
  background: #fff;
  border-bottom: none;

}
::ng-deep .conform-modal .ant-modal-body {
padding-top: 0px;
font-weight: 500;
height: 70%;
width: auto;
font-size: 16px;
line-height: 24px;
}

::ng-deep .conform-modal  .anticon svg {
font-size: 20px;
margin-bottom: 40%;
}

nz-table  {
  padding: 0px !important;
 }
 .btn:disabled:hover{

  background-color:  #BFBFBF !important;
  border-color:#F5F5F5 !important; 
}

