<button nz-button class="w-20 h-9 mt-6 " (click)="onTodaysButtonClick()">Today</button>
<button nz-button class="h-9 mt-6" (click)="valueChangedLastWeek()">
        <i nz-icon nzType="left" nzTheme="outline" class="mb-2"></i>
</button>
<button nz-button class="h-9 mt-6" (click)="valueChangedNextWeek()">
        <i nz-icon nzType="right" nzTheme="outline" class="mb-2"></i>
</button>

<nz-date-picker class="h-9 mt-6 ml-8" [(ngModel)]="date" (ngModelChange)="onChange($event)" [nzDisabledDate]="">
</nz-date-picker>

   <h1 class="date sm:ml-6 sm:pt-2 sm:text-base sm:font-semibold lg:ml-20 lx:ml-96 mt-6 font-sans md:font-medium md:text-xl lg:font-medium lg:text-2xl xl:font-medium xl:text-2xl"> {{dates10}} {{dates11}} </h1>     

<!--<h1>Jul 26 - Aug 01, 2021</h1> -->
<!--counter this weeks: {{CounterNextWeek}}-->