<div class="date-selector flex flex-row justify-between w-full mr-6">
        <div class="ml-4 sm:ml-0 mt-2">
                <button nz-button (click)="onTodaysButtonClick()">Today</button>
                <button nz-button (click)="valueChangedLastWeek()">
                        <i nz-icon nzType="left" nzTheme="outline" class="inline-flex"></i>
                </button>
                <button nz-button (click)="valueChangedNextWeek()" [disabled]="isToday">
                        <i nz-icon nzType="right" nzTheme="outline" class="inline-flex"></i>
                </button>

                <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"
                        [nzDisabledDate]="">
                </nz-date-picker>
        </div>
        <div class="flex text-center">
                <h1
                        class="date text-center mt-2 text-lg font-semibold sm:ml-6  sm:text-base sm:font-semibold   sm:mb-6 lg:mt-4 font-sans md:font-medium md:text-xl lg:font-medium lg:text-2xl xl:font-medium xl:text-2xl">
                        {{dates10}} {{dates11}}
                </h1>
        </div>

       
        <div class="right-buttons mt-4 flex pl-10">
                <div *ngIf="authorize('View_Timesheet_Submissions')">
                        <button [routerLink]="['/timesheet/view-submissions']" nzSuccess nzSize="large" nz-button
                                class="mr-2">
                                View Submision
                        </button>
                </div>
                <div *ngIf="authorize('Approve_Timesheet') || authorize('Reject_Timesheet')">
                        <button [routerLink]="['/timesheet/timesheet-approval']" nzSize="large" nz-button>
                                Approve Timesheet
                        </button>
                        <div *ngIf="totalResponse > 0" class="timesheet-to-approve">{{totalResponse}}</div>
                </div>
        </div>
</div>