button {
    border-width: 0.7px;
    border-style: solid;
    border-color: #DADADA;
    border-radius: 0;

    &#button-today {
        width: 87px;
        height: 33px;
        margin-top: 24px;
        margin-left: 24px;
        padding: 8px, 12px, 8px, 12px;
    }

    &#button-left {
        width: 33px;
        height: 33px;
        margin-top: 24px;
        padding: 10px, 12px, 8px, 11px;
    }
    
    &#button-right {
        width: 33px;
        height: 33px;
        margin-top: 24px;
        padding: 10px, 11px, 8px, 12px;
    }
}

.date-picker {
    width: 149px;
    height: 33px;
    margin-top: 24px;
    margin-left: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: #DADADA;
}

h1 {
    width: fit-content;
    height: 32px;
    margin-top: 28px;
    margin-left: 268px;

    color: #262626;
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
}