/*
@media screen and (min-width: 1024px) {
    .date{
        margin-left: 22%;
    }
  }
  

  @media screen and (min-width: 1280px) {
    .date{
        margin-left: 25%;
    }
  }*/


  .right-buttons .ant-btn{
    border-color: #00a551;
    color: #00a551;
  }