
<div class="m-0 mr-6 ml-6 p-0 pt-6 pb-14">
    <h1 class="opacity-0">Country</h1>
    <div class="flex flex-row justify-end content-between mb-7">
        <div class="config-add-button">
            <button nz-button nzType="primary" (click)="openModal()">
                <span>Add Country</span>
            </button>
        </div>
    </div>

    <div>
        <nz-table #countryTable [nzData]="(countries$ | async) ?? []">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countryTable.data">
                    <td>{{ country.Name }}</td>
                    <td>
                        <i nz-icon nzType="edit" nzTheme="outline" (click)="update(country)"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i nz-icon nzType="delete" nzTheme="outline" (click)="delete(country)"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="addCountry" nzTitle="Add Country" [nzFooter]="null" nzClassName="config-add-country-modal" (nzOnCancel)="closeModal()">
    <ng-container *nzModalContent>
        <form (ngSubmit)="save()" class="flex flex-col">
            <div class="w-full m-0 mb-6">
                <label for="Name">Name:</label>
                <div class="m-0 mt-2">
                    <nz-select id="Name" [formControl]="country" class="w-full" nzPlaceHolder="Country" [nzShowSearch]="true">
                        <nz-option *ngFor="let country of (countryList$ | async)" nzValue="{{country.value}}" nzLabel="{{country.label}}" class="font-normal text-base not-italic"></nz-option>
                    </nz-select>
                </div>
            </div>

            <div class="w-auto m-0 ml-auto mr-auto">
                <button *ngIf="isNew" nz-button nzType="primary" type="submit">Save</button>
                <button *ngIf="!isNew" nz-button nzType="primary" type="submit">Update</button>
            </div>
        </form>
    </ng-container>
</nz-modal>
