* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.modal-footer{
  text-align: right;
  button {
    margin-right: 8px;
  }
}
button {
  height: 38px;
  border-radius: 2px;;
}
::ng-deep  .ant-btn-primary
{
color: white;
border-color: #00a551;
background-color: #00a551;
text-shadow: none;
box-shadow: none;
}
::ng-deep .ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
background-color: #2fad6c;
border-color: #00a551;
}
::ng-deep  .ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
color: rgba(0,0,0,.25) !important;
border-color: #d9d9d9 !important;
background-color: #f5f5f5 !important;
text-shadow: none;
box-shadow: none;
}
::ng-deep  .ant-btn-default[disabled],
.ant-btn-default[disabled]:hover,
.ant-btn-default[disabled]:focus,
.ant-btn-default[disabled]:active {
color: rgba(0,0,0,.25) !important;
border-color: #d9d9d9 !important;
background-color: #f5f5f5 !important;
text-shadow: none;
box-shadow: none;
}
.pagination {
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #595959;
}

::ng-deep .ant-table-content {
font-size: 16px !important;
}
.pagination {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #595959;
  }

  ::ng-deep .ant-table-content {
    font-size: 16px !important;
  }
  .content {
    padding:0px 20px 0px;
  }
 
  .tab-title{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #262626;
    }
    
    section{
      height: 81vh;
      overflow-y:auto;
     }