<h3>Add Device Detail</h3>
<form nz-form (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="category">Category</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="please select category">
        <nz-select name="CategoryGuid" nzShowSearch nzAllowClear nzPlaceHolder="Select category" [(ngModel)]="deviceDetail.CategoryGuid">
          <nz-option *ngFor="let category of categories" nzLabel="{{category.Name}}" nzValue="{{category.Guid}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="subcategory" nzRequired>Sub Category</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="please select sub category">
        <nz-select name="SubCategoryGuid" nzShowSearch nzAllowClear nzPlaceHolder="Select sub category" [(ngModel)]="deviceDetail.SubCategoryGuid">
          <nz-option *ngFor="let subCategory of subCategories" nzLabel="{{subCategory.Name}}" nzValue="{{subCategory.Guid}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="companyDeviceCode" nzRequired>
        <span>Company Device Code</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input company device code!">
        <input nz-input name="CompanyDeviceCode" #CompanyDeviceCode="ngModel" id="CompanyDeviceCode" [(ngModel)]="deviceDetail.CompanyDeviceCode" required />
        <div *ngIf="CompanyDeviceCode.invalid && (CompanyDeviceCode.dirty || CompanyDeviceCode.touched)" class="alert">
          <div *ngIf="CompanyDeviceCode.errors?.['required']">
            CompanyDeviceCode is required.
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DeviceName" nzRequired>Device Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Device Name!">
        <input nz-input name="DeviceName" id="DeviceName" placeholder="Device Name" [(ngModel)]="deviceDetail.DeviceName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Business Unit" nzRequired>Business Unit</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input business unit!">
            <input nz-input name="BusinessUnit" id="BusinessUnit" placeholder="Business Unit" [(ngModel)]="deviceDetail.BusinessUnit" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Is Working" nzRequired>Is Working</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <label nz-checkbox>
              <span>Is Working</span>
            </label>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DeviceClassificationGuid" nzRequired>Device Classification</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="please select device classification">
        <nz-select name="DeviceClassificationGuid"  nzShowSearch nzAllowClear nzPlaceHolder="Select device classification" [(ngModel)]="deviceDetail.DeviceClassificationGuid">
          <nz-option *ngFor="let deviceClassification of deviceClassifications" nzLabel="{{deviceClassification.Name}}" nzValue="{{deviceClassification.Name}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="PurchaseDate" nzRequired>Purchase Date</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select Purchase Date!">
          <nz-date-picker name="PurchaseDate" id="PurchaseDate" [(ngModel)]="deviceDetail.PurchaseDate"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Purchaser" nzRequired>Purchaser</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Purchaser!">
          <input nz-input name="Purchaser" id="Purchaser" [(ngModel)]="deviceDetail.Purchaser"/>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="InvoiceNumber" nzRequired>InvoiceNumber</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input InvoiceNumber!">
          <input nz-input name="InvoiceNumber" id="InvoiceNumber" [(ngModel)]="deviceDetail.InvoiceNumber"/>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Manufacturer" nzRequired>Manufacturer</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Manufacturer!">
          <input nz-input name="Manufacturer" id="Manufacturer" [(ngModel)]="deviceDetail.Manufacturer"/>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="SerialNumber" nzRequired>SerialNumber</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input SerialNumber!">
          <input nz-input name="SerialNumber" id="SerialNumber" [(ngModel)]="deviceDetail.SerialNumber"/>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Warranty" nzRequired>Warranty</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Warranty!">
          <input nz-input name="Warranty" id="Warranty" [(ngModel)]="deviceDetail.Warranty"/>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="WarrantyEndDate" nzRequired>Warranty EndDate</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input WarrantyEndDate!">
          <nz-date-picker name="WarrantyEndDate" id="WarrantyEndDate" [(ngModel)]="deviceDetail.WarrantyEndDate"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Notes" nzRequired>Notes</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Notes!">
          <input nz-input name="Notes" id="Notes" [(ngModel)]="deviceDetail.Notes"/>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" type="submit">Save</button>
      </nz-form-control>
    </nz-form-item>
  </form>