<nz-card class="card-view">
    <div class="title">Change Password</div><br>
    <p style="color:#00a551; text-align: center; font-size: 14px;"><i nz-icon nzType="warning" style="font-size: 14px; vertical-align: middle;" nzTheme="outline"></i> You are required to change your default password!</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
 
        <app-input
        [form]="changePasswordForm"
        fcn="OldPassword" 
        name="OldPassword"
        [type]="showOldPassword ? 'text' : 'password'"
        #OldPassword
        label="Old Password"
        [suffixIcon]="oldPasswordSuffixIcon"
        placeholder="Enter your old password"
        [showErrorIcon]="false"
        [errorMsg]="changePasswordForm.controls.OldPassword.errors?.errorMessage ?? 'Please insert your old valid password'"
        [displayError]="OldPassword.focusout"
      ></app-input>
      <app-input
        [form]="changePasswordForm"
        fcn="Password"
        name="Password"
        [type]="showPassword ? 'text' : 'password'"
        #Password
        label="Password"
        [suffixIcon]="passwordSuffixIcon"
        placeholder="Enter your password"
        [showErrorIcon]="false"
        [errorMsg]="changePasswordForm.controls.Password.errors?.errorMessage ?? ''"
        [displayError]="Password.focusout"
      ></app-input>
      <app-input
        [form]="changePasswordForm"
        fcn="ConfirmPassword"
        name="ConfirmPassword"
        type="password"
        #ConfirmPassword
        label="Confirm Password"
        placeholder="Confirm your password"
        errorMsg="Confirm password should match password field."
        [displayError]="ConfirmPassword.focusout"
        [disablePaste]="true"
      ></app-input>
      <br>
      <app-button style="background-color: #eceaea  !important;
      border-color: #eceaea  !important;" [loading]="loading" [disabled]="!changePasswordForm.valid" type="primary">
        Change Password
      </app-button>
    </form>
  
    <ng-template #passwordSuffixIcon>
      <i
        class="clickable-icon"
        (click)="togglePasswordView()"
        nz-icon
        [nzType]="!showPassword ? 'eye-invisible' : 'eye'"
        nzTheme="outline"
      ></i>
    </ng-template>
    <ng-template #oldPasswordSuffixIcon>
        <i
          class="clickable-icon"
          (click)="toggleOldPasswordView()"
          nz-icon
          [nzType]="!showOldPassword ? 'eye-invisible' : 'eye'"
          nzTheme="outline"
        ></i>
      </ng-template>
  </nz-card>
  