<div >
    <form 
nz-form
 [formGroup]="forms"
 class="w-full max-w-4xl"
 [nzLayout]="'vertical'"
 (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="name">Name
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.59375 3.90625L0.210938 3.21875L0.640625 1.89844L3 2.8125L2.88281 0.125H4.28125L4.16406 2.85938L6.48438 1.96094L6.90625 3.30469L4.48438 3.99219L6.04688 6.07031L4.91406 6.89844L3.50781 4.64844L2.11719 6.82812L0.976562 6.03125L2.59375 3.90625Z" fill="#F52121"/>
            </svg>            
      </nz-form-label>
      <nz-form-control  nzErrorTip="The input is not valid Name!">
        <input  nz-input formControlName="Name" placeholder="enter name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="affliation">Affliation
            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.59375 3.90625L0.210938 3.21875L0.640625 1.89844L3 2.8125L2.88281 0.125H4.28125L4.16406 2.85938L6.48438 1.96094L6.90625 3.30469L4.48438 3.99219L6.04688 6.07031L4.91406 6.89844L3.50781 4.64844L2.11719 6.82812L0.976562 6.03125L2.59375 3.90625Z" fill="#F52121"/>
                </svg>                
        </nz-form-label>
        <nz-form-control  nzErrorTip="The input is not valid Affliation!">
          <input  nz-input formControlName="Affliation"  placeholder="enter affliation" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="country">Country
            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.59375 3.90625L0.210938 3.21875L0.640625 1.89844L3 2.8125L2.88281 0.125H4.28125L4.16406 2.85938L6.48438 1.96094L6.90625 3.30469L4.48438 3.99219L6.04688 6.07031L4.91406 6.89844L3.50781 4.64844L2.11719 6.82812L0.976562 6.03125L2.59375 3.90625Z" fill="#F52121"/>
                </svg>                
        </nz-form-label>
        <nz-form-control  nzErrorTip="The input is not valid Country!">
            <nz-select  nzShowSearch nzAllowClear nzPlaceHolder="Select a country" formControlName="Country" (ngModelChange)="getSelectedCountry($event)">
                <nz-option *ngFor="let country of countries" nzLabel={{country.name}} nzValue={{country.name}}></nz-option>
               
              </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="city">City
            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.59375 3.90625L0.210938 3.21875L0.640625 1.89844L3 2.8125L2.88281 0.125H4.28125L4.16406 2.85938L6.48438 1.96094L6.90625 3.30469L4.48438 3.99219L6.04688 6.07031L4.91406 6.89844L3.50781 4.64844L2.11719 6.82812L0.976562 6.03125L2.59375 3.90625Z" fill="#F52121"/>
                </svg>                
        </nz-form-label>
        <nz-form-control  nzErrorTip="The input is not valid City!">
            <nz-select  nzShowSearch nzAllowClear nzPlaceHolder="Select a city" formControlName="City">
                <nz-option *ngFor="let city of cities" nzLabel={{city}} nzValue={{city}}></nz-option>
               
              </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="state">State/Region</nz-form-label>
        <nz-form-control  nzErrorTip="The input is not valid State!">
            <nz-select  nzShowSearch nzAllowClear nzPlaceHolder="Select a state/region" formControlName="State" (ngModelChange)="getSelectedState()">
                <nz-option *ngFor="let state of states" nzLabel={{state.name}} nzValue={{state.name}}></nz-option>
               
              </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item >
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="zipCode">ZipCode</nz-form-label>
        <nz-form-control  nzErrorTip="The input is not valid ZipCode!">
          <input   nz-input formControlName="ZipCode" placeholder="enter zip code" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="address">Address</nz-form-label>
        <nz-form-control  nzErrorTip="The input is not valid Address!">
          <textarea  nz-input formControlName="Address" placeholder="enter address" ></textarea>
        </nz-form-control>
      </nz-form-item>
      <div>
        <button nz-button class="clear-btn" (click)="resetForm()" >Clear</button>
        <button nz-button > Add</button>
       </div>
</form>

</div>