<p>address-new works!</p>
<form nz-form id="myForm" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="country">Country</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is required!">
      <nz-select formControlName="country" nzShowSearch nzAllowClear
        (ngModelChange)="onSelectCountry()">
        <ng-container *ngFor="let country of countries">
          <nz-option nzValue="{{country}}" nzLabel="{{country}}"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="state">
      <ng-container *ngIf="isEthiopia;else state">Region</ng-container>
      <ng-template #state>State</ng-template>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is required!">
      <nz-select formControlName="state"
      nzShowSearch nzAllowClear nzPlaceHolder="Input the state/region/province" [nzMaxMultipleCount]="1">
        <ng-container *ngFor="let state of listOfStates">
          <nz-option nzValue="{{state}}" nzLabel="{{state}}"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="city">City</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is required!">
      <input nz-input formControlName="city" id="city" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="subCityZone">
      <ng-container *ngIf="isEthiopia;else addressLine1">Sub-City/Zone</ng-container>
      <ng-template #addressLine1>Address Line 1</ng-template>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is required!">
      <input nz-input formControlName="subCityZone" id="subCityZone" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="woreda">
      <ng-container *ngIf="isEthiopia;else addressLine2">Woreda</ng-container>
      <ng-template #addressLine2>Address Line 2</ng-template>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="woreda" id="woreda" />
    </nz-form-control>
  </nz-form-item>
  <ng-container *ngIf="isEthiopia">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="houseNumber">House Number</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="houseNumber" id="houseNumber" />
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="postalCode">
      <ng-container *ngIf="isEthiopia;else zipcode">Postal Code</ng-container>
      <ng-template #zipcode>Postal/Zip Code</ng-template>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="postalCode" id="postalCode" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="residencialPhoneNumber" nzRequired>Phone Number</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['residencialPhoneNumber']"
      nzErrorTip="Please input your phone number!">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select formControlName="phoneNumberPrefix" class="phone-select">
            <ng-container *ngFor="let code of listofCodes">
              <nz-option nzValue="{{code}}" nzLabel="{{code}}"></nz-option>
            </ng-container>
          </nz-select>
        </ng-template>
        <input formControlName="residencialPhoneNumber" id="'residencialPhoneNumber'" nzPlaceHolder="911223344" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
<app-progress-buttons [isMultiple]="false" (actionType)="onAction($event)"></app-progress-buttons>
