<div class="page-title">
    <h2>Organization Detail</h2>
</div>
<form nz-form>
    <div class="control-padding" nz-row [nzGutter]="[8, 8]" >
        <div nz-col class="gutter-row" [nzSpan]="6">
            <label for="dutystation">Duty station</label>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <label for="dutybranch">Duty branch</label>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <label for="compaynemail">Compayn email</label>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <label for="compaynemail">Phone number</label>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-select >
            </nz-select>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <nz-select >
            </nz-select>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <input nz-input placeholder="Company email"/>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <input nz-input placeholder="" />
        </div>
    </div>
</form>