.table_heading
{
background-color: #E8FFE8 !important;
}
tr:nth-child(even) {background: #F9FFF9}

a {
  padding-right: 0.6vw;
  color: #262626;
}
.ant-btn-primary {
  color: #262626 !important;
  background: none !important;
  border: 1px solid #d9d9d9 !important;
}

nz-table.table-container.ant-table-wrapper {
  padding-top: 1%;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: green !important;

}




