<form nz-form class="form-group personal-detail-form-group" [nzLayout]="'vertical'">

  <div>
    <h2>
      Family Detail
    </h2>
  </div>

  <exec-epp-custom-full-name [formGroup]="getFormGroup('fullName')">
  </exec-epp-custom-full-name>
  <exec-epp-custom-select [label]="'Relationship'" [myControl]="getControl('relationship')" [required]="true"
    [list$]="relationships$">
  </exec-epp-custom-select>
    <exec-epp-custom-select [label]="'Gender'" [myControl]="getControl('gender')" [required]="true"
      [list$]="genders$">
    </exec-epp-custom-select>
    <exec-epp-custom-datepicker
    [label]="'Date of Birth'"
    [myControl]="getControl('dateofBirth')">
  </exec-epp-custom-datepicker>
</form>
