<div class="main-content">
  <div nz-row>
    <div nz-col nzSpan="5" class="sidebar">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item routerLink="/">
          <i nz-icon [nzType]="'user'" [nzTheme]="'outline'"></i> Roles
        </li>
        <li nz-menu-item nzSelected routerLink="/department">
          <i nz-icon [nzType]="'laptop'" [nzTheme]="'outline'"></i> Departments
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="19">
      <div class="content">
<h2 *ngIf="this.isEdit">Edit Department</h2>
<h2 *ngIf="!this.isEdit">Add Department</h2>
<form nz-form (ngSubmit)="submitForm()" [nzLayout]="'vertical'" [formGroup]="departmentForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Name" nzRequired>Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Name!">
        <input nz-input id="Name" placeholder="Name" formControlName="Name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-control [nzSpan]="14">
        <button nz-button nzType="primary" type="submit" *ngIf="isEdit">Update</button>
        <button nz-button nzType="primary" type="submit" *ngIf="!isEdit">Save</button>
        <button nz-button nzType="default" style="margin-left: 24px;" (click)="resetForm()">Reset</button>
      </nz-form-control>
    </nz-form-item>
    <hr/>
  </form>
</div>
</div>
</div>
</div>