<header>
  <nz-breadcrumb nz-page-header-breadcrumb class="mt-4">
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>
       Clients
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="justify-between" nz-row>
    <div class="page-title" nz-col nzSpan="22"> Clients </div>

   <div nz-col Span="2" > <button class="addButton" *ngIf="authorize('Create_Client')"  (click)="addClientPage()"  nz-button> Add Client </button> </div>
  </div>
 </header>
<exec-epp-header-line> </exec-epp-header-line>
<div class="main-content">

<div nz-row class="ml-1 w-8 h-4">
  <div nz-col nzSpan="6" class="ml-1">
    <nz-input-group [nzSuffix]="suffixIconSearch" >
      <input [formControl]="searchProject" type="text" nz-input placeholder="Search" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>

  </div>

  <div>

    <ng-template #contentTemplate>
      <div style="width: 190px;">

          <div>
            <ul style="list-style-type:none;margin: 0;padding: 0;">

               <li> <label nz-checkbox [(ngModel)]="locationCheckbox">Location</label></li>
               <li> <label nz-checkbox [(ngModel)]="statusCheckbox">Status</label></li>
               <li> <label nz-checkbox [(ngModel)]="salesCheckbox">Sales Person</label></li>
               <li> <label nz-checkbox [(ngModel)]="clientContactCheckbox">Client Contact Person</label></li>
               <li>  <label nz-checkbox [(ngModel)]="companyContactCheckbox">Company Contact Person</label> </li>
            </ul>
          </div>


        <button style="width: 100%;background-color:#00a551;padding: 0%;" nz-button (click)="onDefaultClick()">
          Default
        </button>

      </div>
    </ng-template>
    </div>
    <div class="manageColumns">
    <a style="color: #00A551;background-color: white;" nz-popover
      [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom" nzPopoverTrigger="click"
      >Manage Columns</a>
  </div>



</div>

 <div class="pagination">
  <div>Showing 1 - {{clientsdata.length}} of {{total}} entries</div>
  <nz-pagination [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="total"
  (nzPageSizeChange)="PageSizeChange($event)" (nzPageIndexChange)="PageIndexChange($event)" nzSimple>


 </nz-pagination>

 </div>
 <br>




<nz-table class="mt-3" [nzLoading]="loading" [nzData]="clientsdata" [nzShowPagination]="false" >


  <thead>
    <tr>
      <th [nzSortFn]="true"  (click)="sorter(1)" class="table_heading">Client</th>
      <th *ngIf="locationCheckbox" [nzFilters]="namesofLocationsfilterd" (nzFilterChange)="search($event,searchstatusList,searchsalesPersonList)" [nzSortFn]="true"  (click)="sorter(2)" class="table_heading">Location</th>
      <th *ngIf="statusCheckbox" [nzFilters]="namesofclientsfilterd" (nzFilterChange)="search(searchAddressList,$event,searchsalesPersonList)" [nzSortFn]="true" [nzSortFn]="true"  (click)="sorter(3)" class="table_heading">Status</th>
      <th *ngIf="salesCheckbox" [nzFilters]="namesofSalesfilterd" (nzFilterChange)="search(searchAddressList,searchstatusList,$event)" [nzSortFn]="true" [nzSortFn]="true"  (click)="sorter(4)" class="table_heading">Sales Person</th>
      <th *ngIf="clientContactCheckbox" class="table_heading">Client Contact Person</th>
      <th *ngIf="companyContactCheckbox" class="table_heading">Company Contact Person</th>
      <th class="table_heading">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of clientsdata | sort:[sortByParam, sortDirection]" >

      <td >{{value.ClientName}}</td>
      <td *ngIf="locationCheckbox">{{value.OperatingAddressCountry}}</td>
      <td *ngIf="statusCheckbox">{{value.ClientStatusName}}</td>
      <td *ngIf="salesCheckbox">{{value.SalesPersonName}}</td>
      <td *ngIf="clientContactCheckbox">{{value.ClientContacts[0].ContactPersonName}}</td>
      <td *ngIf="companyContactCheckbox">{{value.CompanyContacts[0].Employee.Name}}</td>


        <td>
          <a href="">
            <i nz-icon nzType="edit" style="color:black;" ></i>
         </a>
         &nbsp; &nbsp;
         <a href ="" >
           <i nz-icon nzType="delete" style="color:black;"></i>
         </a> </td>


    </tr>
  </tbody>
</nz-table>

<!-- <div class="pagination mt-2">
  <div>Showing 1 - {{clientsdata.length}} of {{total}} entries</div>
  <nz-pagination [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="total"
  (nzPageSizeChange)="PageSizeChange($event)" (nzPageIndexChange)="PageIndexChange($event)" nzSimple>


 </nz-pagination>

 </div> -->

<br><br>



</div>






