


tr:nth-child(even) {background: none}
.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif ;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
}
::ng-deep.ml-1{
  padding-left: 9px;
}
header {
  padding: 0px 2%;

}

.main_container_homepage {
  padding: 0px 2%;
  padding-bottom: 2rem;
  margin-bottom: 2.3rem;
  margin-top: 1.2rem;
  height: 85vh;
}



.view-client-table {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.page-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
}

header {
  padding: 0px 2%;
}

.main_container_homepage {
  padding: 0px 2%;
  padding-bottom: 2rem;
  margin-bottom: 2.3rem;
  margin-top: 1.2rem;
  height: 85vh;
}
.add-button-bg{
  background-color: #00A551;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}
::ng-deep .ant-modal-confirm .ant-modal-confirm-btns {
 // justify-content: center !important;
  float: none !important;
}

::ng-deep .pagination {
  display: flex;
  float: right;
  padding-right: 15px;


}
::ng-deep.manageColumns{

  display:flex;
  float:right;
  padding-left: 980px;


}

.main-content {
  height:110vh;
 }

::ng-deep .ant-table {
  border: 1px solid #ddd !important;

}


.addButton {
  background-color: #00A551;
  color: white;
  height: 40px;

}
::ng-deep .ant-btn-dangerous.ant-btn-primary {
  border-color: #00A551 !important;
  background: #00A551 !important;

}
::ng-deep .ant-btn-dangerous.ant-btn-primary:hover {
  background: #00A551 !important;
}
::ng-deep .ant-modal-confirm-body>.anticon+.ant-modal-confirm-title+.ant-modal-confirm-content {
  margin-left: 0px !important;
}
::ng-deep .table_heading {
  background-color: #fafafa !important;
}
.ant-input-affix-wrapper {
  position: relative;
  width: 21vw !important;

}
::ng-deep .ant-table-filter-column {
  display: inline-flex !important;
  float:left !important;
}
.anticon-filter   {
  color: none;
}
::ng-deep .ant-table-column-sorters {
   float: left !important;
}
::ng-deep .ant-table-filter-open{
  color:#00A551 !important;
 }
 ::ng-deep .ant-checkbox-checked .ant-checkbox-inner{
  background-color:#00A551;
  border-color:#00A551;
}

::ng-deep .ant-col-24 {

  float: right !important;
}
::ng-deep .ant-table-column-sorter-down.active, ::ng-deep .ant-table-column-sorter-up.active {
  color: #00A551;
}

::ng-deep.ant-btn-primary,.ant-btn-primary:active,
         .ant-btn-primary:hover,.ant-btn-primary:focus {
  background-color: #00A551 !important;
  border-color: #00A551 !important;
  color: white;
         }
::ng-deep .defaultcolor .ant-input-affix-wrapper {
   padding: 1px 5px !important;
  }
.ant-col {
  padding-bottom: 3px;

}
::ng-deep .ant-table-column-title {
  font-size: 16px !important;
}
::ng-deep .ant-table-tbody>tr>td {

  font-size: 16px !important;
}
.pagination-text {
  font-size: 16px;
}
::ng-deep .ant-spin-dot-item {

  background-color: #00A551 !important;
}
nz-breadcrumb.mt-4.ant-breadcrumb {
  padding-top: 0.75rem !important;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; }

.header-separator{
  border-top: 1px solid #ccc !important;
}
.ant-row {

  padding-bottom: 10px !important;
}
::ng-deep .main-content {
  padding-top: 16px !important;
}
