*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.main_container_homepage {
    padding: 0px 1.6% ;

  }

  html{
  
    margin-bottom: 0px !important;
   padding-bottom:0px !important ;
  }

  .page-title {

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px; 
    display: flex;
    align-items: center;
    color: #262626;
  
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  .header {
    position: fixed; 
    top:3.30rem;
    width: 100%;
   }
  .page{
   height: 79vh;
   margin-top: 8.60rem;
   overflow-y:auto;
  }