<nz-card class="card-view">
  <div class="title" style="margin-left: 30%; padding-bottom: 5%;">
    <div class="union-img">
      <img style=" padding-left: 12px" src="assets/images/Union.png"/>
    </div>
     <div class="Epp_Project">
     <img  src="assets/Enterprise_Project_portfolio.png" />
    </div>
</div>

<div class="loginAccount">
<p > Welcome , <b>Login </b> to your account</p> </div>
<br>
  <form [formGroup]="loginForm">
    <app-input
      [form]="loginForm"
      fcn="email"
      name="email"
      type="email"
      label="Email"
      placeholder="example@email.com"
      errorMsg="Please provide valid email address."
      #email
      [displayError]="email.focusout"
      [maxLength]="50"
    >
    </app-input>
    <app-input
      [form]="loginForm"
      fcn="password"
      name="password"
      #password
      [type]="showPassword ? 'text' : 'password'"
      label="Password"
      placeholder="Enter your password"
      [suffixIcon]="passwordSuffixIcon"
      [showErrorIcon]="false"
      errorMsg="You entered fewer or invalid characters."
      [displayError]="password.focusout"
      [maxLength]="50"
    ></app-input>
    <app-button [loading]="loading" class="login-button" [disabled]="!loginForm.valid" type="primary" (click)="signin()">
      Sign in
    </app-button>

  </form>
   <a nz-button nzType="link" [href]="forgotPasswordUrl" class="btn-forgot-text">Forgot password?</a>

  <ng-template #passwordSuffixIcon>
    <i
      class="clickable-icon"
      (click)="togglePasswordView()"
      nz-icon
      [nzType]="!showPassword ? 'eye-invisible' : 'eye'"
      nzTheme="outline"
    ></i>
  </ng-template>
</nz-card>