.card-view {
  margin: 20px auto;
  border-radius: 10px;
  width:fit-content;
  min-width: 30%;
  border-width: 0.75px;
  border-color: #DADADA;
  max-width: 300px;
  margin-top:130px;
}

.login-welcome-text{
  width:500px;
  height:64px;

  font:SF Pro Display Semibold;
  font-style:normal;
  font-weight:600;
  font-size:24px;
  line-height:32px;
  color:#1a202c
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  
  text-align: center;
  font:SF Pro Display Semibold;
  font-style:normal;
  color:#1a202c;  
  
}
.union-img{
  margin-left: -17%;
  margin-top: 5%;
  width: 38%;
}

.Epp_Project{
  margin-left: 25%;
  margin-top: -13%;
  width: 48%;
}

.loginAccount
{
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  
  text-align: center;
  font:SF Pro Display Semibold;
  font-style:normal;
  color:#1a202c;  

}

.info {
  padding-top: 20px;
  text-align: center;
}

.clickable-icon{
  cursor: pointer;
}
a {
  color: #1890ff;
}

