::ng-deep .config-add-button .ant-btn {
    background-color: #00A551;
    border-color: #00A551;
}

::ng-deep .config-add-country-modal .ant-btn {
    background-color: #00A551;
    border-color: #00A551;
}
.pagination {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #595959;
  }
  .content {
    padding:0px 20px 0px;
  }
  .tab-title{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #262626;
    }
    button {
        height: 38px;
        border-radius: 2px;
        font-style: normal;
        font-weight: 500;
      }
      button.ant-btn-primary {
        background-color: #00A551;
        color: white;
        font-style: normal;
        font-weight: 500;
      }
      
      .ant-btn-primary.ant-btn:active {
        background-color: #00A551;
        border-color: #00A551;
      }
      
      .ant-btn-primary:focus{
        border-color: #00A551;
        background: #00A551;
        color: #fff;
      }
      .ant-btn-primary:hover {
        border-color: #006E36;
        background: #006E36;
        color: #fff;
      }
      .ant-btn-primary:active {
        color: #fff;
        border-color: #005228;
        background: #005228;
      }
      
      .ant-btn-primary {
        border-color: #00A551;
        background: #00A551;
      }
      
      .ant-btn:focus, .ant-btn:hover {
          color: #00A551;
          border-color: #00A551;
      }
      
      .ant-btn:focus {
        border-color: #00A551;
        color: #00A551;
      }
      .ant-btn:hover {
        border-color: #006E36;
        color: #006E36;
      }
      .ant-btn-primary {
        border-color: #00A551;
        background: #00A551;
      }
      
      .ant-btn-primary:focus{
        border-color: #00A551;
        background: #00A551;
        color: #fff;
      }
      .ant-btn-primary:hover {
        border-color: #006E36;
        background: #006E36;
        color: #fff;
      }
      .ant-btn-primary:active {
        color: #fff;
        border-color: #005228;
        background: #005228;
      }
 