
<div class="content">
        <div class="justify-between mb-3" nz-row>
            <div class="tab-title"> Duty Stations</div>

            <button  nz-button nzType="primary"   (click)="openModal()" *ngIf="authorize('Create_DutyStation')" >
                Add Duty Station
            </button>
          </div>
         <div>
        <nz-table   [nzLoading]="loading"   nzSize="small"   [nzFrontPagination]="false"  #dutyStationTable [nzData]="dutyStationListView">
            <thead>
                <tr>
                    <th>Duty Stasion Name</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="authorize('View_DutyStation')">
                <tr *ngFor="let dutyStation of dutyStationTable.data">
                    <td>{{ dutyStation.Name }}</td>
                    <td>{{ dutyStation.CountryName }}</td>
                    <td>
                        <i nz-icon nzType="edit" nzTheme="outline" (click)="update(dutyStation)" *ngIf="authorize('Update_DutyStation')"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i nz-icon nzType="delete" nzTheme="outline" (click)="delete(dutyStation)" *ngIf="authorize('Delete_DutyStation')"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <span *ngIf="total>0 && authorize('View_DutyStation')"  class="pagination flex justify-end">
            Showing  {{10 * (pageIndex -1) + 1 }}  -  {{ 10 * (pageIndex) > total?
              total : 10 * (pageIndex) }} of {{total}} entries
            <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total+1" (nzPageIndexChange)="pageIndexChange($event)"
              nzSimple>
            </nz-pagination>
          </span>
    </div>
</div>

<nz-modal
    [(nzVisible)]="addDutyStation"
    nzTitle="Add Duty Station"
    [nzFooter]="null"
    nzClassName="config-add-country-modal"
    (nzOnCancel)="updateModalState()"
     [nzWidth]="'410px'">
    <ng-container *nzModalContent>
        <form (ngSubmit)="save()" class="flex flex-col">
            <div class="w-full m-0 mb-2">
                <nz-form-label nzfor="country" nzRequired>Country</nz-form-label>
                <div class="w-full m-0 mt-2">
                    <nz-select id="country" [formControl]="country" class="w-full ml-8 h-9 rounded-sm border-gray-300">
                        <nz-option *ngFor="let country of (countries$ | async)" nzValue="{{country.Guid}}"
                            nzLabel="{{country.Name}}" class="font-normal text-base not-italic"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="w-full m-0 mb-6">
                <nz-form-label nzfor="Name" nzRequired>Name</nz-form-label>
                <div class="m-0 mt-2">
                    <input nz-input id="Name" placeholder="Name" [formControl]="dutyStation" />
                </div>
            </div>

            <div class="modal-footer">
                <button *ngIf="isNew" nz-button nzType="primary" type="submit" [disabled]="isFormDisabled">Add</button>
                <button *ngIf="!isNew" nz-button nzType="primary" type="submit" [disabled]="isFormDisabled">Update</button>
                <button  nz-button nzType="default" (click)="clearData()" [disabled]="!enableClear">Clear</button>
            </div>
        </form>
    </ng-container>
</nz-modal>
