

<nz-table
  class="manager-table"
  #basicTable
  [nzData]="submission"
  [ngClass]="{
    notALlColumns: !isAll
  }"
>
  <thead></thead>
  <tbody>
    <tr *ngFor="let row of submission" class="clickable" >
      <td
        *ngIf="isAll"
     
       
      ></td>
      <td >{{ row.name }}</td>
      <td (click)="reviewsubmissions(row.dateRange)">{{ row.projectName }}</td>
      <td>{{ row.clientName }}</td>
      <td [routerLink]="['/timesheet', row.Guid]">{{ row.hours }}</td>
    </tr>
  </tbody>
</nz-table>


