nz-breadcrumb {
    margin: -1px;

}
.breadcrumb {
    // box-shadow: 0px -3px 0px 0px #EAEAEA inset;
    background-color: #fff;
    padding: 11px 22px;
    // margin: -1px -120px;
    border-bottom: 3px solid #D9D9D9;
    font-family:-apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif
}
.breadcrumb h3 {
    margin-bottom: 0px;
    font-weight: bold;
}


.addButton {
  background-color: #00A551;
  color: white;
  height: 40px;

}

