<div class="breadcrumb">
  <nz-breadcrumb>
    <div nz-row>
      <div nz-col nzSpan="22">
        <nz-breadcrumb-item>
          <a [routerLink]="['/']">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item> <a [routerLink]="['/resourcemanagement']">Resources</a></nz-breadcrumb-item> <br />

        <h3 class="w-auto h-full font-semibold text-xl not-italic" *ngIf="isdefault; else employees">Employees</h3>
        <ng-template #employees>
          <h3 class="w-auto h-full font-semibold text-xl not-italic">Employees</h3>
        </ng-template>
      </div>

      <!-- *ngIf="router !=='/employee/add-employee/personal-info'" -->
      <!-- *ngIf="_employeeService.isdefault && router !== '/device-detail'" -->
      <div nz-col nzSpan="2"  *ngIf="authorize('Create_Employee') || authorize('Employee_Admin')">
        <button *ngIf="activeRoute('/resourcemanagement')"

          nz-button
          class="addButton"
          (click)="addEmployee()"
        >
          Add Employee
        </button>
        <!-- {{router}}-->
      </div>
    </div>
  </nz-breadcrumb>
</div>
