<div class="breadcrumb">
  <nz-breadcrumb>
    <div nz-row>
      <div nz-col nzSpan="22">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Resources</nz-breadcrumb-item> <br />

        <h3 *ngIf="isdefault; else employees">Employees</h3>
        <ng-template #employees>
          <h3>Employees</h3>
        </ng-template>
      </div>

      <!-- *ngIf="router !=='/employee/add-employee/personal-info'" -->
      <!-- *ngIf="_employeeService.isdefault && router !== '/device-detail'" -->
      <div nz-col nzSpan="2"  *ngIf="authorize('Create_Employee') || authorize('Employee_Admin')">
        <button *ngIf="activeRoute('/resourcemanagement')"
         
          nz-button
          class="addButton"
          (click)="addEmployee()"
        >
          Add Employee
        </button>
        <!-- {{router}}-->
      </div>
    </div>
  </nz-breadcrumb>
</div>
