/* You can add global styles to this file, and also import other style files */

/* Import tailwindcss files */
@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */


.ant-table-column-sorters {
    float: left;
}

.ant-table-column-sorters .ant-table-column-title {
    padding-right: 10px;
}


.timesheetapproval-controllers,
.timesheetapproval-tab {
  .ant-table-filter-trigger.active {
    color: #00a551;
  }

  .ant-dropdown-menu-item-selected,
  .ant-dropdown-menu-submenu-title-selected {
    color: #00a551;
    background-color: #f5f5f5;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #00a551;
    border-color: #00a551;
  }

  .ant-checkbox-input:focus + .ant-checkbox-inner,
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner {
    border-color: #00a551;
  }

  .ant-btn-link:focus,
  .ant-btn-link:hover {
    color: #00a551;
  }
  .ant-btn-primary:focus,
  .ant-btn-primary:hover {
    border-color: #00a551;
    background: #00a551;
  }
  .ant-table-column-sorter-down.active,
  .ant-table-column-sorter-up.active {
    color: #00a551;
  }
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #00a551;
  }

  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus {
    border-color: #00a551;
    box-shadow: 0 0 0 2px rgb(0 165 81 / 20%);
  }

  .ant-tabs-tab-btn:active,
  .ant-tabs-tab-btn:focus,
  .ant-tabs-tab-remove:active,
  .ant-tabs-tab-remove:focus,
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:active,
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:focus,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:active,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:focus {
    color: #00a551;
  }
  .ant-tabs-tab:hover {
    color: #00a551;
  }
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #00a551;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
  border: 1px solid #00a551;
}
.ant-picker-today-btn,
.ant-picker-today-btn:hover {
  color: #00a551;
}
.ant-picker-header-view button:hover {
  color: #00a551;
}
.ant-picker-focused,
.ant-picker:hover {
  border-color: #00a551;
}
.ant-picker-focused {
  box-shadow: 0 0 0 2px rgb(0 165 81 / 20%);
}



  .ant-table-column-sorter-down.active,
  .ant-table-column-sorter-up.active {
    color: #00a551;
  }
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #00a551;
  }

  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus {
    border-color: #00a551;
    box-shadow: 0 0 0 2px rgb(0 165 81 / 20%);
  }

  .ant-tabs-tab-btn:active,
  .ant-tabs-tab-btn:focus,
  .ant-tabs-tab-remove:active,
  .ant-tabs-tab-remove:focus,
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:active,
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:focus,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:active,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:focus {
    color: #00a551;
  }



.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #00a551;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
  border: 1px solid #00a551;
}
.ant-picker-today-btn,
.ant-picker-today-btn:hover {
  color: #00a551;
}
.ant-picker-header-view button:hover {
  color: #00a551;
}
.ant-picker-focused,
.ant-picker:hover {
  border-color: #00a551;
}
.ant-picker-focused {
  box-shadow: 0 0 0 2px rgb(0 165 81 / 20%);
}
.ant-table-column-sorter-down.active, .ant-table-column-sorter-up.active {
    color: #00A551 !important;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: 1;
  content: '*';
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none !important;
}

.user-detail-avatar svg {
  margin-top: -20px;
}
.ant-modal-confirm-btns {
  display: flex;
  flex-direction: row-reverse;
  
  .ant-btn {
    margin-left: 8px;
  }

  .ant-btn:focus {
    border-color: #00A551;
    color: #00A551;
  }
  .ant-btn:hover {
    border-color: #006E36;
    color: #006E36;
  }
  .ant-btn-primary {
    border-color: #00A551;
    background: #00A551;
  }

  .ant-btn-primary:focus{
    border-color: #00A551;
    background: #00A551;
    color: #fff;
  }
  .ant-btn-primary:hover {
    border-color: #006E36;
    background: #006E36;
    color: #fff;
  }
  .ant-btn-primary:active {
    color: #fff;
    border-color: #005228;
    background: #005228;
  }
}

.ant-table-footer, .ant-table-thead > tr > th {
  background: #f5f5f5 !important;
}

.ant-checkbox-input:focus+.ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #00A551 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00A551 !important;
  border-color: #00A551 !important;
}

.ant-checkbox-checked::after {
  border: 1px solid #00A551 !important;
}

.ant-table table {
  border: 1px solid #D9D9D9;
}

.ant-breadcrumb a:hover {
  color: #00A551 !important;
}