<nz-card class="card-view">
  <div class="title">Sign in</div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <app-input
      [form]="loginForm"
      fcn="email"
      name="email"
      type="email"
      label="Email"
      placeholder="example@email.com"
      errorMsg="Please provide valid email address."
      #email
      [displayError]="email.focusout"
      [maxLength]="50"
    >
    </app-input>
    <app-input
      [form]="loginForm"
      fcn="password"
      name="password"
      #password
      [type]="showPassword ? 'text' : 'password'"
      label="Password"
      placeholder="Enter your password"
      [suffixIcon]="passwordSuffixIcon"
      [showErrorIcon]="false"
      errorMsg="Password length should be minimum 8."
      [displayError]="password.focusout"
      [maxLength]="50"
    ></app-input>
  </form>
  <app-button class="login-button" [disabled]="!loginForm.valid" type="primary">
    Sign in
  </app-button>

  <div class="info">
    Don't have an account?
    <a [routerLink]="['/user/signup']"> Sign in </a>
  </div>
  <ng-template #passwordSuffixIcon>
    <i
      class="clickable-icon"
      (click)="togglePasswordView()"
      nz-icon
      [nzType]="!showPassword ? 'eye-invisible' : 'eye'"
      nzTheme="outline"
    ></i>
  </ng-template>
</nz-card>
