.excel-single-control {
    width: 28rem !important;
}

.excel-phone-prefix-control {
    width: 5rem !important;
}

.excel-phone-control {
    width: 23rem !important;
}

.excel-form-label {
    width: 28rem !important;
}

.excel-link-button {
    outline: 0 !important;
    border: none !important;
    background-color: rgba($color: #FFFFFF, $alpha: 0.0) !important;
    color: #00A551 !important;
}

.excel-link-button:hover, .excel-link-button:focus {
    color: rgb(0,255,0) !important;
}

.form-label {
    min-width: 28rem !important;
}

.form-item ::ng-deep .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-has-success .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-has-warning .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-is-validating .ant-form-item-children-icon {
    position: absolute;
    top: 50%;
    left: 26rem;
    z-index: 1;
    width: 32px;
    height: 20px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    visibility: visible;
    animation: zoomIn .3s cubic-bezier(.12,.4,.29,1.46);
    pointer-events: none;
}

.form-item ::ng-deep .ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
    margin-right: 0px;
    color: #ff4d4f;
    font-size: 0px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: '';
  }


.form-item ::ng-deep .ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: '*';
  }

  
.multiple-entry-item ::ng-deep .ant-input-group-addon:last-child {
    border: none !important;
    background-color: white !important;
}

.exec-buttons-multiple-controls {
    border: none !important;
    background-color: white !important;
}

.form-group {
    overflow-y: auto;
    overflow-x: auto;
}