
.nz-footer {
  text-align: center;
  color: white;
  background: #595959;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 0px;
  border-top: 1px solid #e8e8e8;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  position: fixed;
  left: 0px;
  color: white;
  font-family: Roboto;
  
  

}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 0px;
  border-top: 1px solid #e8e8e8;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  position: fixed;
  left: 0px;
  color: white;
  background: #595959;
}
