
.nz-footer {
  text-align: center;
  color: white;
  background: #6E716E;
  height: 10px;

}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 0px;

  position: absolute;
  width: 1519px;
  height: 36px;
  left: 0px;

  color: white;
  background: #595959;

}
