<nz-form-item class="form-item">
  <nz-form-label class="form-label" [nzSm]="labelConfig.nzSm" [nzXs]="labelConfig.nzXs" [nzRequired]="required">
    {{label}}
  </nz-form-label>
  <nz-form-control [nzSm]="controlConfig.nzSm" [nzXs]="controlConfig.nzXs" [nzErrorTip]="errMessage"
    nzHasFeedback>
    <nz-date-picker
      class="excel-single-control"
      nzFormat="MM/dd/yyyy" [formControl]="myControl" nzPlaceHolder="MM/DD/YYYY"
    [nzDisabledDate]="disabledDate">
    </nz-date-picker>
  </nz-form-control>
</nz-form-item>
