<form nz-form [formGroup]="emergencyContactForm" [nzLayout]="'vertical'">
  <nz-form-item
    class="form-item form-item-emergency-contact form-item-emergency-contact-name form-item-emergency-contact-name-firstname ">
    <nz-form-label
      class="form-label form-label-emergency-contact form-label-emergency-contact-name form-label-emergency-contact-name-firstname"
      [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired>
      First Name
    </nz-form-label>
    <nz-form-control
      class="form-control form-control-emergency-contact form-control-emergency-contact-name form-control-emergency-contact-name-firstname"
      [nzSm]="14" [nzXs]="24" [nzValidateStatus]="errorMessages.controls.firstName.state"
      [nzErrorTip]="errorMessages.controls.firstName.message">
      <input
        class="entry-control entry-control-emergency-contact entry-control-emergency-contact-name entry-control-emergency-contact-name-firstname"
        formControlName="firstName" nzPlaceHolder="Smith" (ngModelChange)="validateName('first')" nz-input />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item
    class="form-item form-item-emergency-contact form-item-emergency-contact-name form-item-emergency-contact-name-middlename ">
    <nz-form-label
      class="form-label form-label-emergency-contact form-label-emergency-contact-name form-label-emergency-contact-name-middlename"
      [nzSm]="6" [nzXs]="24" nzFor="middleName" nzRequired>
      Middle Name
    </nz-form-label>
    <nz-form-control
      class="form-control form-control-emergency-contact form-control-emergency-contact-name form-control-emergency-contact-name-middlename"
      [nzSm]="14" [nzXs]="24" [nzValidateStatus]="errorMessages.controls.middleName.state"
      [nzErrorTip]="errorMessages.controls.middleName.message">
      <input
        class="entry-control entry-control-emergency-contact entry-control-emergency-contact-name entry-control-emergency-contact-name-middlename"
        formControlName="middleName" nzPlaceHolder="Smith" (ngModelChange)="validateName('middle')" nz-input />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item
    class="form-item form-item-emergency-contact form-item-emergency-contact-name form-item-emergency-contact-name-lastname ">
    <nz-form-label
      class="form-label form-label-emergency-contact form-label-emergency-contact-name form-label-emergency-contact-name-lastname"
      [nzSm]="6" [nzXs]="24" nzFor="middleName" nzRequired>
      Last Name
    </nz-form-label>
    <nz-form-control
      class="form-control form-control-emergency-contact form-control-emergency-contact-name form-control-emergency-contact-name-lastname"
      [nzSm]="14" [nzXs]="24" [nzValidateStatus]="errorMessages.controls.lastName.state"
      [nzErrorTip]="errorMessages.controls.lastName.message">
      <input
        class="entry-control entry-control-emergency-contact entry-control-emergency-contact-name entry-control-emergency-contact-name-lastname"
        formControlName="lastName" nzPlaceHolder="Smith" (ngModelChange)="validateName('last')" nz-input />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="relationship">Relationship</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24"
    [nzValidateStatus]="errorMessages.controls.relationship.state"
    [nzErrorTip]="errorMessages.controls.relationship.message">
      <input nz-input formControlName="relationship" />
    </nz-form-control>
  </nz-form-item>
</form>
