/*approved*/
div.is-blue {
  background: #E6F7FF;
  color: #1890FF;
  border:1px solid #91D5FF;
  text-align: center;
}
div.is-yellow {
  background: #FFFBE6;
  color: #FAAD14;
  border:1px solid #FFE58F;
  text-align: center;
}

div.is-green {
  background: #F6FFED;
  color: #52C41A;
  border:1px solid #B7EB8F;
  text-align: center;
}
::ng-deep .nz-table-content {
  border:1px solid #FFE58F;
}
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00A551;
}
::ng-deep .ant-tabs-ink-bar {
  background-color: #00A551 !important;
}

.clickable {
  cursor: pointer;
}

.manager-table {
  border:1px solid #e6e5e3;
  border-radius: 5px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 1%;
}

::ng-deep .ant-table-thead>tr>th {

  background: #F5F5F5 !important;
}

::ng-deep .ant-table-column-sorters {
  float: left !important;
}
::ng-deep .ant-table-filter-column{
  float:left !important;
}
::ng-deep .ant-table-filter-open{
  color:#595959 !important;
 }
 ::ng-deep .ant-checkbox-checked .ant-checkbox-inner{
   background-color:#00A551;
   border-color:#00A551;
 }

