<div>
  <!--<nz-divider></nz-divider> -->
  <app-timesheet-header class="md:flex lg:flex xl:flex ml-8"
    [timesheetConfig]="timesheetConfig"
    [timesheet]="timesheet"
    [timeEntries]="timeEntries"
    [timesheetApprovals]="timesheetApprovals"
    [weekFirstDate]="firstday1"
    [weekLastDate]="lastday1"
    [weeklyTotalHours]="weeklyTotalHours"
    [isSubmitted]="isSubmitted">
  </app-timesheet-header>
  <nz-divider class="hidden sm:flex sm:m-2"></nz-divider>
  <exec-epp-timesheet-detail></exec-epp-timesheet-detail>
</div>
