<div>
  <app-timesheet-header class="md:flex lg:flex xl:flex ml-8"
    [approval]="(approval$ | async) ?? false"
    [timesheetConfig]="(timesheetConfig$ | async)"
    [timesheet]="(timesheet$ | async)"
    [timeEntries]="(timeEntries$ | async)"
    [timesheetApprovals]="(timesheetApprovals$ | async)"
    [weekFirstDate]="(timesheet$ | async)?.FromDate ?? null"
    [weekLastDate]="(timesheet$ | async)?.ToDate ?? null">
  </app-timesheet-header>
  <nz-divider></nz-divider>
  <router-outlet></router-outlet>
</div>
