<h3 class="w-96 h-9 mt-6 ml-6 font-semibold text-xl text-gray-800">Work timing settings</h3>

<form [formGroup]="timesheetConfigForm" (ngSubmit)="saveTimesheetConfiguration()" class="mt-4 ml-6">
    <div class="w-3/5 pt-8 pr-10 pb-8 pl-10 rounded-lg border-gray-400 border">
        <div class="flex flex-row content-center">
            <h5 class="mt-auto mb-auto font-medium text-base text-right not-italic">Start of Week: </h5>
            <nz-select id="startOfWeek" formControlName="startOfWeek" class="ml-8 w-80 h-9 rounded-sm border-gray-300">
                <nz-option nzValue="Monday" nzLabel="Monday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Tuesday" nzLabel="Tuesday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Wednesday" nzLabel="Wednesday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Thursday" nzLabel="Thursday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Friday" nzLabel="Friday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Starday" nzLabel="Starday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Sunday" nzLabel="Sunday" class="font-normal text-base not-italic"></nz-option>
            </nz-select>
        </div>
        <nz-divider></nz-divider>

        <div class="flex flex-row content-center">
            <h5 class="mt-auto mb-auto font-medium text-base not-italic">Work Week: </h5>
            <div formGroupName="workingDays" class="ml-6">
                <label class="ml-6">
                        <input type="checkbox" name="Monday" formControlName="monday" class="mr-2 w-4 h-4 rounded-sm font-normal text-base not-italic">
                        Monday
                </label>

                <label class="ml-6">
                        <input type="checkbox" name="Tuesday" formControlName="tuesday" class="mr-2 w-4 h-4 rounded-sm font-normal text-base not-italic">
                        Tuesday
                </label>

                <label class="ml-6">
                        <input type="checkbox" name="Wednesday" formControlName="wednesday" class="mr-2 w-4 h-4 rounded-sm font-normal text-base not-italic">
                        Wednesday
                </label>

                <label class="ml-6">
                        <input type="checkbox" name="Thursday" formControlName="thursday" class="mr-2 w-4 h-4 rounded-sm font-normal text-base not-italic">
                        Thursday
                </label>

                <label class="ml-6">
                        <input type="checkbox" name="Friday" formControlName="friday" class="mr-2 w-4 h-4 rounded-sm font-normal text-base not-italic">
                        Friday
                </label>

                <label class="ml-6">
                        <input type="checkbox" name="Starday" formControlName="starday" class="mr-2 w-4 h-4 rounded-sm font-normal text-base not-italic">
                        Starday
                </label>

                <label class="ml-6">
                        <input type="checkbox" name="Sunday" formControlName="sunday" class="mr-2 w-4 h-4 rounded-sm font-normal text-base not-italic">
                        Sunday
                </label>
            </div>
        </div>
        <nz-divider></nz-divider>

        <div class="flex flex-row content-center">
            <h5 class="w-32 h-5 mt-auto mb-auto font-medium text-base not-tialic">Business Hours: </h5>
            <div formGroupName="workingHours">
                <label class="ml-2 w-9 h-7 pt-0.5 pr-0 pb-0.5 pl-0 text-right font-medium text-base">
                        Min
                        <input formControlName="min" type="number" min="0.00" max="24.00" step="1" class="w-32 h-9 pt-2 pr-3 pb-2 pl-3 text-center bg-white border border-gray-300 rounded-sm">
                </label>

                <label class="ml-2 w-9 h-7 pt-0.5 pr-0 pb-0.5 pl-0 text-right font-medium text-base">
                        Max
                        <input formControlName="max" type="number" min="0.00" max="24.00" step="1" class="w-32 h-9 pt-2 pr-3 pb-2 pl-3 text-center bg-white border border-gray-300 rounded-sm">
                </label>
            </div>
        </div>
    </div>
    <button class="w-32 h-10 mt-6 rounded-sm bg-green-500 hover:bg-green-600 pt-2 pr-4 pb-2 pl-4 font-medium not-italic text-white">Save Changes</button>
</form>
