<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"> 
<title>Enterprise Project portfolio</title>
<base href="/">
<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">

<div class="container">
 <div class="leftSide">
    <div  class="img-fast-forward">
        <!-- <img src="assets/images/imgFastForward.png" height="739px" width="800px"> -->
        <img src="assets/images/imgFastForward.png" height="810px" width="700px">
    </div>
</div>

<div class="rightSide">
    <div  class="epp-logo">
        <img  src="./../../../../assets/images/Union.png" width="90" alt="EnterPrise Project portfolio Logo">
     </div>
        <div  class="excellerent-logo">
            <img  src="./../../../../assets/images/portifolio.png" width="150" alt="Excellerent Logo">
        </div>
        <div class="login-welcome-text">
            <p > Welcome,<br > Login to your account </p>
       
        </div>

        <div class="btn-div" >
            <button class="btn-group justify-center items-center onhover flex"  (click)="login()">
                <img alt="Microsoft Logo" class="ms-logo justify-center" src="assets/images/msLogo.jpg" style="margin-left: 40px; ">
                <p class="signin-ms justify-center items-center" >Sign in with Microsoft</p>
            </button>
        </div>
        


    <div  class="excellernt-main-logo">
        <img  src="./../../../../assets/images/excellerentlogo.png" alt="Excellerent Logo">
    </div>
</div>
</div>  
