<header>
<div class="breadcrumb mt-2">
  <nz-breadcrumb>
    <div nz-row>
      <div nz-col nzSpan="22">
       <nz-breadcrumb-item> <a [routerLink]="['/']">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/resourcemanagement']">Resources</a></nz-breadcrumb-item>
        <nz-breadcrumb-item *ngIf="!_employeeService.isdefault && !_employeeService.isEdit;else editEmploye">
          <a [routerLink]="['/resourcemanagement/employee/add-employee/personal-info']"> Add Employee</a></nz-breadcrumb-item> 
         <ng-template #editEmploye>
          <nz-breadcrumb-item>
            <a [routerLink]="['/resourcemanagement/employee/add-employee/personal-info']"> Edit Employee</a></nz-breadcrumb-item> 
         </ng-template>
        <h3 class="w-auto h-full font-semibold text-xl not-italic" *ngIf="!_employeeService.isdefault && !_employeeService.isEdit;else updatEmployee">Add Employee</h3>
        <ng-template #updatEmployee>
          <h3 class="w-auto h-full font-semibold text-xl not-italic"> Edit Employee</h3>
        </ng-template>
      </div>

    </div>
  </nz-breadcrumb>
  </div>
<exec-epp-page-title title="Emergency Contacts"></exec-epp-page-title>
</header>
<div nz-row >
  <div nz-col nzSpan="4">
    <exec-epp-side-bar [active]="3"> </exec-epp-side-bar>
  </div>
  <div nz-col nzSpan="20" class="inner-content">
    <div nz-row>
      <div nz-col nzSpan="20">
      </div>
      <div nz-col nzSpan="4">
        <button
          class="addButton"
          *ngIf="(authorize('Update_My_Profile') || authorize('Create_Employee') || authorize('Update_Employee') || authorize('Employee_Admin'))"
          nz-button
          nzType="primary"
          (click)="addemergencycontact()"
        >
          <span>Add Emergency Contacts</span>
        </button>
      </div>
    </div>
<br/>
    <nz-table
      class="table"
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="form.allEmergencyContacts"
    >
      <thead>
        <tr class="tr">
          <th class="table_heading">Full Name</th>
          <th class="table_heading">Relationship with Employee</th>
          <th class="table_heading">Contact Numbber</th>
          <th class="table_heading">Location</th>
          <th class="table_heading" *ngIf="(authorize('Update_My_Profile') || authorize('Create_Employee') || authorize('Update_Employee') || authorize('Employee_Admin'))">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of form.allEmergencyContacts; let i = index">
          <td class="tdstyle">
            {{
              data.FirstName +
                ' ' +
                data.FatherName +
                ' ' +
                data.GrandFatherName
            }}
          </td>
          <td class="tdstyle">{{ data.Relationship }}</td>
          <td class="tdstyle">{{ data.PhoneNumber }}</td>
          <td class="tdstyle">{{ data.Country }}</td>

          <td class="tdstyle" *ngIf="(authorize('Update_My_Profile') || authorize('Create_Employee') || authorize('Update_Employee') || authorize('Employee_Admin'))">
            <div nz-row>
              <a
                nz-col
                nzSpan="2"
                
                [hidden]="editId === data.Guid || editId !=='00000000-0000-0000-0000-000000000000'"
                (click)="startEdit(i,data.Guid)"
              >
                <i style="color:black;" nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
              &nbsp; &nbsp;
              <a nz-col nzSpan="2"
                 nz-popconfirm (click)="showConfirm(i,data.email)"
                  ><i style="color:black;" nz-icon nzType="delete" nzTheme="outline"></i
                >
                  </a>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  class="rm-form-modal"
  [(nzVisible)]="isVisible"
  [nzTitle]="addbutton + ' Emergency Contacts'"
  [nzWidth]="'60%'"
  [nzFooter]="footer"
  (nzOnCancel)="exitModal()"
  (nzOnOk)="handleOk()"
  class="layer"
  nzMaskClosable="false"
>
  <ng-container *nzModalContent
   class="layer">
    <div>
      <div style="border: 2px solid #d9d9d9; border-radius: 5px">
        <div nz-col nzSpan="24">
          <div class="overflow-scroll">
          <div class="exec-modal-tab">
            <nz-tabset class="p-2" [nzTabPosition]="'left'">
            
              <nz-tab [nzTitle]="basic" nzSelected>
                <ng-template #basic>
                  <i class="nz-icon" nz-icon [nzType]="'unordered-list'" [nzTheme]="'outline'"></i>
                  Basic Details
                </ng-template>
                <div >
                  <exec-epp-emergency-contact-detail-group></exec-epp-emergency-contact-detail-group>
                </div>
              </nz-tab>
            
            <nz-tab [nzTitle]="address">
              <ng-template #address>
                <i class="nz-icon" nz-icon [nzType]="'environment'" [nzTheme]="'outline'"></i>
                Address
              </ng-template>
              <div>
                <exec-epp-emergency-address-detail-group></exec-epp-emergency-address-detail-group>
              </div>
            </nz-tab>
          </nz-tabset>
          </div>
        </div>
        </div>
      </div>
      <br />
      <button
        nz-button
        class="addeButton"
        (click)="add()"
        [disabled]="
          !this.form.emergencyContact.valid || !this.form.emergencyAddress.valid
        "
        [title]="
          form.emergencyContact.invalid
            ? 'Enter valid contact detail.'
            : ''
            ? ''
            : form.emergencyAddress.invalid
            ? 'Enter valid address detail.'
            : ''
        "
      >
        {{ addbutton }}
      </button>
      &nbsp;
      <button nz-button class="cancelButton" (click)="resetForm()">
        Clear
      </button>
    </div>
  </ng-container>
</nz-modal>
