<div class="page-header">
    <nz-page-header style="padding: 0px 24px; box-shadow: 1px 1px 8px #aaa;">
      <nz-page-header-title>
        <img style="height: 22px" src="assets/icon_navigation_apps_24px.png">
        <img style="height: 22.48px; padding-left: 12px" src="assets/Union.png">
        <img style="height: 30.15px; padding-left: 6.37px" src="assets/Enterprise_Project_portfolio.png">
      </nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="text"><i nz-icon [nzType]="'setting'" [nzTheme]="'outline'"></i></button>
        <button nz-button nzType="text"><i nz-icon [nzType]="'question-circle'" [nzTheme]="'outline'"></i></button>
        <button nz-button nzType="text">
          <nz-badge [nzCount]="12">
            <i nz-icon [nzType]="'bell'" [nzTheme]="'outline'"></i>
          </nz-badge>
        </button>
        <button nz-button nzShape="circle" nzType="primary" nzDanger>AC</button>
      </nz-page-header-extra>
    </nz-page-header>
  </div>