.ant-btn-primary {
    border-color: #00A551;
    background: #00A551;
  }

  .ant-btn-primary:focus{
    border-color: #00A551;
    background: #00A551;
    color: #fff;
  }
  .ant-btn-primary:hover {
    border-color: #006E36;
    background: #006E36;
    color: #fff;
  }
  .ant-btn-primary:active {
    color: #fff;
    border-color: #005228;
    background: #005228;
  }