<section>
<h3 class="w-96 h-9 mt-6 ml-6 font-semibold text-xl  text-black">Time Settings</h3>

<form [formGroup]="timesheetConfigForm" (ngSubmit)="saveTimesheetConfiguration()" class="mt-4 ml-6">
    <div class="pt-8 pr-10 pb-8 pl-10 rounded-lg border-gray-400 border" *ngIf="authorize('View_Timesheet_Configuration')" style="width: 70%;">
        <div class="flex flex-row content-center">
            <h5 class="mt-auto mb-auto font-medium text-base text-right not-italic">Start of Week: </h5>
            <nz-select id="startOfWeekk" formControlName="startOfWeek" class="ml-8 w-80 h-9 rounded-sm border-gray-300">
                <nz-option nzValue="Monday" nzLabel="Monday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Tuesday" nzLabel="Tuesday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Wednesday" nzLabel="Wednesday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Thursday" nzLabel="Thursday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Friday" nzLabel="Friday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Saturday" nzLabel="Saturday" class="font-normal text-base not-italic"></nz-option>
                <nz-option nzValue="Sunday" nzLabel="Sunday" class="font-normal text-base not-italic"></nz-option>
            </nz-select>
        </div>
        <nz-divider></nz-divider>
        <div class="flex flex-row content-center">
            <h5 class="mt-auto mb-auto font-medium text-base not-italic">Working Days:</h5>
            <div formGroupName="workingDays" class="ml-6">
                <label nz-checkbox formControlName="monday">Monday</label>
                <label nz-checkbox formControlName="tuesday">Tuesday</label>
                <label nz-checkbox formControlName="wednesday">Wednesday</label>
                <label nz-checkbox formControlName="thursday">Thursday</label>
                <label nz-checkbox formControlName="friday">Friday</label>
                <label nz-checkbox formControlName="saturday">Saturday</label>
                <label nz-checkbox formControlName="sunday">Sunday</label>
            </div>
        </div>
        <nz-divider></nz-divider>

        <div class="flex flex-row content-center">
            <h5 class="w-32 h-5 mt-auto mb-auto font-medium text-base not-tialic">Working Hours: </h5>
            <div formGroupName="workingHours">
                <label class="ml-2 w-9 h-7 pt-0.5 pr-0 pb-0.5 pl-0 text-right font-medium text-base">
                        Min
                        <input formControlName="min" type="number" min="0.00" max="24.00" step="1" class="w-32 h-9 pt-2 pr-3 pb-2 pl-3 text-center bg-white border border-gray-300 rounded-sm">
                </label>

                <label class="ml-2 w-9 h-7 pt-0.5 pr-0 pb-0.5 pl-0 text-right font-medium text-base">
                        Max
                        <input formControlName="max" type="number" min="0.00" max="24.00" step="1" class="w-32 h-9 pt-2 pr-3 pb-2 pl-3 text-center bg-white border border-gray-300 rounded-sm">
                </label>
            </div>
        </div>
    </div>
    <button *ngIf="authorize('Update_Timesheet_Configuration')" nz-button nzType="primary" style="margin-top: 24px;">Save Changes</button>
</form>
</section>