<div class="header-title"> 
  <nz-layout class="inner-layout">
    <nz-sider  *ngIf="isLogin" [style.box-shadow]="{'box-shadow': 'inset -2px 0px 0px #DADADA'}"
      nzWidth="228px" nzHight="715px" class="inner-side-bar" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li  nz-menu-item [nzSelected]='activePath("/configurationmodule")' *ngIf="authorize('View_Department')">
          <i nz-icon nzType="usergroup-add" nzTheme="outline"></i><a [routerLinkActive]="['/configurationmodule']" [routerLink]="['/configurationmodule']" >Department</a>  
        </li>
        <li nz-menu-item [nzSelected]='activePath("/configurationmodule/role")' *ngIf="authorize('View_Role')">
          <i nz-icon nzType="apartment" nzTheme="outline"></i> <a [routerLink]="['/configurationmodule/role']" >Role</a>  
        </li>
        <li nz-menu-item [nzSelected]='activePath("/configurationmodule/timesheet")' *ngIf="authorize('View_Timesheet_Configuration')">
          <i nz-icon nzType="apartment" nzTheme="outline"></i> <a [routerLink]="['/configurationmodule/timesheet']" >TimeSheet</a>  
        </li>
      </ul>
    </nz-sider>
    <nz-content class="inner-content" nzWidth="978px" nzHeight="715px">
      <router-outlet></router-outlet>  
    </nz-content>
  </nz-layout>
</div>