.table_heading
{
background-color: none !important;
font-weight: 700;
}

*{
  font-family: -apple-system, system-ui, BlinkMacSystemFont !important;
}


::ng-deep .ant-table-thead>tr>th {

  background: #FFFFFF !important;
}

tr:nth-child(even) {background: none}

a {
  padding-right: 0.6vw;
  color: #262626;
}
.ant-btn-primary {
  color: #262626 !important;
  background: none !important;
  border: 1px solid #d9d9d9 !important;
}

nz-table.table-container.ant-table-wrapper {
  padding-top: 1%;
}



.main_container_homepage {
  padding: 0px 2%;
}



::ng-deep .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  content:none !important;
}



::ng-deep .ant-tabs-content-holder {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
::ng-deep .ant-table-content {
  font-size: 16px !important;
}

.ant-table-column-sorter:active {
  color: #bfbfbf;

  transition: color .3s;
}

::ng-deep .ant-table {
  border: 1px solid #ddd !important;
}




::ng-deep .ant-table-content {
  font-size: 16px !important;
}

.ant-table-column-sorter:active {
  color: #bfbfbf;

  transition: color .3s;
}

::ng-deep .ant-table {
  border: 1px solid #ddd !important;
}

::ng-deep .ant-table-column-sorters {
  margin-left: 5px;
  margin-right: 5px;
}

::ng-deep .ant-table-filter-column {
  display: inline-flex !important;
}
.manage-columns {

  padding-bottom: 10px;
}



::ng-deep ant-table-filter-trigger {
  position: relative;
  display: flex;
  align-items: center;
  margin: -40px -8px -4px 40px;
  padding: 0 4px;
  color: #bfbfbf;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;

  transition: all .3s;
}

.pagination {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #595959;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
::ng-deep .ant-table-column-sorters {
  float: left;
}
::ng-deep .ant-table-filter-column{
  float:left !important;
}

::ng-deep .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-tbody>tr>td, .ant-table.ant-table-small .ant-table-thead>tr>th, .ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small tfoot>tr>td, .ant-table.ant-table-small tfoot>tr>th {
  padding: 7px !important;
}

::ng-deep .ant-table-filter-open{
  color:#595959 !important;
 }
 ::ng-deep .ant-checkbox-checked .ant-checkbox-inner{
  background-color:#00A551;
  border-color:#00A551;
}


::ng-deep .conform-modal  {
  height: auto !important;
  }

::ng-deep .conform-modal .ant-modal-content {
border: 0.5px solid #00a551;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
width: 400px;
height: auto !important;;
background: #ffffff;
align-self: center;
justify-self: center;
}

::ng-deep .conform-modal .ant-modal-header {
  font-size: 16px;
  padding-bottom: 3px;
  color: rgba(0,0,0,.85);
  background: #fff;
  border-bottom: none; 

}
::ng-deep .conform-modal .ant-modal-body {
padding-top: 0px;
font-weight: 500;
height: 70%;
width: auto;
font-size: 16px;
line-height: 24px;
}

::ng-deep .conform-modal  .anticon svg {
font-size: 20px;
margin-bottom: 40%;
}


.btn-cancel{
  border: 1px solid #00A551;
  color:#00A551;
  padding: 5px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: white;
 border-radius: 2px;
}

.btn-cancel:hover{
  border: 1px solid #006E36;
  color:#006E36;
}
.btn-cancel:active{
  border: 1px solid #006E36;
  color:#006E36;
}

.btn {
  border: #00a551;
  color: #FFFFFF;
  padding: 5px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: #00A551;
 border-radius: 2px;
}
.btn:hover{
  background-color: #006E36;
}

.btn:active{
  background: #005228;
}

.bnt:focus{
  background-color: #00A551;
}

::ng-deep tr.ant-table-row.ng-star-inserted  {

   background-color: #F0F0F0; 
}

nz-table  {
 padding: 0px !important;

}