
  <div class=" mt-3 main_container_homepage">
 <nz-breadcrumb nz-page-header-breadcrumb >
    <nz-breadcrumb-item> <a [routerLink]="['/']">Home</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Projects</a>
    </nz-breadcrumb-item>

  </nz-breadcrumb>

  <div class="justify-between" nz-row>
    <div class="page-title"> Projects </div>

    <button class="btn" *ngIf="authorize('Create_Project')" (click)="addProjectPage()">
      Add Project
    </button>
  </div>
  <hr>
</div>
<div class="page  mt-1" *ngIf="authorize('View_Project')">
  <section class="projects main_container_homepage" >
        <div class="search" nz-row>
          <nz-input-group style="height: 33px; width: 320px;" [nzSuffix]="suffixIconSearch" [nzSize]="'large'">
            <input  [formControl]="searchProject" type="text" nz-input placeholder="Search by project name " />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
          <ng-template>Try</ng-template>
        </div>
    
    

        <nz-table style="padding: 0px;" nzSize="small" [nzLoading]="loading" [nzData]="projects" #basicTable [nzShowPagination]="false" class="mt-3 mb-2" >

        <thead>
          <tr>
            <th class="table_heading" nzColumnKey="name" [nzSortFn]="true"
              (nzSortOrderChange)="nzSortOrderChange('Project',$event)">Project Name</th>
            <th class="table_heading" nzColumnKey="gender" [nzSortFn]="true" (nzFilterChange)="ClientFilter($event)"
              [nzFilterFn]="true" [nzFilters]="cleints" (nzSortOrderChange)="nzSortOrderChange('Client',$event)">Client Name
            </th>
            <th class="table_heading" nzColumnKey="email" [nzSortFn]="true" (nzFilterChange)="statusFilter($event)"
              [nzFilterFn]="true" [nzFilters]="statuses" (nzSortOrderChange)="nzSortOrderChange('status',$event)">Status
            </th>
            <th class="table_heading" nzColumnKey="email" [nzSortFn]="true" (nzFilterChange)="supervisorFilter($event)"
              [nzFilterFn]="true" [nzFilters]="supervisors"
              (nzSortOrderChange)="nzSortOrderChange('supervisor',$event)">Supervisor Name</th>

            
            <th class="table_heading" *ngIf="authorize('Edit_Project') || authorize('Delete_Project') || authorize('View_Resources') " >
              Action</th>
          </tr>
        </thead>
        
        <tbody>

          <tr *ngFor="let data of  basicTable.data; ">
            <td>{{ data.ProjectName  }}</td>
            <td>
              <ng-template [ngIf]="data.Client?.ClientName ==='' || data.Client?.ClientName ===null "> N/A </ng-template>
              {{ data.Client?.ClientName | titlecase }}</td>
            <td>{{ data.ProjectStatus?.StatusName }}</td>
            <td>
              <ng-template [ngIf]="data.Supervisor?.Name ==='' || data.Supervisor?.Name===null "> N/A </ng-template>
              {{ data.Supervisor?.Name | titlecase }} </td>
            <td *ngIf="authorize('Edit_Project') || authorize('Delete_Project') || authorize('View_Resources') " >
              <a (click)="assignResource(data)">

                <i *ngIf="authorize('View_Resources')" nz-icon [nzType]="'team'" nzMode="inline" nzTheme="outline"
                  style="color:black;"></i>
                  &nbsp;
              </a>
             
              <a *ngIf="authorize('Update_Project')" (click)="editProject(data)" nzTooltipTitle="Edit">
                <i nz-icon nzType="edit" style="color:black;"></i>
                &nbsp;
              </a>
          
              <a *ngIf="authorize('Delete_Project')" (click)="deleteProjectConformation(data)">
                <i nz-icon nzType="delete" style="color:black;"></i>
              </a>

            </td>
          </tr>
        </tbody>
        
      </nz-table>

      <span *ngIf="total>0" class="pagination flex justify-end  ">
        Showing  {{10 * (pageIndex -1) + 1 }}  -       
        {{ 10 * (pageIndex) > total? 
          total : 10 * (pageIndex) }} of {{total}} entries
        <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" (nzPageIndexChange)="PageIndexChange($event)"
          nzSimple>
        </nz-pagination>
      </span>
  
  </section>

</div>

<nz-modal (nzOnCancel)="confirmCancel()" [(nzVisible)]="deleteProjectModal"  [nzFooter]="null"
  [nzCentered]="true" [nzClosable]="true" nzClassName="delete-conform-modal" [nzTitle]="unassingnTitleTemplate">  
  <ng-template #unassingnTitleTemplate>
   <span class="modalTitle" > 
    Delete project </span>
 </ng-template>
  <ng-container *nzModalContent>
    <p>
      Are you sure to delete this project ?<br>
      This action cannot be undone.
    </p>

    <span class="flex justify-end">
      <button class="btn mr-8" (click)="deleteProject()">Yes,Delete</button>
      <button class="btn-cancel " (click)="hidedeleteProjectModal()">Cancel</button>
    </span>
  </ng-container>
</nz-modal>


