$tableHeadingBackgroundColour:#E8FFE8 !important;
$tblRowBackgroundColour:#F9FFF9;
$addClientButtonFloat:right;
$countryCodeWidth:4.5vw !important;
$modalWindowMinHeight:61vh !important;
$footer-btn:left;
$addBtnMarginRight:1rem;
.table_heading
{
background-color: $tableHeadingBackgroundColour
}
tr:nth-child(even) {background: $tblRowBackgroundColour}

button.ant-btn {
  float: $addClientButtonFloat;
}
::ng-deep  .phone-select {
  min-width: $countryCodeWidth;
}
::ng-deep .ant-modal-footer {

  text-align: left !important;
}

::ng-deep .client-modal-window {

  min-height: $modalWindowMinHeight;
}
.footer-btn {
  float: $footer-btn;
}
button.add-btn.ant-btn {

  margin-right: $addBtnMarginRight;
}
