
.project-name-palet {    
    ///display: flex;
    
    background-color: #DCFFDC;
    ///border-radius: 2px;


    &:hover {
        background-color: #B7FFB7;
    }


    .elipses-and-hours {
        i {
            transform: rotate(90deg);
            cursor: pointer;
        }
    }
}
