.clearfix {
    display: flex;
    flex-direction: row !important;
    max-width: 25rem !important;
    vertical-align: middle !important;
}

.profile-pic {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: solid black;
}

.profile-button-add, .profile-button-delete {
    width: 100px !important;
    height: 35px !important;
    padding-right: 10px;
    color: #00A551 !important;
    border: solid 1px #00A551 !important;
    background-color: white !important;
    border-radius: 3px !important;
}

.profile-button-container {
    padding: 1% !important;
    color: #00A551 !important;
}

.profile-buttons-container {
 
    display: contents !important;
}

.profile-button-add:hover, .profile-button-add:focus, .profile-button-delete:hover, .profile-button-delete:focus {
    color: rgb(0,255,0) !important;
}