/* Form drawer */

.timesheet-date-range {
  .from-date-to-date {
    nz-date-picker {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-width: 0.5px;
      border-bottom-style: solid;
      border-bottom-color: #3e3d40;
    }
  }
}

.date-column-container {
  border-width: 2px;
  border-style: solid;
  border-color: #f52121;
  border-radius: 4px;
}

.timesheet-detail {
  //padding-top: 16px;
  padding-right: 23.5px;
  padding-bottom: 25px;
  padding-left: 23.5px;

  .save-and-clear {
    #save {
      width: 62px;
      align-items: center;

      background-color: #bfbfbf;
      border-radius: 2px;
      border-width: 1px;
      border-style: solid;
      border-color: #f5f5f5;
      color: #ffffff;

      &:enabled {
        background-color: #00a551;
      }
    }

    #clear {
      width: 65px;
      margin-left: 16px;

      background-color: #ffffff;

      color: #bfbfbf;

      &:enabled {
        border-color: #00a551;
        color: #00a551;
      }
    }
  }
}

[nz-button] {
  width: 25%;
  background-color: #00a551;
  color: #f5f5f5;
}

::ng-deep .ant-drawer-body {
  margin: 0;
  padding: 0;
}

/* For medium and big screen sizes like Tab and Desktop */
::ng-deep .ant-drawer-content-wrapper {
  width: 400px !important;
  margin-top: 9.5rem;
  border-top-left-radius: 15px;
  background-color: #ffffff;
}
