
<div class="page-title">
  <div nz-row>
    <div nz-col nzSpan="20">
      <h2> Employee Details</h2>
    </div>
    <div nz-col nzSpan="4">
      <div nz-row>
        <div nz-col nzSpan="2">
          <button nz-button (click)="Cancel()" class="cancelButton">Cancel</button>
        </div>
        <div nz-col nzSpan="2">
          <button nz-button *ngIf="(authorize('Create_Employee') || authorize('Update_Employee') || authorize('Employee_Admin'))" (click)="saveNext()" class="saveButton">{{save}}</button>
        </div>
      </div>
    </div>
