<div class="page-title">
  <div nz-row>
    <div nz-col nzSpan="20">
      <h3 class="w-auto h-full font-semibold text-xl not-italic">{{title | titlecase}}</h3>
    </div>
    <div nz-col nzSpan="4"
      *ngIf="(authorize('Create_Employee') || authorize('Update_Employee') || authorize('Employee_Admin'))">
      <div nz-row>
        <div nz-col nzSpan="8">
          <button nz-button [disabled]="isClicked" (click)="saveNext()" class="saveButton">{{save}}</button>
        </div>
        <div nz-col nzSpan="8">
          <button nz-button (click)="Cancel()" class="cancelButton">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
