<nz-layout>

  <exec-epp-page-header></exec-epp-page-header>

  <nz-content>

    <exec-epp-page-breadcrumb></exec-epp-page-breadcrumb>

    <exec-epp-page-title></exec-epp-page-title>

    <nz-layout>
      <div nz-row>
        <div nz-col nzSpan="4">
          <exec-epp-main-layout>
          </exec-epp-main-layout>
         </div>
        <div nz-col nzSpan="20" class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-layout>
  </nz-content>
  <exec-epp-page-footer></exec-epp-page-footer>
</nz-layout>

