body, * {
  font-family: 'SF Pro Display';
  background-color:#fff
}

nz-content {
  padding: 0 100px;
}
.inner-content {
  padding: 11px 24px;
}

.inner-content-menu {
  background: #fff;
  height: auto;
  padding: 0px 24px;

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 0px;

  position: absolute;
  width: 1519px;
  height: 36px;
  left: 0px;

  color: white;
  background: #595959;

}
