body, * {
  font-family: 'SF Pro Display';
}

nz-content {
  padding: 0 120px;
}

.inner-content-menu {
  background: #fff;
  height: auto;
  padding: 0 24px;
}


.inner-content {
  background: #fff;
  height: auto;
  float: left;
  padding: 0;
}