<nz-layout *ngIf="isLogin" style="background: white;" >
  <nz-content style="padding-right: 10%; padding-bottom: 3%;">

  <div>
    <h2 class="font-bold azk">Account</h2>
    <form [formGroup]="userdetail" nzSpan="24" *ngIf="authorize('User_Management_Admin')">
      <div nz-row>
        <div class="user-detail" style="margin-left: 3px;">
          <div class="user-detail-upper">
            <div class="user-detail-upper-inner">
              <div nz-row>
                <div nz-col class="gutter-row" nzSpan="24">
                  <div class="inner-box">
                    <p style="margin: 0">{{userdetailInfo.FirstName + " " + userdetailInfo.MiddleName + " " +userdetailInfo.LastName}} </p>
                  </div>
                </div>
              </div>
  
              <div nz-row >
                <div nz-col class="gutter-row" nzSpan="24">
                  <div class="inner-box">
                    <p style="font-size: 14px"> {{thePosition?.JobTitle }}</p> 
                  </div>
                </div>
              </div>
               
            </div>
            <div style="margin-top:-20px">
              <nz-avatar class="user-detail-avatar" [nzSize]="64" nzIcon="user"></nz-avatar>
            </div>
            <br />
          </div>
          <div class="user-detail-lower">
          <div class="user-detail-lower-inner">
            <div nz-row>
              <div nz-col class="gutter-row" nzSpan="24">
                <div class="inner-box">
                  <span>{{userdetailInfo.Email}}</span>
                </div>
              </div>
            </div>
            <div nz-row>
              <div nz-col class="gutter-row" nzSpan="22">
                <div class="inner-box">
                  <span>{{userdetailInfo.Tel}}</span>
                </div>
              </div>
              <div nz-col class="gutter-row" nzSpan="2">
      <a style="float:right" nz-button nzType="link" (click)="resetPassword()">RESET PASSWORD</a>
            </div>
            </div>
            <div style="margin-top:-10px">
             <a (click)="UpdateStatus()">
              <nz-switch [ngModelOptions]="{standalone: true}" [(ngModel)]="isActive" [nz-tooltip]="isActive?'User Status: Active': 'User Status: Not Active'"
              ></nz-switch>
              </a>

            
              
            </div>
          </div>
        </div>

        </div>

      </div>
    </form>
  </div>
  <nz-modal
  [nzWidth]="'410px'"
  [(nzVisible)]="isModalVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="isModalVisible=false"
  >
  <ng-template #modalTitle class="backChange">Add user to group
  </ng-template>
  
  <ng-template #modalContent>
  
    <form  [formGroup]="groupfrm" (ngSubmit)="onSaveGroups()" #form>
      <div nz-row>
          <div nz-col nzSpan="24" class="forDes">
              <div class="label">Groups
              </div>
              <nz-form-item>
                <nz-form-control [nzSpan]="24" >
                <nz-select
        nzShowSearch
        [nzShowArrow]="true"
        name = "group"
        nzMode = "tags"
        formControlName="Groups"
        placeholder="Search groups"
      >
       <nz-option *ngFor="let group of groupList" [nzValue]="group.Guid" [nzLabel]="group.Name"></nz-option>
      </nz-select>
                </nz-form-control>
              </nz-form-item>
          </div>
      </div><br>
  </form>
  <div class="addUserToGroup">
      <button nz-button nzType="primary" [ngClass]="groupfrm.invalid ? 'disableAddUser' : 'addToGroup'" [disabled]="groupfrm.invalid" (click)="onSaveGroups()" [nzLoading]="loading">
      {{ selectedGroups.length > 0? 'Update': 'Add' }}
      </button>
      &nbsp;
      <button nz-button nzType="default" [disabled]="groupfrm.invalid" (click)="handleGroupCancel()">Clear</button>
  </div>
  </ng-template>
  </nz-modal>
<br />
<div class="m-5">
  <h2 class="font-bold azk">Permission groups</h2>
  <p class="azk">
    Use groups to precisely manage a user's access & roles (e.g. give them
    access to module/s or make them an admin).
  </p>
  <div nz-row nzJustify="end">
    <div nz-col nzSpan="3"  *ngIf="authorize('Create_Group')">
      <button
        nz-button
        nzType="primary" 
        (click)="AddToGroup()"
        class="createGroupButton" 
      >
        Add to group
      </button>
    </div>
  </div>
  <div *ngIf="!isModalVisible" class="azk" style="width: auto" >
    <div nz-row >
      <div nz-col nzSpan="24">
        <nz-table
          #table
          [nzData]="listUserGroups"
          [nzFrontPagination]="false"
          style="overflow-y: auto; max-height: 20rem"
        >
          <thead>
            <tr>
              <th class="tdstyle" style="font-weight: bold;">Group</th>
              <th class="tdstyle" style="font-weight: bold;">Added on</th>
              <th class="tdstyle" style="font-weight:bold; text-align: right; margin-right: 60px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of table.data">
              <td class="tdstyle">{{ getGroupName(data?.GroupSetGuid) }}</td>
              <td class="tdstyle">{{ data?.CreatedDate | date }}</td>
              <td style="text-align: right;">
                <a
                *ngIf="authorize('Delete_Group')" (click)="onDeleteRecord(data.Guid,data.GroupSetGuid)"
                  nzTooltipPlacement="bottom"
                  nz-tooltip
                  nzTooltipTitle="Remove"
                  nzTooltipColor="#00a551"
                  nzTooltip>
                  <i nz-icon style="font-size: 16px; color: black;" nzType="close-circle" nzTheme="outline"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>

   
     
  </div>

</div>

</nz-content>
</nz-layout> 