
 <form nz-form  class="Entry-Employee-area">
  <div  style=" max-width: 600px;" [formGroup]="validateForm">
  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="The input is not a valid Name!">
      <input nz-input formControlName="firstName" id="firstName" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">First Name</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fatherName" nzRequired>Father's Name</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="The input is not a valid Name!">
      <input
        nz-input
        type="text"
        id="fatherName"
        formControlName="fatherName"
      />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Father's Name!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="grandFatherName" nzRequired>Grand Father's Name</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="text" formControlName="grandFatherName" id="grandFName" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Grand Father's Name</ng-container>

      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="personalEmail"
      nzRequired
      nzTooltipTitle="Do you want to add another email ?"

    >
      <span>Personal Email</span>
    </nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="Please input your personal email!">
      <input nz-input id="personalEmail" formControlName="personalEmail" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber"  nzRequired
    nzTooltipTitle="Do you want to add another Phone Number ?">Phone Number</nz-form-label>
    <nz-form-control
      [nzSm]="10"
      [nzXs]="24"
      nzErrorTip="Please input your phone number!"

    >
      <nz-input-group >

        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateofBirth" nzRequired>Date Of Birth</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="Please input dateofBirth!">
      <input nz-input type="date" id="dateofBirth" formControlName="dateofBirth" placeholder="dateofBirth" />
    </nz-form-control>
  </nz-form-item>

 <div >
 <div >
  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="Gender"
      nzRequired
    >
      Gender
    </nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
    >
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <nz-select formControlName="gender" >
            <nz-option    *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option">{{option}}</nz-option>
          </nz-select>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 10px;">
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="Nationality"
      nzRequired
      nzTooltipTitle="Do you want to add another Nationality ?"

    >
      Nationality
    </nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
    >
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <nz-select formControlName="nationality" >
            <nz-option    *ngFor="let option of listOfOptionNationality" [nzLabel]="option" [nzValue]="option">{{option}}</nz-option>
          </nz-select>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" style="margin-right: 70px;" (click)="addEmployee()">Next</button>
    </nz-form-control>
  </nz-form-item>

 </div>
</div>

</div>
</form>

<div class="Avatar-outer">
  <div id="Avatar" data-name="Avatar" class="Avatar">
    <div class="Avatar-1-outer">
    <div id="Avatar-1" data-name="Avatar" class="Avatar-1"><div key="0"></div>
    </div>
    </div>
    <div class="avatar-ellipse-custo-outer">
    <div id="avatar-ellipse-custo" data-name="avatar/ellipse/custom/photo" class="avatar-ellipse-custo">
      <div class="master-avatar-ellips-outer">
      <div id="master-avatar-ellips" data-name="master/avatar/ellipse/custom" class="master-avatar-ellips">
        <div class="master-plate-avatar--outer">
        <div id="master-plate-avatar-" data-name="master/plate/avatar/ellipse" class="master-plate-avatar-">
          <div class="Ellipse-outer">
          <img id="Ellipse" data-name="Ellipse" alt="Ellipse" class="Ellipse">
          </div>
        </div>
        </div>


      </div>
      </div>
    </div>
    </div>
    <div class="upload-button-medium-outer">
    <div id="upload-button-medium" data-name="upload/button/medium/default" class="upload-button-medium">
      <div class="button-solid-medium--1-outer">
      <div id="button-solid-medium--1" data-name="button/solid/medium/icon-left/outline/default" class="button-solid-medium--1">
        <div class="master-button-medium-1-outer">
        <div id="master-button-medium-1" data-name="master/button/medium/text" class="master-button-medium-1">
          <div class="content-1-outer">
          <div id="content-1" data-name="content" class="content-1">
            <div class="icon-container-2-outer">

            <div class="icon-container-3-outer">

            </div>
            <div class="Upload-new-avatar-outer">
            <div id="Upload-new-avatar" data-name="Upload new avatar" class="Upload-new-avatar">
              <button nz-button nzType="primary">Upload New Photo</button>
            </div>


            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>


