.Input-caption-messag-3{
  position:relative;
  z-index:95;
  pointer-events:none;
  margin-left:0px;
  margin-right:0px;
  flex-grow:1;
  margin-top:0px;
  margin-bottom:0px;
  min-height:20px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(140, 140, 140, 1);
  font-style:normal;
  font-family:SF Pro Display;
  font-weight:400;
  font-size:12px;
  line-height:20px;
}
