<div class="main-content">
  <div nz-row>
    <div nz-col nzSpan="5">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item routerLink="/">
          <i nz-icon [nzType]="'user'" [nzTheme]="'outline'"></i> Employees
        </li>
        <li nz-menu-item nzSelected>
          <i nz-icon [nzType]="'laptop'" [nzTheme]="'outline'"></i> Devices
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="19">
      <nz-table #basicTable [nzData]="listOfDeviceDetails" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>BusinessUnit</th>
            <th>CreatedDate</th>
            <th>InvoiceNumber</th>
            <th>DeviceName</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.BusinessUnit }}</td>
            <td>{{ data.CreatedDate }}</td>
            <td>{{ data.InvoiceNumber }}</td>
            <td>{{ data.DeviceName }}</td>
            <td>
              <i nz-icon nzType="edit" nzTheme="outline"></i>
              <i style="padding-left: 15px;" nz-icon nzType="delete" nzTheme="outline"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="pagination" style="float: right; display: inline-flex; margin-top: 16px;" *ngIf="this.pagination">
        Showing {{ this.pagination.PageSize * (this.pagination.PageIndex -1) + 1 }}-
        {{ this.pagination.PageSize * (this.pagination.PageIndex) > this.pagination.TotalRecord ? this.pagination.TotalRecord : this.pagination.PageSize * (this.pagination.PageIndex) }} of 
        {{this.pagination.TotalRecord}} entries
        <nz-pagination [nzPageSize]="this.pagination.PageSize" [nzPageIndex]="1" [nzTotal]="this.pagination.TotalRecord" nzSimple
        (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
      </div>
    </div>
  </div>
</div>