<div class="m-5">
    <h2 class="font-bold">Step 3- Education Information</h2>
    <app-button type="link" (onClick)="openModal()">
      Add Educatioin
    </app-button>
    <nz-modal
      [(nzVisible)]="isModalVisible"
      nzTitle=" + Add Education"
      nzWidth="62%" style="margin-left: 120px;"
      (nzOnCancel)="closeModal()"
    >
    <div class="m-5">  
    <ng-container *nzModalContent>
        <form [formGroup]="education" class="flex flex-col gap-5">
          
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                  <app-input
                    [form]="education"
                    fcn="Institution"
                    #institution
                    name="institution"
                    type="text"
                    label="Institution"
                    placeholder="Enter your institution name"
                    errorMsg="Please provide a valid institution name."
                    [displayError]="institution.focusout"
                   >
                  </app-input>
                </div>
              </div>
          </div>
            <div nz-row [nzGutter]="16">
              <div nz-col class="gutter-row" [nzSpan]="12">
                <div class="inner-box">
                  <app-select 
                  name="program"
                  type="select"
                  label="Field Of Study"
                  placeholder="Please select a field of study">
                  [selectedValue]="selectedValue"
                  [list]="['Computer Science', 'Project Managment', 'Software Enginering', ]">
                </app-select>
                </div>
              </div>
              </div>
              <div nz-row [nzGutter]="16">
                <div nz-col class="gutter-row" [nzSpan]="12">
                  <div class="inner-box">
                  <app-select 
                  [list]="['BSC', 'MSC' , 'PHD']"
                   name="program"
                    type="select"
                    label="Program"
                   placeholder="Please select a program">
                </app-select>
                </div>
              </div>
              </div>

          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div class="inner-box">
                <app-country-selector
                  label="Country"
                  placeholder="Enter your Country"
                  errorMsg="Country should be selected"
                ></app-country-selector>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
    </nz-modal>
  </div>

  