.heading {
    font-style: normal;
    font-weight: 500;
    color: rgba(0,0,0,.85);
    font-size: 32px;
    line-height: 24px;
}
.card-view {
    margin: 20px auto;
    border-radius: 10px;
    width:fit-content;
    min-width: 25%;
    border-width: 0.75px;
    border-color: #DADADA;
    max-width: 300px;
    margin-top:130px;
  }
  .card-info
  {
      max-width: 70% !important;
      border-color: 2px solid #8dddb4;
      font-size: 16px;
      line-height: 24px;
  }
  
.text,.navigation-btn {
    padding-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
}
  .info {
      max-width: 100%;
      font-size: large;
  }
  ::ng-deep .ant-btn-primary, .ant-btn-primary:hover{
    color: #fff;
    background-color: #00a551;
    border-color: #00a551;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
  
  }
  .ant-btn-primary:hover{
    background-color: #0faa5a;
  }
  .navigation-btn
  {
      padding-left: 0;
  }