
header { 
    padding: 0px 1.6%;
  }

  
.btn-cancel{
    border: 1px solid #00A551;
    color:#00A551;
    padding: 5px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
   border-radius: 2px;
  }
  
  .btn-cancel:hover{
    border: 1px solid #006E36;
    color:#006E36;
  }
  .btn-cancel:active{
    border: 1px solid #006E36;
    color:#006E36;
  }

  .btn {
    border: #00a551;
    color: #FFFFFF !important;
    padding: 5px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: #00A551;
   border-radius: 4px;
   height: 37px;
  }
  .btn:hover{
    background-color: #006E36;
  }

  
  .btn:active{
    background: #005228;
  }
  
  .bnt:focus{
    background-color: #00A551;
    color: #FFFFFF;
  }
  
  .btn:disabled{

    background-color:  #BFBFBF !important;
    border-color:#F5F5F5 !important; 
  }
  .btn:disabled:hover{

    background-color:  #BFBFBF !important;
    border-color:#F5F5F5 !important; 
  }
  ::ng-deep .ant-btn:active, .ant-btn:focus, .ant-btn:hover {

    background:none !important;
  
  }
  .ant-btn:not([disabled]):hover {
  
    background: #00a551 !important;
    color: white;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  .page-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  display: flex;
  align-items: center;
  color: #262626;
  }
  
.tab-content {
    padding:0px 20px 0px;
   height: 78vh;
  }
 

  ::ng-deep .ant-tabs-tab {
  color: #363636 !important;
}

::ng-deep .ant-tabs-nav {
  width: 266px !important;
  color: #363636 !important;
  font-size: 26px !important;
}




::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {

box-shadow: inset -2px 0px 0px #DADADA !important;

}

::ng-deep .ant-tabs-nav-scroll {
  display: flex !important;
  justify-content: center !important;
}


::ng-deep .ant-tabs-tab:hover {
  color: #595959 !important;
}

::ng-deep .ant-menu-item-selected[_ngcontent-lnn-c431] {
  background-color: #dcffdc !important;
}


::ng-deep .ant-tabs-tab.ant-tabs-tab-active   {
  background-color: #DCFFDC !important;
  background-color: #DCFFDC !important;
    color: #262626 !important;
}

::ng-deep  ant-tabs-tab .ant-tabs-tab-active{
  background-color: #DCFFDC !important;
      color: #262626 !important;
}

::ng-deep .ant-tabs-nav {
  font-size: 26px;
}

::ng-deep .ant-tabs-tab-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  box-shadow: inset -2px 0px 0px #DADADA;
}

::ng-deep .ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}


::ng-deep .ant-tabs-tab:hover {
  color: #262626;
}

::ng-deep ant-tabs-tab.ant-tabs-tab-active {
  background: #DCFFDC !important;
}


::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  box-shadow: inset -3px 0px 0px #EAEAEA;

}

::ng-deep .ant-tabs-ink-bar {
  box-shadow: inset -3px 0px 0px #EAEAEA !important;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #262626;
}







