
$background:red;
$color:white;
$border:red;

.button-style {
  float: right;
  background: #00a551;
  color: white;
  border: 0.5px solid #00a551;
  padding: 4px;
  font-size: 1rem;
  font-style: normal;
}
.table_heading {
  background-color: #B4DFB4 !important;
}
.clear-btn {
  background: white;
  color: #00a551;
  margin-right: 10px;

  border: 0.5px solid #00a551;
}
.border-red {
  border: 1px solid red;
}
.border-none {
  border: none;
}
.error-message {
  color: red;
}

.button-position {
  position: bottom;
}

.addButtonwhenNodata {
  background-color: #00a551;

  color: white;

  height: 40px;

  display: flex;

  margin-left: 600px;
  position: absolute;
  margin-top: -45px;
}


.action-column {
  display: flex;
}
.column-padding-center{
  padding-left: 35%;
}
::ng-deep .ant-btn-dangerous.ant-btn-primary {

  background: $background;

  color: $color;

  border: $border;
}
.add-billing-button{
  padding-bottom:0.75%;
}
::ng-deep .add-btn-wrapper{
  background: #00A551 !important;
    color: white !important;
    float: left !important;
    margin-right: 1vw;
    position: relative;

}
.ant-table-tbody>tr>td {
  border-bottom: none !important;

}
::ng-deep .ant-btn-dangerous.ant-btn-primary {
  border-color: #00A551 !important;
  background: #00A551 !important;

}
::ng-deep .ant-btn-dangerous.ant-btn-primary:hover {
  background: #00A551 !important;
}
h3{
  font-size: 16px;
}
/* You can add global styles to this file, and also import other style files */
// @import "~ng-zorro-antd/ng-zorro-antd.css";

.ant-form-item {
  margin: 0 0 0px !important;

}



// @import "tailwindcss/base";
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
