<nz-card class="card-view">
  <div class="title" style="margin-left: 30%; padding-bottom: 5%">
    <div class="union-img">
      <img style="padding-left: 12px" src="assets/images/Union.png" />
    </div>
    <div class="Epp_Project">
      <img src="assets/Enterprise_Project_portfolio.png" />
    </div>
  </div>
  <div class="heading"><p>Forgot Password?</p></div>
  
  <div style="paddig: 30px">&nbsp;</div>
  <form [formGroup]="pForgotForm">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="text">Enter your email</div>
        <input
          nz-input
          placeholder="example@email.com"
          formControlName="email"
          name="email"
          type="email"
          id="email"
        />
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <p>&nbsp;</p>
        <button
          nz-button
          [nzLoading]="loading"
          [disabled]="email?.invalid || disable"
          nzBlock
          nzType="primary"
          (click)="submit()"
          class="ant-btn-primary"
        >
          Reset Password
        </button>
        <a
          [href]="redirectUrl + '/usermanagement/logIn'"
          class="back-btn text"
          nz-button
          nzType="link"
          nzBlock
          >Back to login
        </a>
      </div>
    </div>
  </form>
</nz-card>
