<nz-card class="card-view">

  <div class="heading"><p>Forgot Password</p></div>
  <form [formGroup]="pForgotForm">
  <div nz-row>
    <div nz-col nzSpan="24">

    <div class="label">Enter your email.</div>
        <input 
          nz-input placeholder="example@email.com" 
          formControlName="email"
          name="email"
          type="email"
          id="email"
          />
    </div>
  </div>
 
  <div nz-row>
    <div nz-col nzSpan="24">
     <p>&nbsp;</p>
      <button
        nz-button
        nzLoading="false"
        [disabled]="email?.invalid"
        nzBlock
        nzType="primary"
        (click)="submit()"
      >
        Reset Password
      </button>
      <br>
      <a style="margin-top:4px" nz-button nzType="link" nzBlock title="Back to the Login Page">Cancel
    </a>
    </div>
  </div>
 </form>
</nz-card>
