.heading {
    font-style: normal;
    font-weight: 300;
    color: rgba(0,0,0,.85);
    font-size: x-large;

}
.card-view {
    margin: 20px auto;
    border-radius: 10px;
    width:fit-content;
    min-width: 30%;
    border-width: 0.75px;
    border-color: #DADADA;
    max-width: 300px;
    margin-top:130px;
  }