<nz-form-item nz-row class="register-area">
    <span class="buttons button1">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button form="myForm" nzType="primary" (click)="onBack()">Back</button>
      </nz-form-control>
    </span>
    <span class="buttons button2">
      <ng-container *ngIf="isMultiple">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button form="myForm" nzType="primary" (click)="onSubmit()">Save/New</button>
          </nz-form-control>
      </ng-container>
    </span>
    <span class="buttons button3">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button form="myForm" nzType="primary" (click)="onNext()">Save/Next</button>
      </nz-form-control>
    </span>
  </nz-form-item>
