<div class="breadcrumb">
  <nz-breadcrumb>
    <div nz-row>
      <div nz-col nzSpan="22">
        <nz-breadcrumb-item>
          <a [routerLink]="['/']">Home</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/resourcemanagement']">Resources</a></nz-breadcrumb-item>
        <nz-breadcrumb-item *ngIf="!employeeService.isdefault && !isEdit;else editEmploye">
          <a [routerLink]="['/resourcemanagement/employee/add-employee/personal-info']"> Add Employee</a>
        </nz-breadcrumb-item>
        <br/>
        <ng-template #editEmploye>
          <nz-breadcrumb-item>
            <a [routerLink]="['/resourcemanagement/employee/add-employee/personal-info']"> Edit Employee</a></nz-breadcrumb-item> <br />
         </ng-template>
        <h3 class="w-auto h-full font-semibold text-xl not-italic" *ngIf="!employeeService.isdefault && !isEdit;else updatEmployee">Add Employee</h3>
        <ng-template #updatEmployee>
          <h3 class="w-auto h-full font-semibold text-xl not-italic"> Edit Employee</h3>
        </ng-template>
      </div>

    </div>
  </nz-breadcrumb>
</div>
<exec-epp-page-title></exec-epp-page-title>
<div nz-row style="position: absolute;">
  <div nz-col nzSpan="6.5" >
    <exec-epp-side-bar [active]="0"> </exec-epp-side-bar>
  </div>
  <div nz-col nzSpan="13" class="inner-content">
      <exec-epp-personal-details-group></exec-epp-personal-details-group>

  </div>
</div>
